<div>
    <div class="row">
        <div class="col-sm-12" style="margin-bottom: 10px">

            <label class="control-label">Comment</label>
            <div class="input-group">
                <input ng-keyup="$event.keyCode == 13 && addComment()" ng-model="comment.text" type="text"  class="form-control pull-left" />
                <span class=" btn input-group-addon" ng-click="addComment()">
                    <i class="fa fa-plus"></i>
                </span>
            </div>

        </div>
    </div>

    <span class="table-responsive" style="position: relative;">
        <div ng-show="isLoading" class="loading text-center">
                        <span>
                            <i class="fa fa-spinner fa-5x fa-spin"></i>
                        </span>
        </div>

        <div class="row text-center" ng-if="!commentsRowCollection || commentsRowCollection.length == 0">
            <div class="center-block col-md-4" style="float: none;">
                <h1 aria-hidden="true"><i aria-hidden="true" class="fa fa-meh-o"></i></h1>
                <h2>No results found</h2>
            </div>
        </div>

        <table style="width: 100%; display:block;" ng-show="commentsRowCollection.length > 0" st-table="displayedCommentCollection" st-safe-src="commentsRowCollection" class="table table-hover">
            <thead>
            <tr>
                <th style="width: 20%" st-skip-natural="true" st-sort="createdOn">Created On</th>
                <th style="width: 30%" st-skip-natural="true" st-sort="createdBy">Owner</th>
                <th style="width: 50%" st-skip-natural="true" st-sort="comment">Comment</th>
                <th style="width: 10%; min-width: 96px; text-align: end;">
                    Count: {{displayedCommentCollection.length}}
                </th>
            </tr>
            </thead>
            <tbody style="height: 447px;
    display: inline-block;
    width: 100%;
    overflow: auto;">
            <tr ng-repeat="row in displayedCommentCollection">
                <td style="width: 20%">{{convertToDate(row.created_on)}}</td>
                <td style="width: 30%">{{row.created_by}}</td>
                <td ng-hide="row._editMode" style="width: 50%">
                    <span>{{row.text}}</span>
                </td>
                <td ng-show="row._editMode" style="width: 50%">
                    <input  ng-keyup="$event.keyCode == 13 && editComment(row)" type="text" ng-model="row.text" class="form-control"/>
                </td>
                <td style="width: 10%; min-width: 83px; text-align: end;">
                    <a ng-show="row._editMode" ng-click="editComment(row)" class="btn-icon btn-icon-sm  btn-gap-v btn-"><i class="glyphicon glyphicon-save"></i></a>
                    <a ng-show="!row._editMode" ng-click="commentEditMode(row)" class="btn-icon btn-icon-sm  btn-gap-v btn-default"><i class="glyphicon glyphicon-pencil"></i></a>
                    <a ng-click="editComment(row, $index, true)" ng-if="viewModeMember" class="btn-icon btn-icon-sm  btn-gap-v btn-default"><i class="glyphicon glyphicon-file"></i></a>
                    <a href="javascript:;" ng-click="deleteComment(row, $index)" class="btn-icon btn-icon-sm  btn-gap-v btn-default"><i class="glyphicon glyphicon-remove"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </span>
</div>
