<div class="modal-header">
    <h3 class="modal-title">Member : {{member.number}}</h3>
</div>
<div class="modal-body" >
    <div class="ui-tab-container ui-tab-dark">
        <div class="ui-tab">
            <tabset>
                <tab>
                    <tab-heading>
                        <span>General</span>
                    </tab-heading>
                    <div class="row">
                        <div class="col-sm-6">

                            <div  class="form-group">
                                <label class="control-label">Number</label>
                                <input ng-disabled="member.done" ng-model="member.number" type="text"  class="form-control" />
                            </div>

                            <div ng-show="member.done" class="form-group">
                                <label class="control-label">Done by</label>
                                <input ng-disabled="true" ng-model="member.done_by" class="form-control"  type="text" />
                            </div>

                            <div  class="form-group">
                                <label class="control-label">Href</label>
                                <input ng-disabled="member.id" ng-model="member.href" class="form-control"  type="text" />
                            </div>

                            <div  class="form-group">
                                <label class="control-label">Country</label>
                                <input ng-disabled="member.id" ng-model="member.location.country_name" type="text"  class="form-control" />
                            </div>

                            <div  class="form-group" ng-show="member.location.country_code">
                                <label class="control-label">Country Code</label>
                                <input ng-disabled="true" ng-model="member.location.country_code" class="form-control"  type="text" />
                            </div>

                            <div  class="form-group" ng-show="member.location.region_name">
                                <label class="control-label">Region Name</label>
                                <input ng-disabled="true" ng-model="member.location.region_name" class="form-control"  type="text" />
                            </div>

                            <div  class="form-group" ng-show="member.location.region_code">
                                <label class="control-label">Region Code</label>
                                <input ng-disabled="true" ng-model="member.location.region_code" class="form-control"  type="text" />
                            </div>

                        </div>
                        <div class="col-sm-6" ng-disabled="true">

                            <div ng-show="member.id" class="form-group ">
                                <label for>Done</label>
                                <label style="width: 100%;" class="switch switch-success"><input type="checkbox" ng-disabled="member.done" ng-model="member.done" class="ng-pristine ng-valid"><i></i></label>
                            </div>

                            <div ng-show="member.done" class="form-group">
                                <label class="control-label">Done at</label>
                                <input ng-disabled="true" ng-model="doneAt.value" class="form-control"  type="text" />
                            </div>

                            <div ng-show="member.request_ip" class="form-group">
                                <label class="control-label">Request IP</label>
                                <input ng-disabled="true" ng-model="member.request_ip" class="form-control"  type="text" />
                            </div>

                            <div class="form-group" ng-show="member.widget_name">
                                <label class="control-label">Widget</label>
                                <input ng-disabled="true" ng-model="member.widget_name" class="form-control"  type="text" />
                            </div>

                            <div  class="form-group">
                                <label class="control-label">Callback Time</label>
                                <!--<input ng-model="callbackTime" class="form-control"  type="text" />-->
                                <div class="input-group ui-datepicker">
                                    <input ng-disabled="member.done"
                                           type="text"
                                           class="form-control"
                                           datetime-picker="dd.MM.yyyy, HH:mm"
                                           ng-model="callback_time"
                                           ng-change="onChangeDate(callback_time)"
                                           is-open="calop"
                                    >
                                    <span class="btn input-group-addon" ng-click="openDate()"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>

                            <div class="form-group" ng-show="member.location.time_zone">
                                <label class="control-label">Time Zone</label>
                                <input ng-disabled="true" ng-model="member.location.time_zone" class="form-control"  type="text" />
                            </div>

                            <div class="form-group">
                                <label class="control-label">City</label>
                                <input ng-disabled="member.id" ng-model="member.location.city" class="form-control"  type="text" />
                            </div>

                        </div>
                        <div class="col-sm-12" ng-show="member.user_agent">
                            <div  class="form-group">
                                <label class="control-label">User Agent</label>
                                <input ng-disabled="true" ng-model="member.user_agent" class="form-control"  type="text" />
                            </div>
                        </div>
                    </div>
                </tab>
                <tab ng-show="!member._new">
                    <tab-heading>
                        <span>Comments</span>
                    </tab-heading>
                    <div data-ng-include="'modules/queueCallback/memberCommentPage.html'"></div>
                </tab>
                <!--<tab ng-if="!member.logs&&member.logs.lenght>0">-->
                <tab ng-if="member.logs&&member.logs.length>0">
                    <tab-heading>
                        <span>Logs</span>
                    </tab-heading>
                    <div class="row">
                        <span class="table-responsive" style="position: relative;">
                            <table style="width: 100%; display:block;" ng-show="member.logs.length > 0" st-table="displayedLogsRowCollection" st-safe-src="member.logs" class="table table-hover">
                                <thead>
                                <tr>
                                    <th style="width: 30%" st-skip-natural="true" st-sort="time">Time</th>
                                    <th style="width: 70%" st-skip-natural="true" st-sort="log">Log</th>
                                    <th style="width: 10%; min-width: 83px; text-align: end;">
                                        Count: {{displayedLogsRowCollection.length}}
                                    </th>
                                </tr>
                                </thead>
                                <tbody style="height: 447px;
                        display: inline-block;
                        width: 100%;
                        overflow: auto;">
                                <tr ng-repeat="row in displayedLogsRowCollection">
                                    <td style="width: 30%">{{convertToDate(row.time)}}</td>
                                    <td style="width: 70%">{{row.log}}</td>
                                    <td style="width: 10%; min-width: 83px; text-align: end;">
                                </tr>
                                </tbody>
                            </table>
                        </span>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button ng-show="!viewModeMember" class="btn btn-primary" type="button" ng-click="ok()">Save</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">Close</button>
</div>