<div class="page">

    <form name="callbackForm" class="panel">
        <!-- {{default}} -->
        <!--<div class="panel-heading"><strong>Domain: {{domain.name}}</strong></div>-->
        <div class="panel-body">

            <div class="row">
                <div class="col-sm-12">
                    <div class="ui-tab-container ui-tab-dark">
                        <div class="ui-tab">
                            <tabset>

                                <tab>
                                    <tab-heading>
                                        <span>General</span>
                                    </tab-heading>

                                    <div class="row">
                                        <div class="col-sm-12">

                                            <div  class="form-group" ng-class="{'has-error': callbackForm.name.$invalid}">
                                                <label class="control-label">Name</label>
                                                <input required name="name" ng-model="queueCallback['name']" type="text"  class="form-control ng-invalid ng-invalid-required" />
                                            </div>

                                            <div  class="form-group">
                                                <label class="control-label">Description</label>
                                                <textarea class="form-control ng-valid ng-dirty" ng-model="queueCallback['description']" rows="4"></textarea>
                                            </div>

                                        </div>
                                    </div>
                                </tab>


                                <tab>
                                    <tab-heading>
                                        Agents
                                    </tab-heading>

                                    <div class="row">
                                        <div class="panel-body" style="position: relative;">

                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-sm-6">
                                                        <div class="form-group" >
                                                            <div class="form-group-sm">
                                                                <label>Tiers</label>
                                                                <label class="pull-right">Count: {{tiersListFiltered.length}}</label>
                                                            </div>
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="fa fa-search text-muted"></i></span>
                                                                <input ng-model="searchTextTiers" type="text" class="form-control" placeholder="Search...">

                                                                <span  ng-click="copyList(tiersListFiltered, false, 'tiers')" class="btn input-group-addon">
                                                                    <i class="fa fa-files-o"></i>
                                                                </span>

                                                                <span  ng-click="removeTiers()"  ng-show="canUpdate" class="btn input-group-addon">
                                                                    <i class="glyphicon glyphicon-chevron-right"></i>
                                                                </span>
                                                                <span  ng-click="removeTiers(true)" ng-show="canUpdate" class="btn input-group-addon">
                                                                     <i class="glyphicon glyphicon-forward"></i>
                                                                </span>
                                                            </div>


                                                            <ul ng-init="loadAgents()" class="list-group" style="max-height:250px; overflow-y:auto; padding: 0;">
                                                                <li class="list-group-item clearfix" ng-repeat="(key, value) in tiersListFiltered = (queueCallback.agents | filter:searchTextTiers|orderBy: 'id')"
                                                                    ng-click="selTiers[agentList[value].id]=!selTiers[agentList[value].id]"
                                                                    ng-class="{'bg-info': selTiers[agentList[value].id]}">

                                                                    <span>
                                                                        {{agentList[value].id}} ({{agentList[value].name}})
                                                                    </span>


                                                                    <span class="pull-right">{{agentList[value].state}}/{{agentList[value].status}}</span>
                                                                </li>

                                                                <li class="list-group-item" ng-hide="tiersListFiltered.length">
                                                                    <p>
                                                                        Not found tiers
                                                                    </p>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">

                                                        <div class="form-group" >
                                                            <div class="form-group-sm">
                                                                <label>Agents</label>
                                                                <label class="pull-right">Count: {{getCountAgents(agentsListFiltered)}}</label>
                                                            </div>

                                                            <div class="input-group">
                                                                <span  ng-show="canUpdate"  ng-click="addTiers(true)" class="btn input-group-addon">
                                                                    <i class="glyphicon glyphicon-backward"></i>
                                                                </span>
                                                                <span  ng-show="canUpdate"  ng-click="addTiers()" class="btn input-group-addon">
                                                                    <i class="glyphicon glyphicon-chevron-left"></i>
                                                                </span>
                                                                <span  ng-click="copyList(agentsListFiltered, true, 'agents')" class="btn input-group-addon">
                                                                    <i class="fa fa-files-o"></i>
                                                                </span>

                                                                <input ng-model="searchTextAgents" type="text" class="form-control" placeholder="Search...">
                                                                <span class="input-group-addon"><i class="fa fa-search text-muted"></i></span>
                                                            </div>

                                                            <ul  class="list-group" style="max-height:250px;  overflow-y:auto; padding: 0; line-height: 0">
                                                                <li ng-show="isAgentInTier(value)"  class="list-group-item" ng-repeat="(key, value) in agentsListFiltered = (agents | filter:searchTextAgents)"
                                                                    ng-click="selAgents[value.id]=!selAgents[value.id]"
                                                                    ng-class="{'bg-info': selAgents[value.id]}">

                                                                    <span class="media">{{value.id}}</span>
                                                                    <span class="space space-xs"></span>
                                                                    <span class="media">{{value.name}}</span>
                                                                    <span class="pull-right text-muted">
                                            <span>{{value.state}}/</span>
                                            <span>{{value.status}}</span>
                                        </span>
                                                                </li>

                                                                <li class="list-group-item" ng-hide="agentsListFiltered.length">
                                                                    <p>
                                                                        Not found agents
                                                                    </p>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </tab>

                                <tab ng-if="!isNew">
                                    <tab-heading>
                                        <span>Members</span>
                                    </tab-heading>
                                    <div data-ng-controller="MemberCallbackCtrl" data-ng-include=" 'modules/queueCallback/memberPage.html' ">

                                    </div>
                                </tab>
                            </tabset>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <div class="panel-footer">
            <button ng-show="isEdit && !viewMode" type="button" ng-disabled="extensionForm.$invalid" ng-click="save()" class="btn btn-w-md btn-gap-v btn-success">Save</button>
            <button ng-show="isEdit && !isNew && !viewMode"  ng-click="cancel()" type="button" class="btn btn-w-md btn-gap-v btn-primary">Cancel</button>
            <button  type="button" ng-click="closePage()" class="btn btn-w-md btn-gap-v btn-default">Close</button>
        </div>
    </form>
</div>

{{clickToCall}}