<div class="page">

    <section class="panel">
         <!--<div class="panel-heading"><strong>Domain: {{domain.name}}</strong></div>-->
        <form class="panel-body" name="domainForm">

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group" ng-class="{ 'has-error' : domainForm.id.$invalid }">
                        <label class="control-label">Name</label>
                        <input type="text" ng-disabled="domain.id"  class="form-control" required data-ng-model="domain.name" name="id">
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : domainForm.customerId.$invalid }">
                        <label class="control-label">Customer</label>
                        <input type="text" ng-disabled="domain.id" class="form-control" name="customerId" required data-ng-model="domain.customer_id">
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : domainForm.language.$invalid }">
                        <label class="control-label">Language</label>
                        <select class="form-control" name="language" required ng-change="change('default_language')" ng-model="domain.default_language">
                            <option>ru</option>
                            <option>en</option>
                        </select>
                    </div>

                    <div ng-if="domainUsedStorage" class="form-group">
                        <p>
                        </p>
                        <blockquote class="blockquote-colored">
                            <small>Used disk space: {{domainUsedStorage}}</small>
                        </blockquote>
                    </div>

                </div>

                <div class="col-sm-6">

                    <div class="ui-tab-container ui-tab-dark">
                        <div class="ui-tab">
                            <tabset>
                                <tab>
                                    <tab-heading>
                                        <span>Variables</span>
                                    </tab-heading>
                                    <webitel-variables
                                            collection = "domain.variables"
                                            dictionary="switchVar"
                                            remvar="remVar"
                                    >
                                    </webitel-variables>
                                </tab>
                                <tab ng-if="domain.id">
                                    <tab-heading>
                                        <span>Email</span>
                                    </tab-heading>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group" ng-class="{ 'has-error' : domainForm.emailHost.$invalid }">
                                                <label class="control-label">Host</label>
                                                <input type="text" class="form-control" name="emailHost" data-ng-model="domain.email.options.host">
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group" ng-class="{ 'has-error' : domainForm.emailPort.$invalid }">
                                                <label class="control-label">Port</label>
                                                <input type="number" min="1" max="65535" class="form-control" name="emailPort" data-ng-model="domain.email.options.port">
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group" ng-class="{ 'has-error' : domainForm.emailUser.$invalid }">
                                                <label class="control-label">Login</label>
                                                <input type="text" class="form-control" name="emailUser" data-ng-model="domain.email.options.auth.user">
                                            </div>
                                        </div>
                                        
                                        <div class="col-sm-6">
                                            <div class="form-group" ng-class="{ 'has-error' : domainForm.emailPass.$invalid }">
                                                <label class="control-label">Password</label>
                                                <div class="input-group" >
                                                    <input  name="emailPass"  class="form-control" ng-model="domain.email.options.auth.pass" ng-style="{'-webkit-text-security': viewPassword ? '' : 'disc' }">
                                                <span class="input-group-btn">
                                                    <button ng-show="!viewPassword" ng-click="toggleViewPassword()" class="btn btn-default" type="button">
                                                        <i class="glyphicon glyphicon-eye-open"></i>
                                                    </button>
                                                    <button ng-show="viewPassword" ng-click="toggleViewPassword()" class="btn btn-default" type="button">
                                                        <i class="glyphicon glyphicon-eye-close"></i>
                                                    </button>
                                                </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group" ng-class="{ 'has-error' : domainForm.emailFrom.$invalid }">
                                                <label class="control-label">From</label>
                                                <input type="text" class="form-control" name="emailFrom" data-ng-model="domain.email.from">
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="col-sm-6">
                                                <div class="form-group" >
                                                    <label for>Secure</label>
                                                    <label style="width: 100%;" class="switch switch-success"><input type="checkbox" ng-model="domain.email.options.secure"><i></i></label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group" >
                                                    <button
                                                            ng-disabled="!domain.email.options.host || !domain.email.options.port || !domain.email.options.auth.user"
                                                            data-ng-click="sendTestEmail()" type="button" style="margin-top: 22px;" class="btn btn-w-xs btn-gap-v btn-success">Test</button>
                                                </div>
                                            </div>


                                        </div>

                                    </div>

                                </tab>
                                <tab ng-if="domain.id">
                                    <tab-heading>
                                        <span>Storage</span>
                                    </tab-heading>

                                    <div class="row">
                                        <div class="col-sm-1">
                                            <a ng-disabled="domain.storage.providers.s3 && domain.storage.providers.b2" ng-click="addStorage(domain)" style="padding: 0" class="btn btn-icon btn-icon-round btn-icon-sm  btn-gap-v bg-success">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </div>

                                        <div class="col-sm-11">
                                            <div class="form-group">
                                                <select ng-disabled="!domain.storage.providers.s3 && !domain.storage.providers.b2" class="form-control"  data-ng-model="domain.storage.defaultProvider">
                                                    <option ng-selected="{{!domain.storage.defaultProvider}}" value="">Webitel storage</option>
                                                    <option ng-selected="{{key==domain.storage.defaultProvider}}" data-ng-repeat="(key, params) in domain.storage.providers" value="{{key}}">{{key}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group" ng-class="{ 'has-error' : domainForm.storageExpiresDays.$invalid }">
                                                <label class="control-label color-danger">How long to keep records ({{domain.storage.expiresDays}} days) ?</label>
                                                <input type="number" min="0" max="65535" class="form-control" name="storageExpiresDays" data-ng-model="domain.storage.expiresDays">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" ng-if="domain.storage.providers.s3 || domain.storage.providers.b2">
                                        <div class="col-sm-12" ng-if="domain.storage.defaultProvider">
                                            <div class="form-group" ng-class="{ 'has-error' : !domain.storage.maskPath}">
                                                <label class="control-label">Mask path</label>
                                                <input type="text" class="form-control" required data-ng-model="domain.storage.maskPath">
                                            </div>
                                        </div>

                                        <div class="col-sm-12">
                                            <table class="table table-dynamic" style="table-layout: fixed; word-wrap: break-word;">
                                                <thead>
                                                <tr>
                                                    <th style="width: 25%">Name</th>
                                                    <th style="width: 50%">Key</th>
                                                    <th style="width: 25%"></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                    <tr data-ng-repeat="(key, params) in domain.storage.providers">
                                                        <td>
                                                            {{key}}
                                                        </td>
                                                        <td>
                                                            {{params.accountId || params.accessKeyId || params.client_email}}
                                                        </td>
                                                        <td>
                                                            <div class="pull-right">
                                                                <i ng-if="key == domain.storage.defaultProvider" class="icon glyphicon glyphicon-asterisk"></i>
                                                                <button ng-click="removeStorage(key)" ng-if="canUpdate" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-remove"></i></button>
                                                                <button ng-click="updateStorage(key, params)" ng-if="canUpdate" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-pencil"></i></button>
                                                            </div>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </tab>

                                <tab ng-if="domain.id">
                                    <tab-heading>
                                        <span>Tokens</span>
                                    </tab-heading>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <a ng-disabled="disableAction" ng-click="genApiToken()()" style="padding: 0" class="btn btn-icon btn-icon-round btn-icon-sm  btn-gap-v bg-success">
                                                <i class="fa fa-plus"></i>
                                            </a>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="row text-center ng-scope" ng-if="!tokens || tokens.length == 0">
                                                <div class="center-block col-md-4" style="float: none;">
                                                    <h1 aria-hidden="true"><i aria-hidden="true" class="fa fa-meh-o"></i></h1>
                                                    <h2>No results found</h2>
                                                </div>
                                            </div>

                                            <table ng-if="tokens.length > 0" class="table table-condensed" style="table-layout: fixed; word-wrap: break-word;">
                                                <thead>
                                                <tr>
                                                    <th style="width: 15%">
                                                        Role
                                                    </th>
                                                    <th style="width: 20%">
                                                        Expire
                                                    </th>
                                                    <th style="width: 28%">
                                                        Created by
                                                    </th>
                                                    <th style="width: 20%;">
                                                        Created on
                                                    </th>

                                                    <th style="width: 17%;"></th>
                                                </tr>
                                                </thead>

                                                <tbody>
                                                <tr ng-repeat="t in tokens" ng-class="{'bg-danger': t.expire <= Date.now(), 'bg-warning': !t.enabled}">
                                                    <td>{{t.roleName}}</td>
                                                    <td>{{timeToDateString(t.expire)}}</td>
                                                    <td>{{t.createdBy}}</td>
                                                    <td>{{timeToDateString(t.createdOn)}}</td>
                                                    <td >
                                                        <div class="pull-right">
                                                            <button ng-show="t.enabled" ng-click="setStateApiToken(t.uuid, t.enabled)" class="btn btn-sm btn-default"><i class="glyphicon glyphicon glyphicon-stop"></i></button>
                                                            <button ng-show="!t.enabled" ng-click="setStateApiToken(t.uuid, t.enabled)" class="btn btn-sm btn-default"><i class="glyphicon glyphicon glyphicon-play"></i></button>

                                                            <button ng-click="removeApiToken(t.uuid)" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-remove"></i></button>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>


                                        </div>
                                    </div>
                                </tab>
                            </tabset>
                        </div>
                    </div>
                </div>

            </div>

        </form>

        <div class="panel-footer">
            <button ng-show="isEdit" type="button" ng-disabled="domainForm.$invalid" ng-click="save()" class="btn btn-w-md btn-gap-v btn-success">Save</button>
            <button ng-show="isEdit && !isNew"  ng-click="cancel()" type="button" class="btn btn-w-md btn-gap-v btn-primary">Cancel</button>
            <button  type="button" ng-click="closePage()" class="btn btn-w-md btn-gap-v btn-default">Close</button>
        </div>

    </section> 

</div>