<div class="page">

    <section class="panel">
         <!--<div class="panel-heading"><strong>Domain: {{domain.name}}</strong></div>-->
        <form class="panel-body" name="domainForm">

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group" ng-class="{ 'has-error' : domainForm.id.$invalid }">
                        <label class="control-label">Name</label>
                        <input type="text" ng-disabled="domain.id"  class="form-control" required data-ng-model="domain.name" name="id">
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : domainForm.customerId.$invalid }">
                        <label class="control-label">Customer</label>
                        <input type="text" ng-disabled="domain.id" class="form-control" name="customerId" required data-ng-model="domain.customer_id">
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : domainForm.language.$invalid }">
                        <label class="control-label">Language</label>
                        <select class="form-control" name="language" required ng-change="change('default_language')" ng-model="domain.default_language">
                            <option>ru</option>
                            <option>en</option>
                        </select>
                    </div>

                    <div ng-if="domainUsedStorage" class="form-group">
                        <p>
                        </p>
                        <blockquote class="blockquote-colored">
                            <small>Use of disk space: {{domainUsedStorage}}</small>
                        </blockquote>
                    </div>
                </div>

                <div class="col-sm-6">

                    <div class="ui-tab-container ui-tab-dark">
                        <div class="ui-tab">
                            <tabset>
                                <tab>
                                    <tab-heading>
                                        <span>Variables</span>
                                    </tab-heading>
                                    <webitel-variables
                                            collection = "domain.variables"
                                            dictionary="switchVar"
                                            remvar="remVar"
                                    >
                                    </webitel-variables>
                                </tab>
                                <tab ng-if="domain.id">
                                    <tab-heading>
                                        <span>Email</span>
                                    </tab-heading>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group" ng-class="{ 'has-error' : domainForm.emailHost.$invalid }">
                                                <label class="control-label">Host</label>
                                                <input type="text" class="form-control" name="emailHost" data-ng-model="domain.email.options.host">
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group" ng-class="{ 'has-error' : domainForm.emailPort.$invalid }">
                                                <label class="control-label">Port</label>
                                                <input type="number" min="1" max="65535" class="form-control" name="emailPort" data-ng-model="domain.email.options.port">
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group" ng-class="{ 'has-error' : domainForm.emailUser.$invalid }">
                                                <label class="control-label">Login</label>
                                                <input type="text" class="form-control" name="emailUser" data-ng-model="domain.email.options.auth.user">
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group" ng-class="{ 'has-error' : domainForm.emailPass.$invalid }">
                                                <label class="control-label">Password</label>
                                                <input type="text" class="form-control" name="emailPass" data-ng-model="domain.email.options.auth.pass">
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group" ng-class="{ 'has-error' : domainForm.emailFrom.$invalid }">
                                                <label class="control-label">From</label>
                                                <input type="text" class="form-control" name="emailFrom" data-ng-model="domain.email.from">
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group" >
                                                <label for>Secure</label>
                                                <label style="width: 100%;" class="switch switch-success"><input type="checkbox" ng-model="domain.email.options.secure"><i></i></label>
                                            </div>
                                        </div>

                                    </div>

                                </tab>
                            </tabset>
                        </div>
                    </div>
                </div>

            </div>

        </form>

        <div class="panel-footer">
            <button ng-show="isEdit" type="button" ng-disabled="domainForm.$invalid" ng-click="save()" class="btn btn-w-md btn-gap-v btn-success">Save</button>
            <button ng-show="isEdit && !isNew"  ng-click="cancel()" type="button" class="btn btn-w-md btn-gap-v btn-primary">Cancel</button>
            <button  type="button" ng-click="closePage()" class="btn btn-w-md btn-gap-v btn-default">Close</button>
        <div>
    </section> 

</div>