<div class="modal-header">
    <h3>Send test email</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <div class="form-group" ng-class="{ 'has-error' : !email }">
                    <label class="control-label">Email</label>
                    <input class="form-control" type="text"  ng-model="email" required>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="!email" ng-click="ok()">OK</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>