
<div ng-show="show" id="phone"  class="panel panel-dark" >
   <div class="panel-heading">
        {{activeLine.state}}
        <div class="btn-group pull-right">

            <select  ng-model="status">
                <option value="row.id" ng-repeat="row in userStatus">{{row.name}}</option>
            </select>
        </div>

    </div>
 
    <ul class="list-group">

        <li class="list-group-item navigation">
            <div class="btn-group btn-group-justified">
                <a ng-class="{active: activeTab=='dialpad'}" ng-click="activeTab='dialpad'" class="btn btn-xs" title="Dialpad">
                    <img class="img-responsive center-block"  src="images/phone/tab_dialpad.png" alt="dialpad">
                </a>

                <a ng-class="{active: activeTab=='contacts'}" ng-click="activeTab='contacts'" class="btn btn-xs" title="Contacts">
                    <img class="img-responsive center-block" src="images/phone/tab_contacts.png" alt="contacts">
                </a>

                <a ng-class="{active: activeTab=='history'}"  ng-click="activeTab='history'" class="btn btn-xs" title="History">
                    <img class="img-responsive center-block" src="images/phone/tab_callog.png" alt="history">
                </a>
            </div>

        </li>

        <li ng-show="activeTab=='dialpad'" class="list-group-item dialpad-tab fadein fadeout" >

             <ul class="list-group" style="margin: 0;">
                <li class="list-group-item">
                    <div class="input-group input-phone-conteiner" >
                        <input type="text" ng-model="activeLine.number" placeholder="sip uri" class="phonenumber form-control">
                        <span class="input-group-btn" ng-show="false && activeLine.number" ng-click="activeLine.number = activeLine.number.substr(0,activeLine.number.length - 1)">
                            <img class="btn"  src="images/phone/btn_backspace_txt.png">
                        </span>
                    </div>
                     <div ng-show="activeLine.call" class="input-group" style="width: 100%;">
                        <span href="javascript:;" class="">{{activeLine.call.time}}</span>
                        <span href="javascript:;" class="pull pull-right">{{activeLine.call.direction}}</span>
                    </div>
                    <div ng-show="activeLine.call" class="input-group" style="width: 100%; ">
                        <span href="javascript:;" class="">{{activeLine.call.name}}</span>
                        <a class="fa fa-comments-o pull-right"></a>
                        <a class="fa fa-microphone pull-right"></a>
                    </div> 
                    <div style="border-bottom: 3px solid #4d4d4d;">
                    </div>
                    
                </li>
                <li class="t-lines">
                    <div class="btn-group btn-group-justified">
                        <a ng-class="{active: row.name == activeLine.name}" class="btn btn-w-md btn-gap-v btn-round" ng-click="changeLine(key, row)" ng-repeat="(key, row) in lines">{{row.name}}</a>
                    </div>

                </li>


                <li class="list-group-item">
                    <div class="content-container dialpad">
                        <div class="dialPad compact" >
                            <div class="dials">
                                <ol>
                                    <li ng-click="activeLine.number = activeLine.number + '1'" class="digits">
                                        <p><strong>1</strong></p>
                                    </li>
                                    <li ng-click="activeLine.number = activeLine.number + '2'" class="digits">
                                        <p><strong>2</strong><sup>abc</sup></p>
                                    </li>
                                    <li  ng-click="activeLine.number = activeLine.number + '3'" class="digits">
                                        <p><strong>3</strong><sup>def</sup></p>
                                    </li>
                                    <li ng-click="activeLine.number = activeLine.number + '4'" class="digits">
                                        <p><strong>4</strong><sup>ghi</sup></p>
                                    </li>
                                    <li ng-click="activeLine.number = activeLine.number + '5'" class="digits">
                                        <p><strong>5</strong><sup>jkl</sup></p>
                                    </li>
                                    <li ng-click="activeLine.number = activeLine.number + '6'" class="digits">
                                        <p><strong>6</strong><sup>mno</sup></p>
                                    </li>
                                    <li ng-click="activeLine.number = activeLine.number + '7'" class="digits">
                                        <p><strong>7</strong><sup>pqrs</sup></p>
                                    </li>
                                    <li ng-click="activeLine.number = activeLine.number + '8'" class="digits">
                                        <p><strong>8</strong><sup>tuv</sup></p>
                                    </li>
                                    <li ng-click="activeLine.number = activeLine.number + '9'" class="digits">
                                        <p><strong>9</strong><sup>wxyz</sup></p>
                                    </li>
                                    <li ng-click="activeLine.number = activeLine.number + '*'" class="digits">
                                        <p><strong>*</strong></p>
                                    </li>
                                    <li ng-click="activeLine.number = activeLine.number + '0'" class="digits">
                                        <p><strong>0</strong><sup>+</sup></p>
                                    </li>
                                    <li ng-click="activeLine.number = activeLine.number + '#'" class="digits">
                                         <p><strong>#</strong></p>
                                    </li>
                                </ol>
                            </div>
                        </div>
     
                    </div>
                </li>

                <li class="list-group-item" style="border-top: 3px solid #4d4d4d; background-color: #242633;">
                    <div class="btn-group btn-group-justified">
                        <a class="btn btn-xs">
                            <img src="images/phone/btn_voicemail_txt_big.png" alt="numpad">
                        </a>
                        <a ng-show="activeLine.call" ng-click="hangup()" class="btn  btn-xs ">
                            <!-- <img src="images/phone/btn_hangup_txt.png" alt="hangup"> -->
                            <i class="fa fa-phone fa-3x hangup-call"></i>
                         </a>
                         <a ng-show="activeLine.state == 'active'" ng-click="hold()" class="btn  btn-xs">
                           <!--  <img src="images/phone/btn_hold_txt.png" alt="hold"> -->
                           <i class="fa fa-pause fa-2x hold-call"></i>
                         </a>
                        <a ng-show="!activeLine.state || activeLine.state=='rinding' || activeLine.state=='hold'" ng-click="call()" class="btn  btn-xs">
                            <i class="fa fa-phone fa-3x answer-call"></i>
                         </a>
                         <a class="btn  btn-xs">
                            <!-- <i class="fa fa-comments-o fa-3x"></i> -->
                            <img src="images/phone/icon_message.png" id="btn_message_img" alt="message">
                         </a>   
                     </div>
                </li>

            </ul>

        </li>

        <li ng-show="activeTab=='contacts'" class="list-group-item fadein fadeout">
            <div style="width: 100px">
                ss
            </div>

        </li>

        


    </ul>
</div>