<div class="page">

    <form name="extensionForm" class="panel">
        <!-- {{default}} -->
        <!--<div class="panel-heading"><strong>Domain: {{domain.name}}</strong></div>-->
        <div class="panel-body" ng-show="diagramOpened" style="position: relative; padding: 0;">
            <div class="row" style="height: -webkit-fill-available; height: -moz-available; margin-bottom: -10px;">
                <div id='root'></div>
            </div>
            <div class="row" style="position: fixed; bottom: 20px; left: 42%; z-index: 2001;">
                <button ng-show="!viewMode" type="button" ng-click="saveDiagram()" class="btn btn-w-md btn-gap-v btn-success">Save</button>
                <button ng-click="openDiagram(false)" type="button" class="btn btn-w-md btn-gap-v btn-primary">Close</button>
                <button ng-click="onDebugDiagram()" type="button" class="btn btn-w-xs btn-gap-v btn-dark" style="min-width: 35px"><i class="fa fa-bug"></i></button>
            </div>
        </div>
        <div class="panel-body" ng-hide="diagramOpened" style="position: relative;">
            <div class="row">

                <div class="col-sm-12">

                    <div class="col-sm-4">
                        <div class="form-group" ng-class="{ 'has-error' : extensionForm.name.$invalid }">
                            <label class="control-label">Name</label>
                            <input ng-disabled="viewMode" type="text" name="name" required class="form-control"  placeholder="Name" ng-model="extension.name">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group" ng-class="{ 'has-error' : extensionForm.number.$invalid }">
                            <label class="control-label">Number</label>
                            <input ng-disabled="viewMode" type="text" name="number" required class="form-control"  placeholder="Number" ng-model="extension.destination_number">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label">Time zone</label>
                        <input ng-disabled="viewMode" typeahead-editable="false" typeahead-focus-on-select="true" typeahead-select-on-exact="true" typeahead-on-select="onSelectTimeZone" type="text" class="form-control"  placeholder="Time zone" ng-model="extension.fs_timezone"  typeahead="zone as zone.name for zone in timeZones | filter:{name:$viewValue}" >
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="ui-tab-container ui-tab-dark">
                        <div class="ui-tab">
                            <tabset>
                                <tab>
                                    <tab-heading>
                                        <span>Callflow</span>
                                    </tab-heading>
                                    <div class="form-group">
                                        <div class="row" style="margin-left: 0;">
                                            <a ng-click="openDiagram(true)" type="button" class="btn-icon btn-icon-sm btn-gap-v btn-dark">
                                                <i class="fa fa-sitemap"></i>
                                            </a>
                                            <a ng-click="disableVisual()" ng-show="visualCfEnabled" type="button" class="btn-icon btn-icon-sm btn-gap-v btn-danger">
                                                <i class="fa fa-code"></i>
                                            </a>
                                            <a ng-click="createVisual()" ng-show="!visualCfEnabled" type="button" class="btn-icon btn-icon-sm btn-gap-v btn-success">
                                                <i class="fa fa-cogs"></i>
                                            </a>
                                        </div>
                                        <div ng-readonly="viewMode||visualCfEnabled" ng-model="$parent.cf" ui-ace="{
									  useWrapMode : true,
									  showGutter: true,
									  theme:'github',
									  mode: 'json',
									  onLoad: aceLoaded,
									  onChange: aceChanged,
									  require: ['ace/ext/language_tools'],
									  advanced: {
										  enableSnippets: true,
										  enableBasicAutocompletion: true,
										  enableLiveAutocompletion: true
									  }
									}" class="json-control">

                                        </div>
                                    </div>
                                </tab>

                                <tab>
                                    <tab-heading>
                                        <span>On disconnect</span>
                                    </tab-heading>
                                    <div class="form-group">
                                        <div ng-readonly="viewMode" data-ng-model="$parent.cfOnDisconnect" ui-ace="{
									  useWrapMode : true,
									  showGutter: true,
									  theme:'github',
									  mode: 'json',
									  onLoad: aceLoaded,
									  onChange: aceChanged,
									  require: ['ace/ext/language_tools'],
									  advanced: {
										  enableSnippets: true,
										  enableBasicAutocompletion: true,
										  enableLiveAutocompletion: true
									  }
									}" class="json-control">

                                        </div>
                                    </div>
                                </tab>
                            </tabset>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="panel-footer" ng-hide="diagramOpened">
            <button ng-show="isEdit && !viewMode" type="button" ng-disabled="extensionForm.$invalid" ng-click="save()" class="btn btn-w-md btn-gap-v btn-success">Save</button>
            <button ng-show="isEdit && !isNew && !viewMode"  ng-click="cancel()" type="button" class="btn btn-w-md btn-gap-v btn-primary">Cancel</button>
            <button  type="button" ng-click="closePage()" class="btn btn-w-md btn-gap-v btn-default">Close</button>
            <!--<button ng-click="openDiagram(true)" type="button" class="btn btn-w-md btn-gap-v btn-dark">Visual designer</button>-->
            <!--<button ng-click="disableVisual()" ng-show="(visualCfEnabled && isCf) || (visualOnDiscEnabled && !isCf)" type="button" class="btn btn-w-md btn-gap-v btn-danger pull-right">Disable visual</button>-->
        </div>
    </form>
</div>