<div class="page">

    <div class="panel">
        <div  name="hookForm"  class="panel-body">

            <div class="row">
                <div class="col-sm-12">
                    <div class="ui-tab-container ui-tab-dark">
                        <div class="ui-tab">
                            <tabset>
                                <tab>
                                    <tab-heading>
                                        <span>Hook</span>
                                    </tab-heading>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group" ng-class="{ 'has-error' : !hook.action.url }">
                                                <label class="control-label">URI</label>
                                                <input ng-disabled="viewMode" type="text" name="url" class="form-control" required data-ng-model="hook.action.url">
                                            </div>

                                            <div class="form-group" ng-class="{ 'has-error' : hookForm.method.$invalid }">
                                                <label class="control-label">Method</label>
                                                <select ng-disabled="viewMode" class="form-control" name="method" ng-model="hook.action.method">
                                                    <option>GET</option>
                                                    <option>POST</option>
                                                    <option>PUT</option>
                                                    <option>DELETE</option>
                                                </select>
                                            </div>

                                            <div class="form-group" ng-class="{ 'has-error' : !hook.event}">
                                                <label class="control-label" >Event</label>
                                                <select ng-disabled="viewMode" class="form-control" name="event" ng-model="hook.event" required >
                                                    <option ng-repeat="option in EVENTS" value="{{option}}">{{option}}</option>
                                                </select>
                                            </div>

                                            <div class="form-group" >
                                                <label for>Description</label>
                                                <input ng-disabled="viewMode" type="text" class="form-control" data-ng-model="hook.description" style="">
                                            </div>

                                            <div class="form-inline">
                                                <div class="form-group" >
                                                    <label for>Enable</label>
                                                    <label style="width: 100%;" class="switch switch-success"><input ng-disabled="viewMode" type="checkbox" ng-model="hook.enable"><i></i></label>
                                                </div>
                                                <div class="form-group " >
                                                    <label for>Auth</label>
                                                    <label style="width: 100%;" class="switch switch-success"><input ng-disabled="viewMode" type="checkbox" ng-model="hook.auth.enabled"><i></i></label>
                                                </div>

                                                <div class="form-group " >
                                                    <label for>Custom body</label>
                                                    <label style="width: 100%;" class="switch switch-success"><input ng-disabled="viewMode" type="checkbox" ng-model="hook.customBody"><i></i></label>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-sm-6">
                                            <div class="ui-tab-container ui-tab-dark">
                                                <div class="ui-tab">
                                                    <tabset>

                                                        <tab>
                                                            <tab-heading>
                                                                <span>Filters</span>
                                                            </tab-heading>

                                                            <div w-dictionary select="{operation: ['==','!=','>','>=','<','<=','reg']}" fields="['name', 'operation', 'value']" data="hook._filters"></div>
                                                        </tab>

                                                        <tab>
                                                            <tab-heading>
                                                                <span>Data</span>
                                                            </tab-heading>
                                                            <div ng-show="!hook.customBody" w-dictionary fields="['field', 'name']" data="hook._map"></div>
                                                            <div ng-show="hook.customBody" class="form-group">
                                                                <div ng-readonly="viewMode" ng-model="json.body" ui-ace="{
                                                                  onLoad: aceLoaded,
                                                                  onChange: aceChanged,
                                                                  useWrapMode : true,
                                                                  showGutter: true,
                                                                  theme:'github',
                                                                  mode: 'json',

                                                                  require: ['ace/ext/language_tools'],
                                                                  advanced: {
                                                                      enableSnippets: true,
                                                                      enableBasicAutocompletion: false,
                                                                      enableLiveAutocompletion: false
                                                                  }
                                                                }" class="json-control">

                                                                </div>
                                                            </div>
                                                        </tab>

                                                        <tab>
                                                            <tab-heading>
                                                                <span>Headers</span>
                                                            </tab-heading>

                                                            <div w-dictionary fields="['name', 'value']" data="hook._headers"></div>
                                                        </tab>

                                                    </tabset>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </tab>

                                <tab ng-if="hook.auth.enabled">
                                    <tab-heading>
                                        <span>Auth</span>
                                    </tab-heading>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group" ng-class="{ 'has-error' : !hook.auth.url }">
                                                <label class="control-label">Auth URI</label>
                                                <input ng-disabled="viewMode" type="text" name="authUrl" class="form-control" required data-ng-model="hook.auth.url">
                                            </div>

                                            <div class="form-group" ng-class="{ 'has-error' : !hook.auth.method }">
                                                <label class="control-label">Method</label>
                                                <select ng-disabled="viewMode" class="form-control" name="authMethod" ng-model="hook.auth.method">
                                                    <option>GET</option>
                                                    <option>POST</option>
                                                    <option>PUT</option>
                                                    <option>DELETE</option>
                                                </select>
                                            </div>

                                            <div class="form-group " >
                                                <label for>Export cookie</label>
                                                <label style="width: 100%;" class="switch switch-success"><input ng-disabled="viewMode" type="checkbox" ng-model="hook.auth.cookie"><i></i></label>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="ui-tab-container ui-tab-dark">
                                                <div class="ui-tab">
                                                    <tabset>
                                                        <tab>
                                                            <tab-heading>
                                                                <span>Data</span>
                                                            </tab-heading>
                                                            <div w-dictionary fields="['name', 'value']" data="hook.auth._map"></div>
                                                        </tab>

                                                        <tab>
                                                            <tab-heading>
                                                                <span>Headers</span>
                                                            </tab-heading>

                                                            <div w-dictionary fields="['name', 'value']" data="hook.auth._headers"></div>
                                                        </tab>

                                                    </tabset>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </tab>
                            </tabset>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-footer">
            <!--<btn-save-exit save="save" save-exit="save"></btn-save-exit>-->
            <button ng-show="isEdit && !viewMode" type="button" ng-disabled="!hook.action.url || !hook.event || !hook.event || (hook.auth.enabled && (!hook.auth.url || !hook.auth.method))" ng-click="save()" class="btn btn-w-md btn-gap-v btn-success">Save</button>
            <button ng-show="isEdit && !isNew && !viewMode"  ng-click="cancel()" type="button" class="btn btn-w-md btn-gap-v btn-primary">Cancel</button>
            <button  type="button" ng-click="closePage()" class="btn btn-w-md btn-gap-v btn-default">Close</button>
        </div>

    </div>

</div>