<div class="page">

    <div class="panel">

        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group" >
                        <label for>URI</label>
                        <input type="text" class="form-control ng-animate ng-dirty ng-invalid ng-invalid-required" required data-ng-model="hook.action.url" style="">
                    </div>

                    <div class="form-group">
                        <label for>Method</label>
                        <select class="form-control" ng-model="hook.action.method">
                            <option>GET</option>
                            <option>POST</option>
                            <option>PUT</option>
                            <option>DELETE</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for>Event</label>
                        <select class="form-control" ng-model="hook.event" >
                            <option ng-repeat="option in EVENTS" value="{{option}}">{{option}}</option>
                        </select>
                    </div>

                    <div class="form-group" >
                        <label for>Description</label>
                        <input type="text" class="form-control ng-animate ng-dirty ng-invalid ng-invalid-required" required data-ng-model="hook.description" style="">
                    </div>

                    <div class="form-group" >
                        <label for>Enable</label>
                        <label style="width: 100%;" class="switch switch-success"><input type="checkbox" ng-model="hook.enable" class="ng-valid ng-dirty"><i></i></label>
                    </div>

                </div>

                <div class="col-sm-6">
                    <div class="ui-tab-container ui-tab-dark">
                        <div class="ui-tab">
                            <tabset>
                                <tab>
                                    <tab-heading>
                                        <span>Filters</span>
                                    </tab-heading>
                                    <a ng-click="hook._filters.push({})" style="padding: 0" class="btn btn-icon btn-icon-round btn-icon-sm  btn-gap-v bg-success">
                                        <i class="fa fa-plus"></i>
                                    </a>

                                    <ul class="list-group" style="max-height:250px; overflow-y:auto; padding: 0;">
                                        <li class="list-group-item clearfix" ng-repeat="(i, item) in hook._filters">

                                            <div class="col-sm-5">
                                                <input type="text" class="form-control ng-animate ng-dirty ng-invalid ng-invalid-required" required data-ng-model="item.name" style="">
                                            </div>
                                            <div class="col-sm-2">
                                                <select class="form-control" ng-model="item.operation">
                                                    <option value="==">==</option>
                                                    <option value="!=">!=</option>
                                                    <option value=">"> > </option>
                                                    <option value=">="> >= </option>
                                                    <option value="<"> < </option>
                                                    <option value="<="> <= </option>
                                                    <option value="reg"> reg </option>
                                                </select>
                                            </div>

                                            <div class="col-sm-4">
                                                <input type="text" class="form-control ng-animate ng-dirty ng-invalid ng-invalid-required" required data-ng-model="item.value" style="">
                                            </div>

                                            <div class="col-sm-1">
                                                <a href="javascript:;" ng-click="hook._filters.splice(i, 1)" style="border: 0" class="form-control text-muted ng-scope"><i class="glyphicon glyphicon-remove"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                </tab>

                                <tab>
                                    <tab-heading>
                                        <span>Columns</span>
                                    </tab-heading>
                                    <a ng-click="hook._map.push({})" style="padding: 0" class="btn btn-icon btn-icon-round btn-icon-sm  btn-gap-v bg-success">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                    <ul class="list-group" style="max-height:250px; overflow-y:auto; padding: 0;">
                                        <li class="list-group-item clearfix" ng-repeat="(i, item) in hook._map">
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control ng-animate ng-dirty ng-invalid ng-invalid-required" required data-ng-model="item.field" style="">
                                            </div>
                                            <div class="col-sm-5">
                                                <input type="text" class="form-control ng-animate ng-dirty ng-invalid ng-invalid-required" required data-ng-model="item.name" style="">
                                            </div>
                                            <div class="col-sm-1">
                                                <a href="javascript:;" ng-click="hook._map.splice(i, 1)" style="border: 0" class="form-control text-muted ng-scope"><i class="glyphicon glyphicon-remove"></i></a>
                                            </div>
                                        </li>
                                    </ul>
                                </tab>
                            </tabset>
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="panel-footer">
            <!--<btn-save-exit save="save" save-exit="save"></btn-save-exit>-->
            <button ng-show="isEdit" type="button" ng-click="save()" class="btn btn-w-md btn-gap-v btn-success">Save</button>
            <button ng-show="isEdit && !isNew"  ng-click="cancel()" type="button" class="btn btn-w-md btn-gap-v btn-primary">Cancel</button>
            <button  type="button" ng-click="closePage()" class="btn btn-w-md btn-gap-v btn-default">Close</button>
        </div>

    </div>

</div>