<div class="modal-header">
    <h3 class="modal-title">Call result</h3>
</div>
<div class="modal-body">
    <form name="itemForm">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group" ng-class="{ 'has-error' : itemForm.name.$invalid }">
                    <label class="control-label">Name</label>
                    <input type="text" class="form-control" name="name" required ng-model="item.name"> </input>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group" ng-class="{ 'has-error' : itemForm.type.$invalid }">
                    <label for>Type</label>
                    <select class="form-control" name="type" ng-model="item.type">
                        <option value="t">success: true</option>
                        <option value="f">success: false</option>
                        <option value="n">schedule a call time</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="row" style="margin-left: -10px">
                    <label style="padding-left: 12px;">Items</label>
                    <table class="table">
                        <thead >
                        <tr>
                            <th class="text-center" style="border-bottom: unset">
                                <input type="text" class="form-control" name="itemText" ng-model="itemText"> </input>
                            </th>
                            <th class="text-center" style="border-bottom: unset">
                                <button class="btn btn-default" ng-click="addItems()">Add</button>
                            </th>
                        </tr>
                        </thead>

                        <tbody class="text-center">

                        <tr ng-repeat="row in item.items">
                            <td style="text-align: left;">
                                <span style="margin-left: 12px;">{{row}}</span>
                            </td>
                            <td>
                                <a href="javascript:;" ng-disabled="viewMode" ng-click="removeItems($index);" class="btn-icon btn-icon-sm  btn-gap-v btn-default"><i class="glyphicon glyphicon-remove"></i></a>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-success" ng-disabled="itemForm.$invalid" type="button" ng-click="ok()">Save</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
</div>