<div class="row">
    <div class="col-sm-12">

        <div class="form-group">
            <!--<label style="padding-left: 12px;">Ranges</label>-->
            <table class="table">
                <thead ng-class="{'bg-danger': _hourError, 'bg-gray':!_hourError}">
                <tr>
                    <th style="width: 100px">
                        Code
                    </th>
                    <th>
                        Name
                    </th>
                    <th colspan="3" style="text-align: center">
                        Time range
                    </th>

                    <th>
                        Priority
                    </th>

                    <th>
                        Attempts
                    </th>

                    <th>
                    </th>
                </tr>
                <tr>
                    <th>
                        <input ng-disabled="viewMode" typeahead-editable="true"
                               autocomplete="off"
                               typeahead-focus-on-select="true"
                               typeahead-select-on-exact="true"
                               type="text"
                               name="rangeTypeName"
                               class="form-control"
                               placeholder="Code"
                               ng-model="rangeType.code"
                               typeahead="type.code as type.code for type in (dialer.communications.types || []) | filter:{code:$viewValue}" >
                    </th>

                    <th style="border-right-style: solid;">
                        <input ng-disabled="viewMode" typeahead-editable="true"
                               autocomplete="off"
                               typeahead-focus-on-select="true"
                               typeahead-select-on-exact="true"
                               type="text"
                               name="rangeTypeName"
                               class="form-control"
                               placeholder="Name"
                               ng-model="rangeType.name"
                               typeahead="type.name as type.name for type in (dialer.communications.types || []) | filter:{name:$viewValue}" >
                    </th>


                    <th class="text-center">
                        <div class="form-inline">
                            <select ng-disabled="viewMode" class="form-control" data-ng-model="rangeType.startHour">
                                <option value="{{i}}" ng-selected="{{i==rangeType.startHour}}" ng-repeat="i in getNumber(24) track by $index">{{i}}</option>
                            </select>
                            <label>:</label>
                            <select ng-disabled="viewMode" class="form-control" data-ng-model="rangeType.startMinute">
                                <option value="{{i}}" ng-selected="{{i==rangeType.startMinute}}" ng-repeat="i in getNumber(60) track by $index">{{i}}</option>
                            </select>
                        </div>

                    </th>
                    <th class="text-center" style="vertical-align: middle;">
                        to
                    </th>
                    <th class="text-center">
                        <div class="form-inline">
                            <select ng-disabled="viewMode" class="form-control" ng-model="rangeType.endHour">
                                <option value="{{i}}" ng-selected="{{i==rangeType.endHour}}" ng-repeat="i in getNumber(24) track by $index">{{i}}</option>
                            </select>
                            <label>:</label>
                            <select ng-disabled="viewMode" class="form-control" data-ng-model="rangeType.endMinute" ng-init="17">
                                <option value="{{i}}" ng-selected="{{i==rangeType.endMinute}}" ng-repeat="i in getNumber(60) track by $index">{{i}}</option>
                            </select>
                        </div>
                    </th>

                    <th >
                        <input ng-disabled="viewMode" class="form-control" type="number"  ng-model="rangeType.priority" style="max-width: 70px; "
                               min="0" max="999">
                    </th>

                    <th>
                        <input ng-disabled="viewMode" class="form-control" type="number"  ng-model="rangeType.attempts" style="max-width: 70px;"
                               min="0" max="999">
                    </th>

                    <th class="text-center">
                        <button ng-disabled="viewMode" class="btn btn-default" ng-click="addRangeType(rangeType, dialer.communications)">Add</button>
                    </th>
                </tr>
                </thead>

                <tbody class="text-center">
                <tr ng-repeat-start="(key, rowName) in dialer.communications.types | orderBy:'priority'" ng-class="{'bg-danger': row._error}">
                    <td  ng-if="rowName.code != _editRangeRowKey" style="text-align: left">
                        <h5>
                            {{rowName.code}}
                        </h5>
                    </td>
                    <td  ng-if="rowName.code == _editRangeRowKey" style="text-align: left">
                        <input class="form-control" type="text" ng-model="_editRangeRowRow.code">
                    </td>

                    <td  ng-if="rowName.code != _editRangeRowKey" style="text-align: left">
                        <h5>
                            {{rowName.name}}
                        </h5>
                    </td>
                    <td  ng-if="rowName.code == _editRangeRowKey"  style="text-align: left">
                        <input class="form-control" type="text" ng-model="_editRangeRowRow.name">
                    </td>

                    <td colspan="5">

                    </td>
                    <td>
                        <button ng-disabled="viewMode" ng-if="_editRangeRowKey == rowName.code" ng-click="saveRangeName(_editRangeRowRow, rowName, dialer.communications.types)" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-save"></i></button>
                        <button ng-disabled="viewMode" ng-if="_editRangeRowKey != rowName.code" ng-click="editRangeName(rowName, rowName.code)" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-pencil"></i></button>
                        <button ng-disabled="viewMode" ng-click="removeRangeName(key, dialer.communications.types);" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-remove"></i></button>
                    </td>
                </tr>
                <tr ng-repeat-end data-ng-repeat="(key, range) in rowName.ranges | orderBy:'startTime'">
                    <td>

                    </td>
                    <td>

                    </td>
                    <td ng-if="rowName.code + $index != _editRangeRowKey">
                        {{minuteOfDayToString(range.startTime)}}
                    </td>
                    <td ng-if="rowName.code + $index == _editRangeRowKey">
                        <div class="form-inline">
                            <select class="form-control" ng-model="_editRangeRowRow.startHour">
                                <option value="{{i}}" ng-selected="{{i==_editRangeRowRow.startHour}}" ng-repeat="i in getNumber(24) track by $index">{{i}}</option>
                            </select>
                            <label>:</label>
                            <select class="form-control" data-ng-model="_editRangeRowRow.startMinute" ng-init="17">
                                <option value="{{i}}" ng-selected="{{i==_editRangeRowRow.startMinute}}" ng-repeat="i in getNumber(60) track by $index">{{i}}</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        -
                    </td>
                    <td ng-if="rowName.code + $index != _editRangeRowKey">
                        {{minuteOfDayToString(range.endTime)}}
                    </td>
                    <td ng-if="rowName.code + $index == _editRangeRowKey">
                        <div class="form-inline">
                            <select class="form-control" ng-model="_editRangeRowRow.endHour">
                                <option value="{{i}}" ng-selected="{{i==_editRangeRowRow.endHour}}" ng-repeat="i in getNumber(24) track by $index">{{i}}</option>
                            </select>
                            <label>:</label>
                            <select class="form-control" data-ng-model="_editRangeRowRow.endMinute" ng-init="17">
                                <option value="{{i}}" ng-selected="{{i==_editRangeRowRow.endMinute}}" ng-repeat="i in getNumber(60) track by $index">{{i}}</option>
                            </select>
                        </div>
                    </td>

                    <td ng-if="rowName.code + $index != _editRangeRowKey">
                        {{range.priority}}
                    </td>

                    <td ng-if="rowName.code + $index == _editRangeRowKey">
                        <input class="form-control" type="number"  ng-model="_editRangeRowRow.priority" style="max-width: 70px;"
                               min="0" max="999">
                    </td>


                    <td ng-if="rowName.code + $index != _editRangeRowKey">
                        {{range.attempts}}
                    </td>
                    <td ng-if="rowName.code + $index == _editRangeRowKey">
                        <input class="form-control" type="number"  ng-model="_editRangeRowRow.attempts" style="max-width: 70px;"
                               min="0" max="999">
                    </td>

                    <td>
                        <button ng-disabled="viewMode" ng-if="_editRangeRowKey == rowName.code + $index" ng-click="saveRangeRow(range, rowName.ranges)" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-save"></i></button>
                        <button ng-disabled="viewMode" ng-if="_editRangeRowKey != rowName.code + $index" ng-click="editRangeRow(range, rowName.code + $index)" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-pencil"></i></button>
                        <button ng-disabled="viewMode" ng-click="removeRange(rowName, range, key);" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-remove"></i></button>
                    </td>

                </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>