<div class="page page-dashboard">
    <div class="row">
        <div class="col-sm-12">

            <a  href="#/queue/dialer/{{id}}/edit?domain={{domain}}" style="padding: 0" class="btn btn-icon btn-icon-sm  btn-gap-v btn-dark">
                <i class="fa fa-reply"></i>
            </a>

            <a ng-click="reload()"style="padding: 0" class="btn btn-icon btn-icon-sm  btn-gap-v btn-dark">
                <i class="glyphicon glyphicon-refresh"></i>
            </a>

            <a ng-show="!dialer.active" ng-click="cleanStats()"style="padding: 0" class="btn btn-icon btn-icon-sm  btn-gap-v btn-dark">
                <i class="glyphicon glyphicon-retweet"></i>
            </a>

        </div>


        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="ui-tab-container ui-tab-dark">
                        <div class="ui-tab">
                            <tabset>
                                <tab select="onSelectTabPleaseResize()">
                                    <tab-heading>
                                        <span>General</span>
                                    </tab-heading>

                                    <div class="row">
                                        <div class="col-sm-3">
                                            <section class="panel panel-box">
                                                <div class="panel-top" data-ng-class="{'bg-success': processState, 'bg-info': !processState}" style="padding: 10px 20px;">
                                                    <i class="fa fa-calendar text-large"></i>
                                                </div>
                                                <div class="panel-bottom bg-reverse">
                                                    <p class="size-h4">{{lastProcessOnDate}}</p>
                                                    <p class="size-h4">{{lastProcessOnTime}}</p>
                                                    <p class="text-muted">{{processState ? 'Start' : 'End'}} time</p>
                                                </div>
                                            </section>
                                        </div>

                                        <div class="col-sm-3">
                                            <section class="panel panel-box">
                                                <div class="panel-top bg-success" style="padding: 10px 20px;">
                                                    <i class="glyphicon glyphicon-earphone text-large"></i>
                                                </div>
                                                <div class="panel-bottom bg-reverse">
                                                    <p class="size-h1">{{activeCalls}}</p>
                                                    <p class="text-muted">Active</p>
                                                </div>
                                            </section>
                                        </div>

                                        <div class="col-sm-3">
                                            <section class="panel panel-box">
                                                <div class="panel-top bg-success" style="padding: 10px 20px;">
                                                    <i class="glyphicon glyphicon-warning-sign text-large"></i>
                                                </div>
                                                <div class="panel-bottom bg-reverse">
                                                    <p class="size-h1">{{sl.toFixed(2)}}%</p>
                                                    <p class="text-muted">Service level</p>
                                                </div>
                                            </section>
                                        </div>


                                        <div class="col-sm-3">
                                            <section class="panel panel-box">
                                                <div class="panel-top bg-success" style="padding: 10px 20px;">
                                                    <i class="glyphicon glyphicon-compressed text-large"></i>
                                                </div>
                                                <div class="panel-bottom bg-reverse">
                                                    <p class="size-h1">{{ loggedAgentInDay > 0 ? (sumUtilization / loggedAgentInDay).toFixed(2) + '%': '---'}}</p>
                                                    <p class="text-muted">Utilization</p>
                                                </div>
                                            </section>
                                        </div>


                                    </div>

                                    <div class="row">

                                        <div class="col-sm-6">
                                            <section class="panel panel-box">
                                                <div class="panel-top bg-info" style="padding: 10px 20px;">
                                                    <i class="glyphicon glyphicon-transfer text-large"></i>
                                                </div>
                                                <div class="list-justified-container" style="padding: 0">
                                                    <ul class="list-justified text-center">
                                                        <li>
                                                            <p class="size-h3">{{attempts}}</p>
                                                            <p class="text-muted">Attempts</p>
                                                        </li>
                                                        <li>
                                                            <p class="size-h3">{{connectedCall}}</p>
                                                            <p class="text-muted">Connected</p>
                                                        </li>

                                                        <li>
                                                            <p class="size-h3">{{bridgedCall}}</p>
                                                            <p class="text-muted">Bridged</p>
                                                        </li>
                                                        <li>
                                                            <p class="size-h3">{{ amdMachine.toFixed(0) }}%</p>
                                                            <p class="text-muted">Machine</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </section>
                                        </div>

                                        <div class="col-sm-6">
                                            <section class="panel panel-box">
                                                <div class="panel-top bg-info" style="padding: 10px 20px;">
                                                    <i class="glyphicon glyphicon-user text-large"></i>
                                                </div>
                                                <div class="list-justified-container" style="padding: 0">
                                                    <ul class="list-justified text-center">
                                                        <li>
                                                            <p class="size-h3"> {{sumAgentsStates['LOGGED-OUT']}}</p>
                                                            <p class="text-muted">LOGGED-OUT</p>
                                                        </li>
                                                        <li>
                                                            <p class="size-h3">{{sumAgentsStates['WAITING']}}</p>
                                                            <p class="text-muted">WAITING</p>
                                                        </li>
                                                        <li>
                                                            <p class="size-h3">{{sumAgentsStates['BUSY']}}</p>
                                                            <p class="text-muted">BUSY</p>
                                                        </li>
                                                        <li>
                                                            <p class="size-h3">{{sumAgentsStates['ON-BREAK']}}</p>
                                                            <p class="text-muted">ON-BREAK</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </section>
                                        </div>
                                    </div>

                                    <div class="row">

                                        <div class="col-sm-2">
                                            <section class="panel panel-box">
                                                <div class="panel-top bg-success" style="padding: 10px 20px;">
                                                    <i class="glyphicon glyphicon-asterisk text-large"></i>
                                                </div>
                                                <div class="panel-bottom bg-reverse">
                                                    <p class="size-h4">{{connectRate.toFixed(1)}}</p>
                                                    <p class="text-muted">Connect rate</p>
                                                </div>
                                            </section>
                                        </div>

                                        <div class="col-sm-2">
                                            <section class="panel panel-box">
                                                <div class="panel-top bg-success" style="padding: 10px 20px;">
                                                    <i class="glyphicon glyphicon-remove text-large"></i>
                                                </div>
                                                <div class="panel-bottom bg-reverse">
                                                    <p class="size-h4">{{abandoned.toFixed(2)}}%</p>
                                                    <p class="text-muted">Silent calls</p>
                                                </div>
                                            </section>
                                        </div>

                                        <div class="col-sm-2">
                                            <section class="panel panel-box">
                                                <div class="panel-top bg-success" style="padding: 10px 20px;">
                                                    <i class="glyphicon glyphicon-phone-alt text-large"></i>
                                                </div>
                                                <div class="panel-bottom bg-reverse">
                                                    <p class="size-h4">{{ ((sumAgentCallCount / gotAgentCount) || 0).toFixed(2) }}</p>
                                                    <p class="text-muted">Calls per agent</p>
                                                </div>
                                            </section>
                                        </div>

                                        <div class="col-sm-2">
                                            <section class="panel panel-box">
                                                <div class="panel-top bg-success" style="padding: 10px 20px;">
                                                    <i class="glyphicon glyphicon-pause text-large"></i>
                                                </div>
                                                <div class="panel-bottom bg-reverse">
                                                    <p class="size-h4">{{secToString( (sumIdleAgents / loggedAgentInDay) || 0)}}</p>
                                                    <p class="text-muted">Avg idle time</p>
                                                </div>
                                            </section>
                                        </div>

                                        <div class="col-sm-2">
                                            <section class="panel panel-box">
                                                <div class="panel-top bg-success" style="padding: 10px 20px;">
                                                    <i class="glyphicon glyphicon-headphones text-large"></i>
                                                </div>
                                                <div class="panel-bottom bg-reverse">
                                                    <p class="size-h4">{{secToString(((sumAgentATT / gotAgentCount) || 0))}}</p>
                                                    <p class="text-muted">Avg ATT by agent</p>
                                                </div>
                                            </section>
                                        </div>

                                        <div class="col-sm-2">
                                            <section class="panel panel-box">
                                                <div class="panel-top bg-success" style="padding: 10px 20px;">
                                                    <i class="glyphicon glyphicon-time text-large"></i>
                                                </div>
                                                <div class="panel-bottom bg-reverse">
                                                    <p class="size-h4">{{secToString(awt)}}</p>
                                                    <p class="text-muted">AWT</p>
                                                </div>
                                            </section>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="text-center h4">{{causeCartCompleteStr}}</div>
                                        </div>
                                        <div class="col-sm-12">
                                            <nvd3 options="causeCartComplete.options" data="causeCartComplete.data"></nvd3>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <nvd3 options="causeCart.options" data="causeCart.data"></nvd3>
                                        </div>
                                        <div class="col-sm-6">
                                            <nvd3 options="causeByAttemptCart.options" data="causeByAttemptCart.data"></nvd3>
                                        </div>
                                        <div class="col-sm-6">
                                            <nvd3 options="byCommunicationWaitingType.options" data="byCommunicationWaitingType.data"></nvd3>
                                        </div>
                                        <!--<div class="col-sm-6">-->
                                            <!--<nvd3 options="amdState.options" data="amdState.data"></nvd3>-->
                                        <!--</div>-->

                                        <div class="col-sm-6">
                                            <nvd3 options="callbackType.options" data="callbackType.data"></nvd3>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <nvd3 options="callbackByDescription.options" data="callbackByDescription.data"></nvd3>
                                        </div>
                                    </div>

                                </tab>
                                <tab select="onSelectTabPleaseResize()">
                                    <tab-heading>
                                        <span>Agents</span>
                                    </tab-heading>

                                    <div class="row">
                                        <div class="col-sm-2 text-center">
                                            <p class="dlr-agents-control">
                                                <button ng-class="{'btn-success dlr-bg.success': showAgentStatus['WAITING'], 'btn-default': !showAgentStatus['WAITING']}" ng-click="showAgentStatus['WAITING'] = !showAgentStatus['WAITING']" class="btn btn-block">WAITING</button>
                                                <button ng-class="{'btn-danger dlr-bg-danger': showAgentStatus['BUSY'], 'btn-default': !showAgentStatus['BUSY']}" ng-click="showAgentStatus['BUSY'] = !showAgentStatus['BUSY']" class="btn btn-block">BUSY</button>
                                                <button ng-class="{'btn-warning dlr-bg-warning': showAgentStatus['ON-BREAK'], 'btn-default': !showAgentStatus['ON-BREAK']}" ng-click="showAgentStatus['ON-BREAK'] = !showAgentStatus['ON-BREAK']" class="btn btn-block">ON-BREAK</button>
                                                <button ng-class="{'btn-dark': showAgentStatus['LOGGED-OUT'], 'btn-default': !showAgentStatus['LOGGED-OUT']}" ng-click="showAgentStatus['LOGGED-OUT'] = !showAgentStatus['LOGGED-OUT']" class="btn btn-block">LOGGED-OUT</button>
                                            </p>
                                        </div>

                                        <div class="col-sm-10">
                                            <nvd3 options="accountState.options" data="accountState.data"></nvd3>
                                        </div>


                                    </div>

                                    <div class="row">

                                    </div>

                                    <div class="row">
                                        <div class="col-sm-12" style="padding-left: 15px">
                                            <section class="table-flip-scroll">
                                                <table class="agent-dialer-table table table-responsive">
                                                    <thead class="agent-dialer-table-head">
                                                    <tr>
                                                        <th style="width: 100px">
                                                            Extension
                                                        </th>
                                                        <!--<th>State</th>-->
                                                        <th style="min-width: 51px">Calls</th>
                                                        <th style="min-width: 97px;">Missed calls</th>
                                                        <th style="min-width: 56px;">
                                                            <span tooltip-popup-delay="800" tooltip="Average Talk Time (ATT) is, quite simply, the amount of time an agent spends talking to customers.">ATT</span>
                                                        </th>
                                                        <th style="min-width: 55px;">
                                                        <span tooltip-popup-delay="800" tooltip="Average Agent Speed of Answer (AASA) calculates the average time it takes an agent to answer the call after it started ringing. Does not include Missed or Abandoned Calls, or instances in which an agent did not answer the call when presented.">
                                                            AASA
                                                        </span>
                                                        </th>
                                                        <th style="min-width: 55px">
                                                        <span tooltip-popup-delay="800" tooltip="Average agent's idle time.">
                                                            AIT
                                                        </span>
                                                        </th>
                                                        <th style="min-width: 85px;">
                                                            Utilization
                                                        </th>

                                                        <th style="min-width: 121px;">Last offered call</th>
                                                        <th style="min-width: 106px;">Last logged in</th>
                                                        <th style="min-width: 112px;">last logged out</th>
                                                        <th style="width: 125px"></th> <!--TODO -->
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr class="agent-container {{ag.stateName}}" id="{{ag.name}}" ng-repeat="ag in agentDisplayedCollection" ng-show="showAgentStatus[ag.stateName]">
                                                        <td class="agent-id">
                                                            <a href="#/directory/accounts/{{ag.number}}/edit?domain={{domain}}">{{ag.number}}</a>
                                                            <br>
                                                            <span class="label btn btn-default" ng-click="canUpdateAgent && changeStatus(ag.number)">
                                                                {{ag.stateName}}
                                                            </span>
                                                            <br>
                                                            <span style="font-size: 12px;">
                                                                {{secToString(ag.lastChange)}}
                                                            </span>
                                                            <span ng-show="ag.wt" class="text-warning" style="position: absolute; padding-top: 3px; padding-left: 5px; font-size: 11px;">
                                                                <i class="glyphicon glyphicon-time"></i>
                                                            </span>
                                                        </td>
                                                        <td>{{ag.call_count || 0}}</td>
                                                        <td>{{ag.missed_call || 0}}</td>
                                                        <td>{{( secToString(ag.call_time_sec / ag.call_count) || 0)}}</td>
                                                        <td>{{ ( secToString(ag.connected_time_sec / ag.call_count) || 0) }}</td>
                                                        <td>{{ secToString(ag.avgIdleSec) }}</td>
                                                        <td>{{ ag.utilization.toFixed(2) }}</td>
                                                        <td  style="white-space: pre-line;">{{ toLocaleTimeString(ag.last_offered_call * 1000) }}</td>
                                                        <td style="white-space: pre-line;">{{ toLocaleTimeString(ag.logged_in * 1000) }}</td>
                                                        <td style="white-space: pre-line;">{{ toLocaleTimeString(ag.logged_out * 1000) }}</td>
                                                        <td class="agent-stats" style="position: relative;">
                                                            <div class="agent-stats-vis">
                                                                <div ng-style="ag.stats[0].cls">

                                                                </div>
                                                                <div ng-style="ag.stats[1].cls">

                                                                </div>
                                                                <div ng-style="ag.stats[2].cls">

                                                                </div>
                                                            </div>

                                                            <div class="agent-stats-container">
                                                                <div class="agent-stats-info">
                                                                    <div style="position: relative;" class="agent-stats-container-el" tooltip-popup-delay="800" tooltip="{{ag.stats[0].desc + ag.stats[0].sec}}" >
                                                                        <div>
                                                                        <span>
                                                                            {{ag.stats[0].text}}
                                                                        </span>
                                                                        </div>
                                                                    </div>

                                                                    <div style="position: relative;" class="agent-stats-container-el" tooltip-popup-delay="800" tooltip="{{ag.stats[1].desc + ag.stats[1].sec}}" >
                                                                        <div>
                                                                        <span>
                                                                            {{ag.stats[1].text}}
                                                                        </span>
                                                                        </div>
                                                                    </div>

                                                                    <div style="position: relative;" class="agent-stats-container-el" tooltip-popup-delay="800" tooltip="{{ag.stats[2].desc + ag.stats[2].sec}}" >
                                                                        <div>
                                                                        <span>
                                                                            {{ag.stats[2].text}}
                                                                        </span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    </tbody>

                                                </table>
                                            </section>
                                        </div>
                                    </div>

                                </tab>
                                <tab>
                                    <tab-heading>
                                        <span>Call Routing</span>
                                    </tab-heading>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Route</th>
                                                    <th>Name</th>
                                                    <th>Dial string</th>
                                                    <th style="width:70px">Enabled</th>
                                                    <th>Limit / Used</th>
                                                    <th>Stats</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat-start="res in resources" class="bg-gray">
                                                        <td></td>
                                                        <td colspan="6">{{res.dialedNumber}}</td>
                                                    </tr>
                                                    <tr ng-repeat-end ng-repeat="(key, des) in res.destinations">
                                                        <td >
                                                            {{key}}
                                                        </td>
                                                        <td></td>
                                                        <td>
                                                            {{des.gwName || des.gwProto}}
                                                        </td>
                                                        <td>
                                                            {{des.dialString}}
                                                        </td>
                                                        <td>
                                                            <span ng-show="!des.enabled" class="color-danger"><i class="fa fa-level-down"></i></span>
                                                            <span ng-show="des.enabled" class="color-success"><i class="fa fa-level-up"></i></span>
                                                        </td>
                                                        <td>
                                                            {{des.limit}} / {{des.usedCount || 0}}
                                                        </td>
                                                        <td style="width: 240px;">
                                                            <div class="progressbar-xs no-margin progress ">
                                                                <div class="progress-bar {{des.class}}" role="progressbar" style="width: {{des.usedPercent || 0}}%;" ></div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                </tab>

                                <tab>
                                    <tab-heading>
                                        <span>History</span>
                                    </tab-heading>

                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th style="width: 20%">Date</th>
                                                    <th style="width: 20%">Action</th>
                                                    <th style="width: 60%">Value</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="res in historyCollection">
                                                    <td>
                                                        {{timeToString(res.createdOn)}}
                                                    </td>
                                                    <td>
                                                        {{res.action}}
                                                    </td>
                                                    <td>
                                                        {{res.value}}
                                                    </td>
                                                </tr>
                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                </tab>
                            </tabset>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>