.agent-dialer-table.table {
    padding: 15px;
}

.agent-dialer-table.table .agent-container {
    text-align: center;
    border-left-width: 10px;
    border-left-style: solid;
}

table.agent-dialer-table.table thead.agent-dialer-table-head tr th {
    text-align: center;
}

.dlr-bg-danger {
    background-color: #bf4048;
}

.dlr-bg.success {
    background-color: #57c17b;
}

.dlr-bg-warning {
    background-color: #f39c12;
}

.dlr-bg-dark {
    background-color: rgba(171, 171, 171, 0.36);
}

table.agent-dialer-table.table .agent-container .label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}

table.agent-dialer-table.table .agent-container.BUSY .label {
    background-color: #bf4048;
}

table.agent-dialer-table.table .agent-container.WAITING .label {
    background-color: #57c17b;
}

table.agent-dialer-table.table .agent-container.ON-BREAK .label {
    background-color: #f39c12;
}

table.agent-dialer-table.table .agent-container.LOGGED-OUT .label {
    background-color: rgba(171, 171, 171, 0.36);
}


.agent-dialer-table.table .agent-container.BUSY {
    border-left-color: #bf4048;
}

.agent-dialer-table.table .agent-container.WAITING {
    border-left-color: #57c17b;
}

.agent-dialer-table.table .agent-container.ON-BREAK {
    border-left-color: #f39c12;
}
.agent-dialer-table.table .agent-container.LOGGED-OUT {
    border-left-color: rgba(171, 171, 171, 0.36);
}