<div class="page" >
    <div class="panel">

        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="no-border pull-left">
                        <a  ng-if="canCreate" href="#/dialer/new?domain={{domain}}" ng-disabled="!domain" style="padding: 0" class="btn btn-icon btn-icon-round btn-icon-sm  btn-gap-v bg-success">
                            <i class="fa fa-plus"></i>
                        </a>

                        <a ng-click="reloadData()" ng-disabled="!domain" style="padding: 0" class="btn btn-icon btn-icon-round btn-icon-sm  btn-gap-v bg-primary">
                            <i class="glyphicon glyphicon-refresh"></i>
                        </a>
                    </div>


                    <div class="form-group pull-right ">
                        <div class="col-sm-10">
                            <input  data-ng-model="query"  type="search" class="form-control no-border text-right" placeholder="Search term">
                            <span class="icon glyphicon glyphicon-search"></span>
                        </div>
                    </div>

                    <div class="row text-center" ng-if="!rowCollection || rowCollection.length == 0">
                        <div class="center-block col-md-4" style="float: none;">
                            <h1 aria-hidden="true"><i aria-hidden="true" class="fa fa-meh-o"></i></h1>
                            <h2>No results found</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-responsive" ng-show="rowCollection.length > 0" style="position: relative;">
                <div ng-show="isLoading" class="loading text-center">
                        <span>
                            <i class="fa fa-spinner fa-5x fa-spin"></i>
                        </span>
                </div>

                <table ng-show="rowCollection.length > 0" wt-responsive-table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-hover" st-search search-watch-model="query">
                    <thead>
                    <tr ng-show="rowCollection.length > 0">
                        <th style="width: 20%" st-skip-natural="true" st-sort="name" >Name</th>
                        <th style="width: 15%" st-skip-natural="true" st-sort="type" >Type</th>
                        <th style="width: 10%" st-skip-natural="true" st-sort="state" >State</th>
                        <th style="width: 10%" st-skip-natural="true"  >Active calls</th>
                        <th style="width: 10%" st-skip-natural="true"  >All calls</th>
                        <th style="width: 15%" st-skip-natural="true" st-sort="_cause" >Last cause</th>
                        <th style="width: 5%" st-skip-natural="true" st-sort="priority" >Priority</th>

                        <th style="width: 15%; min-width: 116px; text-align: end;">
                            Count: {{displayedCollection.length}}
                        </th>
                    </tr>
                    </thead>

                    <tbody ng-show="rowCollection.length > 0 ">
                    <tr ng-repeat="row in displayedCollection" >
                        <td>
                            <a ng-if="canUpdate" href="#/dialer/{{row._id}}/edit?domain={{domain}}">
                                {{row.name}}
                            </a>
                            <span ng-if="!canUpdate">
                                {{row.name}}
                            </span>
                        </td>
                        <td>{{row.type}}</td>
                        <td>{{stateDialerToString(row.state)}}</td>
                        <td>{{row.stats.active}}</td>
                        <td>{{row.stats.callCount}}</td>
                        <td>{{row._cause}}</td>
                        <td>{{row.priority}}</td>
                        <td style="text-align: end">
                            <a href="#/dialer/{{row._id}}/stats?domain={{domain}}" class="btn-icon btn-icon-round btn-icon-sm  btn-gap-v btn-default"><i class="glyphicon glyphicon-stats"></i></a>

                            <a href="#/dialer/{{row._id}}/edit?domain={{domain}}" ng-if="canUpdate" class="btn-icon btn-icon-round btn-icon-sm  btn-gap-v btn-default"><i class="glyphicon glyphicon-pencil"></i></a>

                            <a href="javascript:;" ng-click="removeItem(row)" ng-if="canDelete" class="btn-icon btn-icon-round btn-icon-sm  btn-gap-v btn-default"><i class="glyphicon glyphicon-remove"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>