<div class="page">
    <div class="panel">

        <form name="dialerForm" class="panel-body">

            <div class="row">
                <div class="col-sm-12">
                    <div class="ui-tab-container ui-tab-dark">
                        <div class="ui-tab">
                            <tabset>

                                <tab>
                                    <tab-heading>
                                        <span>General</span>
                                    </tab-heading>

                                    <div >
                                        <div class="row">

                                            <div class="col-sm-6">
                                                <div class="row">

                                                    <div class="col-sm-6">

                                                        <div  class="form-group" ng-class="{ 'has-error' : dialerForm.name.$invalid }">
                                                            <label class="control-label">Name</label>
                                                            <input type="text"  class="form-control" name="name" required ng-model="dialer.name" >
                                                        </div>

                                                        <div class="form-group" ng-class="{ 'has-error' : dialerForm.type.$invalid}">
                                                            <label class="control-label">Type</label>
                                                            <select ng-disabled="dialer.active" class="form-control" name="type" ng-model="dialer.type" required >
                                                                <option ng-repeat="type in diealerTypes" ng-selected="{{type==dialer.type}}"  value="{{type}}">{{type}}</option>
                                                            </select>
                                                        </div>

                                                        <div class="form-group" >
                                                            <label class="control-label">State</label>
                                                            <select ng-disabled="true" class="form-control"  ng-model="dialer.state">
                                                                <option   ng-repeat="state in diealerStates" ng-selected="{{state.val==dialer.state}}" value="{{state.val}}">{{state.name}}</option>
                                                            </select>
                                                        </div>

                                                        <div  class="form-group">
                                                            <label class="control-label">Last cause</label>
                                                            <input ng-disabled="true" type="text"  class="form-control" ng-model="dialer._cause" >
                                                        </div>

                                                        <div  class="form-group" ng-if="dialer.nextTick">
                                                            <label class="control-label">Sleeping till</label>
                                                            <input ng-disabled="true" type="text"  class="form-control" value="{{toDateString(dialer.nextTick)}}" >
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <label class="control-label">Eternal queue</label>
                                                                    <br>
                                                                    <label class="switch switch-success">
                                                                        <input type="checkbox" ng-model="dialer.parameters.eternalQueue"><i></i>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="form-group">
                                                                    <label class="control-label">Record session</label>
                                                                    <br>
                                                                    <label class="switch switch-success">
                                                                        <input type="checkbox" ng-model="dialer.parameters.recordSession"><i></i>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>





                                                    </div>

                                                    <div class="col-sm-6">

                                                        <div class="form-group" ng-class="{ 'has-error' : dialerForm.priority.$invalid && !dialerForm.priority.$pristine }">
                                                            <label class="control-label">Priority</label>
                                                            <input  class="form-control" type="number" name="priority" ng-model="dialer.priority" min="0" max="999" required>
                                                        </div>


                                                        <div class="form-group" ng-class="{ 'has-error' : !dialer.calendar.id }">
                                                            <label class="control-label">Calendar</label>
                                                            <ui-select ng-disabled="dialer.active" name="calendar"  ng-model="dialer.calendar" theme="bootstrap"  title="Choose a calendar">
                                                                <ui-select-match placeholder="Select or search calendar...">{{$select.selected.name}}</ui-select-match>
                                                                <ui-select-choices refresh="getCalendars()" repeat="c in calendars | filter: $select.search">
                                                                    <span ng-bind-html="c.name | highlight: $select.search"></span>
                                                                </ui-select-choices>
                                                            </ui-select>
                                                        </div>


                                                        <div class="form-group" ng-if="dialer.type==diealerTypes[2]">
                                                            <label class="control-label">Playback file</label>
                                                            <ui-select  name="playbackFile"  ng-model="dialer.playbackFile" theme="bootstrap"  title="Choose a file">
                                                                <ui-select-match placeholder="Select or search file...">{{$select.selected.name}}</ui-select-match>
                                                                <ui-select-choices refresh="getMediaFiles()" repeat="c in mediaFiles | filter: $select.search">
                                                                    <span ng-bind-html="c.name | highlight: $select.search"></span>
                                                                </ui-select-choices>
                                                            </ui-select>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="control-label">Number strategy</label>
                                                            <select class="form-control" name="type" ng-model="dialer.numberStrategy" >
                                                                <option ng-repeat="type in numberStrategy" ng-selected="{{type.val==dialer.numberStrategy}}"  value="{{type.val}}">{{type.name}}</option>
                                                            </select>
                                                        </div>


                                                        <div class="form-group" ng-if="!isNew" style="padding-top: 6px;">
                                                            <label></label>
                                                            <button ng-disabled="checkDoNotClickButton" style="width: 100%" ng-click="setProcessDialer(dialer)" type="button" ng-class="{'btn-warning': dialer.active, 'btn-success': !dialer.active}" class="btn  btn-round">{{textStateAction}}</button>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="ui-tab-container ui-tab-dark">
                                                    <div class="ui-tab">
                                                        <tabset>
                                                            <tab>
                                                                <tab-heading>
                                                                    <span>Parameters</span>
                                                                </tab-heading>

                                                                <div class="row">

                                                                    <div class="col-md-12">
                                                                        <div class="col-sm-6">
                                                                            <div class="form-group" ng-class="{ 'has-error' : dialerForm.limit.$invalid}">
                                                                                <label class="control-label">Limit</label>
                                                                                <input class="form-control" type="number" name="limit" ng-model="dialer.parameters.limit" min="0" max="999" required>
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-sm-6">
                                                                            <div class="form-group" ng-class="{ 'has-error' : dialerForm.intervalTryCount.$invalid}">
                                                                                <label class="control-label">Wait between retries (in seconds)</label>
                                                                                <input class="form-control" type="number" name="intervalTryCount" ng-model="dialer.parameters.intervalTryCount" min="0" required>
                                                                            </div>
                                                                        </div>

                                                                    </div>

                                                                    <div class="col-sm-12">
                                                                        <div class="col-sm-6">
                                                                            <div class="form-group" ng-class="{ 'has-error' : dialerForm.minBillSec.$invalid }">
                                                                                <label class="control-label">Minimum succeed call duration (in sec)</label>
                                                                                <input class="form-control" type="number" name="minBillSec" ng-model="dialer.parameters.minBillSec" min="0" required>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-6">
                                                                            <div class="form-group" ng-class="{ 'has-error' : dialerForm.maxTryCount.$invalid }">
                                                                                <label class="control-label">Maximum number of retry</label>
                                                                                <input class="form-control" type="number" name="maxTryCount" ng-model="dialer.parameters.maxTryCount" min="0" max="999" required>
                                                                            </div>
                                                                        </div>
                                                                    </div>


                                                                    <div class="col-sm-12">
                                                                        <div class="col-sm-12"  ng-if="dialer.type==diealerTypes[0] || dialer.type==diealerTypes[2]" >
                                                                            <div class="form-group" ng-class="{ 'has-error' : dialerForm.originateTimeout.$invalid && !dialerForm.originateTimeout.$pristine }">
                                                                                <label class="control-label">Originate timeout</label>
                                                                                <input class="form-control" type="number" name="originateTimeout" ng-model="dialer.parameters.originateTimeout" min="0" max="999">
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-sm-12">
                                                                        <div class="col-sm-12"  ng-if="dialer.type==diealerTypes[2]" >
                                                                            <div class="form-group" ng-class="{ 'has-error' : dialerForm.predictAdjust.$invalid && !dialerForm.predictAdjust.$pristine }">
                                                                                <label class="control-label">Start predict adjust</label>
                                                                                <input class="form-control" type="number" name="predictAdjust" ng-model="dialer.parameters.predictAdjust" min="0" max="1000">
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-sm-12">
                                                                        <div class="col-sm-6"  ng-if="dialer.type==diealerTypes[2]" >
                                                                            <div class="form-group" ng-class="{ 'has-error' : dialerForm.targetPredictiveSilentCalls.$invalid && !dialerForm.targetPredictiveSilentCalls.$pristine }">
                                                                                <label class="control-label">Target predictive silent calls (%)</label>
                                                                                <input class="form-control" type="number" name="targetPredictiveSilentCalls" ng-model="dialer.parameters.targetPredictiveSilentCalls" min="0" max="100">
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-sm-6"  ng-if="dialer.type==diealerTypes[2]" >
                                                                            <div class="form-group" ng-class="{ 'has-error' : dialerForm.maxPredictiveSilentCalls.$invalid && !dialerForm.maxPredictiveSilentCalls.$pristine }">
                                                                                <label class="control-label">Max predictive silent calls (%)</label>
                                                                                <input class="form-control" type="number" name="maxPredictiveSilentCalls" ng-model="dialer.parameters.maxPredictiveSilentCalls" min="0" max="100">
                                                                            </div>
                                                                        </div>
                                                                    </div>


                                                                    <div class="col-sm-12">
                                                                        <div class="col-sm-6" >
                                                                            <div class="form-group" ng-if="dialer.type!=diealerTypes[0]">
                                                                                <label class="control-label">Waiting for result status</label>
                                                                                <br>
                                                                                <label  class="switch switch-success">
                                                                                    <input ng-disabled="false || dialer.active1" type="checkbox" ng-model="dialer.parameters.waitingForResultStatus" class="ng-valid ng-dirty"><i></i></label>
                                                                            </div>
                                                                        </div>

                                                                        <div class="col-sm-6" ng-if="dialer.parameters.waitingForResultStatus && dialer.type!=diealerTypes[0]">
                                                                            <div class="form-group" ng-class="{ 'has-error' : dialerForm.wrapUpTime.$invalid }">
                                                                                <label class="control-label">Result timeout</label>
                                                                                <input ng-disabled="false || dialer.active1" class="form-control" type="number" name="wrapUpTime" ng-model="dialer.parameters.wrapUpTime" min="0">
                                                                            </div>
                                                                        </div>


                                                                    </div>


                                                                </div>


                                                                <div ng-if="false" class="form-group" ng-class="{ 'has-error' : dialerForm.avgProgressSec.$invalid && !dialerForm.avgProgressSec.$pristine }">
                                                                    <label for>Avg progress sec</label>
                                                                    <input ng-disabled="false || dialer.active1" class="form-control" type="number" name="avgProgressSec" ng-model="dialer.parameters.avgProgressSec" min="0" max="999" required>
                                                                </div>
                                                            </tab>


                                                            <tab>
                                                                <tab-heading>
                                                                    <span>Variables</span>
                                                                </tab-heading>
                                                                <div style="max-height: 350px; overflow-y: auto; overflow-x: hidden;">
                                                                    <webitel-variables
                                                                            disable-action="dialer.active"
                                                                            ng-init="dialer._variables = []"
                                                                            collection = "dialer._variables"
                                                                            dictionary="[]"
                                                                            remvar="remVar"
                                                                            >

                                                                    </webitel-variables>
                                                                </div>
                                                            </tab>

                                                            <tab ng-if="dialer.type==diealerTypes[0] || dialer.type==diealerTypes[2]">
                                                                <tab-heading>
                                                                    <span>AMD</span>
                                                                </tab-heading>

                                                                <div class="row">
                                                                    <div class="col-sm-6">
                                                                        <div class="form-group" style=" margin-bottom: 10px;">
                                                                            <label class="control-label">Use AMD</label>
                                                                            <label  style="width: 100%;" class="switch switch-success">
                                                                                <input ng-disabled="false || dialer.active1" type="checkbox" ng-model="dialer.amd.enabled" ><i></i></label>
                                                                        </div>

                                                                        <div class="form-group" ng-class="{ 'has-error' : dialerForm.maximumWordLength.$invalid }">
                                                                            <label class="control-label">Maximum word length (ms)</label>
                                                                            <input ng-disabled="false || dialer.active1" class="form-control" type="number" name="maximumWordLength" ng-model="dialer.amd.maximumWordLength" min="0">
                                                                        </div>

                                                                        <div class="form-group" ng-class="{ 'has-error' : dialerForm.maximumNumberOfWords.$invalid }">
                                                                            <label class="control-label">Maximum number of words</label>
                                                                            <input ng-disabled="false || dialer.active1" class="form-control" type="number" name="maximumNumberOfWords" ng-model="dialer.amd.maximumNumberOfWords" min="0">
                                                                        </div>

                                                                        <div class="form-group" ng-class="{ 'has-error' : dialerForm.betweenWordsSilence.$invalid }">
                                                                            <label class="control-label">Between words silence (ms)</label>
                                                                            <input ng-disabled="false || dialer.active1" class="form-control" type="number" name="betweenWordsSilence" ng-model="dialer.amd.betweenWordsSilence" min="0">
                                                                        </div>
                                                                        <div class="form-group" ng-class="{ 'has-error' : dialerForm.minWordLength.$invalid }">
                                                                            <label class="control-label">Minimum word length (ms)</label>
                                                                            <input ng-disabled="false || dialer.active1" class="form-control" type="number" name="minWordLength" ng-model="dialer.amd.minWordLength" min="0">
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-sm-6">
                                                                        <div class="form-group" ng-class="{ 'has-error' : dialerForm.wrapUpTime.$invalid }">
                                                                            <label class="control-label">Silence threshold (ms)</label>
                                                                            <input ng-disabled="false || dialer.active1" class="form-control" type="number" name="silenceThreshold" ng-model="dialer.amd.silenceThreshold" min="0">
                                                                        </div>


                                                                        <div class="form-group" ng-class="{ 'has-error' : dialerForm.totalAnalysisTime.$invalid }">
                                                                            <label class="control-label">Total analysis time (ms)</label>
                                                                            <input ng-disabled="false || dialer.active1" class="form-control" type="number" name="totalAnalysisTime" ng-model="dialer.amd.totalAnalysisTime" min="0">
                                                                        </div>
                                                                        <div class="form-group" ng-class="{ 'has-error' : dialerForm.afterGreetingSilence.$invalid }">
                                                                            <label class="control-label">After greeting silence (ms)</label>
                                                                            <input ng-disabled="false || dialer.active1" class="form-control" type="number" name="afterGreetingSilence" ng-model="dialer.amd.afterGreetingSilence" min="0">
                                                                        </div>
                                                                        <div class="form-group" ng-class="{ 'has-error' : dialerForm.greeting.$invalid }">
                                                                            <label class="control-label">Greeting (ms)</label>
                                                                            <input ng-disabled="false || dialer.active1" class="form-control" type="number" name="greeting" ng-model="dialer.amd.greeting" min="0">
                                                                        </div>
                                                                        <div class="form-group" ng-class="{ 'has-error' : dialerForm.initialSilence.$invalid }">
                                                                            <label class="control-label">Initial silence (ms)</label>
                                                                            <input ng-disabled="false || dialer.active1" class="form-control" type="number" name="initialSilence" ng-model="dialer.amd.initialSilence" min="0">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </tab>

                                                            <tab>
                                                                <tab-heading>
                                                                    <span>Description</span>
                                                                </tab-heading>
                                                                <div class="form-group" >
                                                                    <textarea  ng-disabled="false || dialer.active1" class="form-control" ng-model="dialer.description" rows="4"></textarea>
                                                                </div>
                                                            </tab>
                                                        </tabset>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </tab>

                                <tab>
                                    <tab-heading>
                                        <span>Communications</span>
                                    </tab-heading>


                                    <section data-ng-include=" 'modules/dialer/communicationTab.html' ">

                                    </section>
                                </tab>

                                <tab ng-if="!isNew">
                                    <tab-heading>
                                        <span>Members</span>
                                    </tab-heading>

                                    <section data-ng-controller="MembersDialerCtrl" data-ng-include=" 'modules/dialer/dialerMembers.html' ">

                                    </section>
                                </tab>

                                <tab ng-if="dialer.type==diealerTypes[1] || dialer.type==diealerTypes[2]">
                                    <tab-heading>
                                        Agents
                                    </tab-heading>

                                    <div class="row">
                                        <div class="panel-body" style="position: relative;">

                                            <div class="row">

                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <label class="control-label">Strategy</label>
                                                        <select ng-disabled="false || dialer.active1" class="form-control" name="type" ng-model="dialer.agentStrategy" >
                                                            <option ng-repeat="type in agentStrategy" ng-selected="{{type.val==dialer.agentStrategy}}"  value="{{type.val}}">{{type.name}}</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-sm-6">

                                                    <div class="form-group" ng-class="{ 'has-error' : dialerForm.agentContact.$invalid }">
                                                        <label class="control-label">Call timeout</label>
                                                        <input class="form-control" type="number" name="agentContact" ng-model="dialer.agentParams.callTimeout"
                                                               min="0" max="999">
                                                    </div>

                                                    <div class="form-group" ng-class="{ 'has-error' : dialerForm.agentWrap.$invalid }">
                                                        <label class="control-label">Wrap up time</label>
                                                        <input class="form-control" type="number" name="agentWrap" ng-model="dialer.agentParams.wrapUpTime"
                                                               min="0" max="999" >
                                                    </div>

                                                    <div class="form-group" ng-class="{ 'has-error' : dialerForm.agentMaxNoAns.$invalid }">
                                                        <label class="control-label">Max no answer</label>
                                                        <input class="form-control" type="number" name="agentMaxNoAns" ng-model="dialer.agentParams.maxNoAnswer"
                                                               min="0" max="999">
                                                    </div>

                                                </div>

                                                <div class="col-sm-6">
                                                    <div class="form-group" ng-class="{ 'has-error' : dialerForm.agentBusyTime.$invalid }">
                                                        <label class="control-label">Busy delay time</label>
                                                        <input class="form-control" type="number" name="agentBusyTime" ng-model="dialer.agentParams.busyDelayTime"
                                                               min="0" max="999">
                                                    </div>

                                                    <div class="form-group" ng-class="{ 'has-error' : dialerForm.agentRejectTime.$invalid }">
                                                        <label class="control-label">Reject delay time</label>
                                                        <input class="form-control" type="number" name="agentRejectTime" ng-model="dialer.agentParams.rejectDelayTime"
                                                               min="0" max="999">
                                                    </div>

                                                    <div class="form-group" ng-class="{ 'has-error' : dialerForm.agentAnswerTime.$invalid }">
                                                        <label class="control-label">No answer delay time</label>
                                                        <input class="form-control" type="number" name="agentAnswerTime" ng-model="dialer.agentParams.noAnswerDelayTime"
                                                               min="0" max="999">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <label class="control-label">Skills</label>
                                                    <tags-input min-length="1" placeholder="Add a skill" type="text" class="form-group ui-tags-input" required ng-model="dialer.skills">
                                                    </tags-input>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-sm-6">
                                                        <div class="form-group" >
                                                            <div class="form-group-sm">
                                                                <label>Tiers</label>
                                                            </div>
                                                            <div class="input-group">
                                                                <span class="input-group-addon"><i class="fa fa-search text-muted"></i></span>
                                                                <input ng-model="searchTextTiers" type="text" class="form-control" placeholder="Search...">

                                        <span  ng-click="removeTiers()" ng-disabled="false || dialer.active1" ng-if="canUpdate" class="btn input-group-addon">
                                            <i class="glyphicon glyphicon-chevron-right"></i>
                                        </span>
                                        <span  ng-click="removeTiers(true)" ng-disabled="false || dialer.active1" ng-if="canUpdate" class="btn input-group-addon">
                                             <i class="glyphicon glyphicon-forward"></i>
                                        </span>
                                                            </div>


                                                            <ul ng-init="loadAgents()" class="list-group" style="max-height:250px; overflow-y:auto; padding: 0;">
                                                                <li class="list-group-item clearfix" ng-repeat="(key, value) in tiersListFiltered = (dialer.agents | filter:searchTextTiers|orderBy: 'id')"
                                                                    ng-click="selTiers[agentList[value].id]=!selTiers[agentList[value].id]"
                                                                    ng-class="{'bg-info': selTiers[agentList[value].id]}">

                                                                    <span>
                                                                        {{agentList[value].id}} ({{agentList[value].name}})
                                                                    </span>


                                                                    <span class="pull-right">{{agentList[value].state}}/{{agentList[value].status}}</span>
                                                                </li>

                                                                <li class="list-group-item" ng-hide="tiersListFiltered.length">
                                                                    <p>
                                                                        Not found tiers
                                                                    </p>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">

                                                        <div class="form-group" >
                                                            <div class="form-group-sm">
                                                                <label>Agents</label>
                                                            </div>

                                                            <div class="input-group">
                                        <span  ng-disabled="false || dialer.active1" ng-if="canUpdate"  ng-click="addTiers(true)" class="btn input-group-addon">
                                            <i class="glyphicon glyphicon-backward"></i>
                                        </span>
                                        <span  ng-disabled="false || dialer.active1" ng-if="canUpdate"  ng-click="addTiers()" class="btn input-group-addon">
                                            <i class="glyphicon glyphicon-chevron-left"></i>
                                        </span>

                                                                <input ng-model="searchTextAgents" type="text" class="form-control" placeholder="Search...">
                                                                <span class="input-group-addon"><i class="fa fa-search text-muted"></i></span>
                                                            </div>

                                                            <ul  class="list-group" style="max-height:250px;  overflow-y:auto; padding: 0; line-height: 0">
                                                                <li ng-show="isAgentInTier(value)"  class="list-group-item" ng-repeat="(key, value) in agentsListFiltered = (agents | filter:searchTextAgents)"
                                                                    ng-click="selAgents[value.id]=!selAgents[value.id]"
                                                                    ng-class="{'bg-info': selAgents[value.id]}">

                                                                    <span class="media">{{value.id}}</span>
                                                                    <span class="space space-xs"></span>
                                                                    <span class="media">{{value.name}}</span>
                                        <span class="pull-right text-muted">
                                            <span>{{value.state}}/</span>
                                            <span>{{value.status}}</span>
                                        </span>
                                                                </li>

                                                                <li class="list-group-item" ng-hide="agentsListFiltered.length">
                                                                    <p>
                                                                        Not found agents
                                                                    </p>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </tab>

                                <tab>
                                    <tab-heading>
                                        <span>Resources</span>
                                    </tab-heading>

                                    <div class="row">

                                        <div class="col-sm-12">
                                            <div class="col-sm-4">
                                                <section class="categories panel panel-default">
                                                    <div class="panel-heading">

                                                        <a ng-click="editResourceDialString(getDefaultResource())" ng-if="canUpdate" style="padding: 0" class="btn btn-icon btn-icon-round btn-icon-sm  btn-gap-v bg-success">
                                                            <i class="fa fa-plus"></i>
                                                        </a>
                                                    </div>
                                                    <ul class="list-group" style="max-height: 250px; overflow-y: auto;">
                                                        <li ng-click="setActiveResource(row)" class="list-group-item" ng-class="{'active': activeResource == row}"
                                                            ng-repeat="(key, row) in dialer.resources">
                                                            <a href="javascript:;">
                                                                {{row.dialedNumber}}

                                                                <span href="javascript:;" ng-click="removeResource(key, row)" ng-if="canUpdate" class="pull-right btn-icon btn-icon-round btn-icon-sm  btn-gap-v btn-default">
                                                                    <i class="glyphicon glyphicon-remove"></i>
                                                                </span>

                                                                <span href="javascript:;" ng-click="editResourceDialString(row)" ng-if="canUpdate" class="pull-right btn-icon btn-icon-round btn-icon-sm  btn-gap-v btn-default">
                                                                    <i class="glyphicon glyphicon-pencil"></i>
                                                                </span>

                                                                <span ng-click="setDialStringPosition(dialer.resources, row, false, $event)" class="pull-right btn-icon btn-icon-round btn-icon-sm  btn-gap-v btn-default">
                                                                    <i style="line-height: 0;" class="glyphicon glyphicon-chevron-down"></i>
                                                                </span>


                                                                <span ng-click="setDialStringPosition(dialer.resources, row, true,  $event)"  class="pull-right btn-icon btn-icon-round btn-icon-sm  btn-gap-v btn-default">
                                                                    <i  class="glyphicon glyphicon-chevron-up"></i>
                                                                </span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </section>
                                            </div>

                                            <div class="col-sm-8">
                                                <section class="panel panel-default">
                                                    <div class="panel-heading ">

                                                        <a ng-click="editResourceDestination(getDefaultResourceDestination())" style="padding: 0" class="btn btn-icon btn-icon-round btn-icon-sm  btn-gap-v bg-success">
                                                            <i class="fa fa-plus"></i>
                                                        </a>
                                                    </div>

                                                    <div class="row text-center" ng-show="!activeResource.destinations || activeResource.destinations.length < 1">
                                                        <div class="center-block col-md-4" style="float: none;">
                                                            <h1 aria-hidden="true"><i aria-hidden="true" class="fa fa-meh-o"></i></h1>
                                                            <h2>No results found</h2>
                                                        </div>
                                                    </div>

                                                    <table class="table table-bordered table-hover" ng-show="activeResource.destinations.length > 0">
                                                        <thead>
                                                        <tr>
                                                            <th width="30%">Name</th>
                                                            <th width="30%">Dial string</th>
                                                            <th width="10%">Limit</th>
                                                            <th width="10%">Enabled</th>
                                                            <th width="20%" style="text-align: center">Action</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr ng-repeat="(key, item) in activeResource.destinations">
                                                            <td>{{item.gwName}}</td>
                                                            <td>{{item.dialString}}</td>
                                                            <td>{{item.limit}}</td>
                                                            <td>{{item.enabled}}</td>
                                                            <td  style="text-align: end; min-width: 150px">

                                                                <a href="javascript:;" ng-click="setDialStringPosition(activeResource.destinations, item, true,  $event)" class="btn-icon btn-icon-round btn-icon-sm  btn-gap-v btn-default">
                                                                    <i  class="glyphicon glyphicon-chevron-up"></i>
                                                                </a>

                                                                <a href="javascript:;" ng-click="setDialStringPosition(activeResource.destinations, item, false, $event)" class="btn-icon btn-icon-round btn-icon-sm  btn-gap-v btn-default">
                                                                    <i style="line-height: 0;" class="glyphicon glyphicon-chevron-down"></i>
                                                                </a>

                                                                <a href="javascript:;" ng-click="editResourceDestination(item)" ng-if="canUpdate" class="btn-icon btn-icon-round btn-icon-sm  btn-gap-v btn-default">
                                                                    <i class="glyphicon glyphicon-pencil"></i>
                                                                </a>

                                                                <a href="javascript:;" ng-click="removeResourceDestination(key, item)" ng-if="canUpdate" class="btn-icon btn-icon-round btn-icon-sm  btn-gap-v btn-default">
                                                                    <i class="glyphicon glyphicon-remove"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>

                                                </section>
                                            </div>

                                        </div>
                                    </div>
                                </tab>

                                <tab ng-show="dialer.type == 'Voice Broadcasting'">
                                    <tab-heading>
                                        <span>Callflow</span>
                                    </tab-heading>

                                    <div class="row" style="padding-top: 15px;">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div ng-model="$parent.cf" ui-ace="{
                                                  useWrapMode : true,
                                                  showGutter: true,
                                                  theme:'github',
                                                  mode: 'json',
                                                  onLoad: aceLoaded,
                                                  onChange: aceChanged,
                                                  require: ['ace/ext/language_tools'],
                                                  advanced: {
                                                      enableSnippets: true,
                                                      enableBasicAutocompletion: true,
                                                      enableLiveAutocompletion: true
                                                  }
                                                }" class="json-control"></div>
                                            </div>

                                        </div>
                                    </div>
                                </tab>

                                <tab>
                                    <tab-heading>
                                        <span>Cause</span>
                                    </tab-heading>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <a ng-click="resetCause()" style="padding: 0" class="btn btn-icon btn-icon-round btn-icon-sm  btn-gap-v bg-primary">
                                                <i class="glyphicon glyphicon-retweet"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="form-group" >
                                        <label class="control-label">Error</label>
                                        <tags-input type="text" class="form-group ui-tags-input" required ng-model="dialer.causesError">
                                            <auto-complete min-length="1" source="loadCause($query, 'causesError')"></auto-complete>
                                        </tags-input>
                                    </div>
                                    <div class="form-group" >
                                        <label class="control-label">Retry</label>
                                        <tags-input type="text" class="form-group ui-tags-input" required ng-model="dialer.causesRetry">
                                            <auto-complete min-length="1" source="loadCause($query, 'causesRetry')"></auto-complete>
                                        </tags-input>
                                    </div>
                                    <div class="form-group" >
                                        <label class="control-label">OK</label>
                                        <tags-input type="text" class="form-group ui-tags-input" required ng-model="dialer.causesOK">
                                            <auto-complete min-length="1" source="loadCause($query, 'causesOK')"></auto-complete>
                                        </tags-input>
                                    </div>
                                    <div class="form-group" >
                                        <label class="control-label">Minus attempt</label>
                                        <tags-input type="text" class="form-group ui-tags-input" required ng-model="dialer.causesMinus">
                                            <auto-complete min-length="1" source="loadCause($query, 'causesMinus')"></auto-complete>
                                        </tags-input>
                                    </div>
                                </tab>

                                <!--<tab ng-if="!isNew" select="selectTabStats()">-->
                                    <!--<tab-heading>-->
                                        <!--<span>Stats</span>-->
                                    <!--</tab-heading>-->

                                    <!--<section  data-ng-controller="StatsDialerCtrl" data-ng-include=" 'modules/dialer/dialerStats.html' ">-->

                                    <!--</section>-->
                                <!--</tab>-->
                            </tabset>
                        </div>
                    </div>
                </div>
            </div>


        </form>

        <div class="panel-footer">
            <button ng-show="isEdit" type="button" ng-disabled="dialerForm.$invalid" ng-click="save()" class="btn btn-w-md btn-gap-v btn-success">Save</button>
            <button ng-show="isEdit && !isNew"  ng-click="cancel()" type="button" class="btn btn-w-md btn-gap-v btn-primary">Cancel</button>
            <button  type="button" ng-click="closePage()" class="btn btn-w-md btn-gap-v btn-default">Close</button>

            <div class="pull-right" ng-show="!isNew">
                <button ng-disabled="dialer.active" type="button" ng-click="resetProcess(dialer._id, dialer.domain)" class="btn btn-w-md btn-gap-v btn-default">Reset process</button>
                <button  type="button" ng-click="gotoUrl('/dialer/' + dialer._id + '/stats')" class="btn btn-w-md btn-gap-v btn-info">Stats</button>
            </div>

        </div>

    </div>
</div>

<div webitel-audio set-source="setSource" on-close="onClosePlayer">

</div>