<form name="exportCsvForm">
    <div class="modal-header">
        <h3 class="modal-title">Export CSV</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12">

                <div class="col-sm-2">
                    <div class="form-group" >
                        <label style="width: 100%">Add headers</label>
                        <label class="switch switch-success"><input type="checkbox" ng-model="settings.headers" ><i></i></label>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group" >
                        <label style="width: 100%">Skip filter</label>
                        <label class="switch switch-success"><input type="checkbox" ng-model="settings.skipFilter" ><i></i></label>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group" >
                        <label style="width: 100%">All attempts</label>
                        <label class="switch switch-success"><input type="checkbox" ng-model="settings.allProbe" ><i></i></label>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label for>Char set</label>
                        <select class="form-control"  ng-model="settings.charSet">
                            <option ng-repeat="c in CharSet | orderBy:'name'" ng-selected="c.id==settings.charSet" value="{{c.id}}">{{c.name}}</option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="form-group">
                        <label for>Separator</label>
                        <input type="text"  class="form-control" name="name" required ng-model="settings.separator" >
                    </div>
                </div>

            </div>

            <div class="col-sm-12">
                <a  ng-click="settings.data.push({})"  style="padding: 0" class="btn btn-icon btn-icon-round btn-icon-sm  btn-gap-v bg-success">
                    <i class="fa fa-plus"></i>
                </a>
            </div>

            <div class="col-sm-12">
                <div class="table-responsive" style="overflow-x: auto;">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                Field
                            </th>
                            <th>
                                Value
                            </th>
                            <th>
                                Position
                            </th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in settings.data">
                            <td>
                                {{$index + 1}}
                            </td>
                            <td>
                                <div style="margin: 0;" class="form-group" ng-class="{ 'has-error' : !item.field }">
                                    <select required ng-model="item.field" class="form-control">
                                        <option value="">--</option>
                                        <option ng-repeat="(k, col) in ExportColumns" value="{{k}}">{{col.name}}</option>
                                    </select>
                                </div>
                            </td>
                            <td>
                                <div ng-if="item.field=='variable'">
                                    <div style="margin: 0;" class="form-group" ng-class="{ 'has-error' : !item.value }">
                                        <input ng-required="item.value=='variable'" class="form-control" type="text"  ng-model="item.value" >
                                    </div>
                                </div>

                                <div ng-if="item.field=='callTime' || item.field=='expire'">
                                    <div style="margin: 0;" class="form-group" ng-class="{ 'has-error' : !item.type }">
                                        <select class="form-control" required name="strategy" ng-model="item.type">
                                            <option value="timestamp">timestamp</option>
                                            <option value="string">string</option>
                                        </select>
                                    </div>
                                </div>
                            </td>
                            <td style="width: 127px;">
                                <p>
                                    <a ng-click="up(item)" href="javascript:;" class="btn btn-default btn-direction btn-up">Up</a>
                                    <a ng-click="down(item)" href="javascript:;" class="btn btn-default btn-direction btn-down">Down</a>
                                </p>
                            </td>
                            <td style="width: 50px;">
                                <a href="javascript:;" ng-click="settings.data.splice($index, 1)" class="btn-icon btn-icon-round btn-icon-sm  btn-gap-v btn-default"><i class="glyphicon glyphicon-remove"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-disabled="exportCsvForm.$invalid || settings.data.length == 0" ng-click="ok()">Export</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
    </div>
</form>