<div class="modal-header">
    <h3 class="modal-title">Import CSV</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-12">

            <div class="col-sm-2">
                <div class="form-group" >
                    <label style="width: 100%">Skip headers</label>
                    <label class="switch switch-success"><input type="checkbox" ng-model="settings.headers" ><i></i></label>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label for>Char set</label>
                    <select class="form-control"  ng-model="settings.charSet">
                        <option ng-repeat="c in CharSet | orderBy:'name'" ng-selected="c.id==settings.charSet" value="{{c.id}}">{{c.name}}</option>
                    </select>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label for>Separator</label>
                    <input type="text"  class="form-control" name="name" required ng-model="settings.separator" >
                </div>
            </div>

        </div>
        <div class="col-sm-12">
            <div class="form-group" style="padding-left: 11px;">
                <span class="btn btn-icon btn-icon-sm  btn-gap-v btn-dark btn-file"  style="padding: 0">
                    <i class="glyphicon glyphicon-cloud-upload"></i>
                    <input type="file" file-reader-csv char-set="settings.charSet" file-on-load="fileCsvOnLoad" onchange="$('#csvSelectedFileName').text($(this).val());" name="csvSelectedFileName" accept=".csv"/>
                </span>
                <span id="csvSelectedFileName"></span>
            </div>

        </div>

        <div class="col-sm-12">
            <div class="table-responsive" style="overflow-x: auto;">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th ng-repeat="c in columns" style="vertical-align: middle;">
                            <select ng-model="c.value" class="form-control" data-ng-change="changeColumnsAlias(c, clol)">
                                <option value="">--</option>
                                <option ng-repeat="(k, clol) in MemberColumns" value="{{k}}">{{clol.name}}</option>
                            </select>
                            <div ng-if="c.value=='variable'">
                                <input ng-required="c.value=='variable'" class="form-control" type="text"  ng-model="c.varName" >
                            </div>
                            <div ng-if="c.value=='expire'">
                                <input style="min-width: 135px;" ng-required="c.value=='expire'" class="form-control" type="text" ng-init="c.format = c.format ? c.format : 'DD-MM-YYYY HH:mm'" ng-model="c.format" >
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in previewData">
                        <!--<td>{{item}}</td>-->
                        <td ng-repeat="i in columns">
                            {{item[$index]}}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
</div>