<div class="modal-header">
    <h3 class="modal-title">Member : {{member.name}}</h3>
</div>
<div class="modal-body" >
        <div class="row">

            <div class="col-sm-12">

                <div class="col-sm-3">

                    <div class="form-group" ng-class="{ 'has-error' : memberForm.name.$invalid}">
                        <label class="control-label">Name</label>
                        <input ng-disabled="viewMode" type="text"  class="form-control" name="name" required ng-model="member.name" >
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : memberForm.priority.$invalid}">
                        <label class="control-label">Priority</label>
                        <input ng-disabled="viewMode" class="form-control" type="number" name="priority" ng-model="member.priority" min="0"  required>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Expire</label>
                        <div class="input-group ui-datepicker">
                            <input ng-disabled="viewMode" type="text"
                                   class="form-control"
                                   datetime-picker="dd.MM.yyyy HH:mm"
                                   ng-model="member._expire"
                                   ng-change="changeDate()"
                                   is-open="dateOpenedControl"
                            >
                            <span ng-disabled="viewMode" class="btn input-group-addon" ng-click="openDate($event)"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for>Attempts</label>
                        <input class="form-control" ng-disabled="true" type="number"  ng-model="member._probeCount" min="0" >
                    </div>
                    <div class="form-group" ng-show="member._nextTryTime">
                        <label for>Next try</label>
                        <input class="form-control" ng-disabled="true" type="text"  value="{{timeToString(member._nextTryTime)}}" min="0" >

                    </div>

                    <div class="form-group" ng-show="member._endCause">
                        <label for>End cause</label>
                        <input class="form-control" ng-disabled="true" type="text" ng-model="member._endCause" min="0" >
                    </div>

                    <div class="form-group" ng-if="false">
                        <label for>Time zone</label>
                        <input ng-disabled="viewMode" typeahead-show-hint="true" typeahead-min-length="0"
                               type="text" class="form-control"
                               ng-model="member.timezone"
                               placeholder="Time zone"
                               typeahead="zone.id as zone.id for zone in TimeZones | filter:{id:$viewValue} | limitTo:8" >
                    </div>

                    <div class="form-group" ng-if="!member._id">
                        <label for>Run after adding members</label>
                        <label style="width: 100%;" class="switch switch-success"><input type="checkbox" ng-model="member.autoRun"><i></i></label>
                    </div>

                </div>

                <div class="col-sm-9">
                    <div class="ui-tab-container ui-tab-dark">
                        <div class="ui-tab">

                            <tabset >
                                <tab>
                                    <tab-heading>
                                        <span>Communications</span>
                                    </tab-heading>
                                        <a ng-disabled="viewMode" ng-click="addCommunication(member)" style="padding: 0" class="btn btn-icon btn-icon-round btn-icon-sm  btn-gap-v bg-success">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <table class="table table-hover table-condensed">
                                                    <thead>
                                                        <tr>
                                                            <th style="width:25%">Number</th>
                                                            <th style="width:20%">Type</th>
                                                            <th style="width:10%">Priority</th>
                                                            <th style="width:20%">Description</th>
                                                            <th style="width:5%">State</th>
                                                            <th style="width:5%">Attempts</th>
                                                            <th style="width:15%"></th>
                                                        </tr>
                                                    </thead>
                                                    <tr ng-repeat="communication in member.communications">
                                                        <td>
                                                        <span editable-text="communication.number" e-name="number"  e-form="rowform"  e-required onbeforesave="checkCommunicationNumber($data)">
                                                            {{ communication.number || 'empty' }}
                                                        </span>
                                                        </td>
                                                        <td>
                                                        <span editable-select="communication.type" e-name="type" e-ng-options="type.code as type.name for type in communicationTypes" e-form="rowform" >
                                                            {{ displayCommunicationType(communication.type, communicationTypes)}}
                                                        </span>
                                                        </td>
                                                        <td>
                                                            <span editable-number="communication.priority" e-name="priority"  e-form="rowform">
                                                                {{ communication.priority}}
                                                            </span>
                                                        </td>
                                                        <td>
                                                            <span editable-text="communication.description" e-name="description"  e-form="rowform">
                                                                {{ communication.description}}
                                                            </span>
                                                        </td>
                                                        <td>
                                                            {{ communication.state}}
                                                        </td>
                                                        <td>
                                                            {{ communication._probe || 0}}
                                                        </td>

                                                        <td style="white-space: nowrap">
                                                            <!-- form -->
                                                            <form editable-form name="rowform"  ng-show="rowform.$visible" onaftersave="checkCommunication($data)" class="form-buttons form-inline" shown="inserted == communication">
                                                                <button type="submit" ng-disabled="rowform.$waiting || viewMode"  class="btn btn-sm btn-primary">
                                                                    <i class="glyphicon glyphicon-save"></i>
                                                                </button>
                                                                <button type="button" ng-disabled="rowform.$waiting || viewMode" ng-click="rowform.$cancel()" class="btn btn-sm btn-default">
                                                                    <i class="glyphicon glyphicon-repeat"></i>
                                                                </button>
                                                            </form>
                                                            <div class="buttons" ng-show="!rowform.$visible">
                                                                <button ng-disabled="viewMode" ng-click="rowform.$show()" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-pencil"></i></button>
                                                                <button ng-disabled="viewMode" ng-click="removeCommunication($index)" class="btn btn-sm btn-default"><i class="glyphicon glyphicon-remove"></i></button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>

                                        </div>
                                </tab>
                                <tab>
                                    <tab-heading>
                                        <span>Variables</span>
                                    </tab-heading>
                                    <webitel-variables
                                            collection = "member._variables"
                                            dictionary="[]"
                                            remvar="remVar"
                                            >

                                    </webitel-variables>
                                </tab>

                                <tab ng-show="member._log">
                                    <tab-heading>
                                        Log
                                    </tab-heading>
                                    <div class="row">
                                        <div class="col-sm-12" style="overflow-y: auto; max-height: 500px;">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th style="width:35%">Call Id</th>
                                                    <th style="width:65%">Steps</th>
                                                </tr>
                                                </thead>
                                                <tbody style="word-break: break-word;">
                                                <tr ng-repeat="probe in member._log.slice().reverse()">
                                                    <td>
                                                        <p>
                                                            <dt>Number</dt>
                                                            <dd>{{probe.callNumber}}</dd>

                                                            <dt>Call time</dt>
                                                            <dd>{{timeToString(probe.callTime)}}</dd>

                                                            <dt>Bridge time</dt>
                                                            <dd>{{probe.bridgedTime ? timeToString(probe.bridgedTime) : "Not bridged"}}</dd>

                                                            <dt>Talk</dt>
                                                            <dd>{{probe.talkSec || 0}} seconds</dd>

                                                            <div ng-if="!!probe.agentId">
                                                                <dt>Agent</dt>
                                                                <dd>{{probe.agentId}}</dd>
                                                            </div>

                                                            <div ng-if="!!probe.amdResult">
                                                                <dt>AMD result</dt>
                                                                <dd>{{probe.amdResult}}</dd>
                                                            </div>

                                                            <dt>Hangup cause</dt>
                                                            <dd style="text-decoration: underline;">{{probe.cause}}</dd>
                                                            <br>

                                                            <button ng-if="!!probe.callUUID" ng-click="showJsonPreview(probe.callUUID)" class="btn btn-default btn-sm btn-block">
                                                                {{ probe.callUUID }}
                                                                <i class="fa fa-file-code-o"></i>
                                                            </button>

                                                            <button ng-if="probe.recordSessionSec > 0" ng-click="play(probe)" class="btn btn-default btn-sm btn-block">
                                                                Record file
                                                                <i class="fa fa-file-audio-o"></i>
                                                            </button>
                                                        </p>

                                                    </td>
                                                    <td>
                                                        <ol style="table-layout: fixed; word-wrap: break-word;">
                                                            <li ng-repeat="s in probe.steps">
                                                                - {{s.data}}
                                                            </li>
                                                        </ol>
                                                    </td>
                                                </tr>
                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                </tab>

                                <tab ng-show="member._callback">
                                    <tab-heading>
                                        Callback
                                    </tab-heading>
                                    <div class="row">
                                        <div class="col-sm-12" style="overflow-y: auto; max-height: 500px;">
                                            <table class="table">
                                                <thead>
                                                <tr>
                                                    <th style="width:15%">Time</th>
                                                    <th style="width:15%">User</th>
                                                    <th style="width: 70%; text-align: center">Result</th>
                                                </tr>
                                                </thead>
                                                <tbody style="word-break: break-word;">
                                                <tr ng-repeat="cb in member._callback.slice().reverse()">
                                                    <td>
                                                        {{timeToString(cb.time)}}
                                                    </td>
                                                    <td>
                                                        {{cb.from}}
                                                    </td>
                                                    <td>
                                                        <ul style="table-layout: fixed; word-wrap: break-word;">
                                                            <li ng-repeat="(k, v) in cb.data">
                                                                {{k}} -  {{v}}
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                </tab>
                            </tabset>
                        </div>
                    </div>

                </div>
            </div>
        </div>
</div>
<div class="modal-footer">
    <button ng-show="!viewMode" class="btn btn-primary" type="button" ng-click="ok()">Save</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">Close</button>
</div>