<div class="modal-header">
    <h3 class="modal-title">Resource</h3>
</div>
<div class="modal-body">
    <form name="dialerResource">
        <div class="ui-tab-container ui-tab-dark">
            <div class="ui-tab">
                <tabset>

                    <tab>
                        <tab-heading>
                            <span>General</span>
                        </tab-heading>

                        <div class="row">
                            <div class="col-sm-12">

                                <div class="form-group" ng-class="{ 'has-error' : dialerResource.gwProto.$invalid }">
                                    <label for>Type</label>
                                    <select ng-disabled="viewMode" class="form-control" name="gwProto" ng-model="resource.gwProto">
                                        <option ng-repeat="t in Types" ng-selected="{{t==resource.gwProto}}" value="{{t}}">{{t}}</option>
                                    </select>
                                </div>

                                <div class="form-group" ng-show="resource.gwProto == 'sip'" ng-class="{ 'has-error' : dialerResource.gwName.$invalid }">
                                    <label for>Gateway</label>
                                    <ui-select ng-disabled="viewMode" ng-required="resource.gwProto == 'sip'" name="gwName" ng-model="resource.gwName" theme="bootstrap"  title="Choose a gateway">
                                        <ui-select-match placeholder="Select or search gateway...">{{$select.selected}}</ui-select-match>
                                        <ui-select-choices repeat="gw in gateways | filter: $select.search">
                                            <span ng-bind-html="gw | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>

                            </div>

                            <div class="col-sm-6">

                                <div class="form-group" ng-class="{ 'has-error' : dialerResource.dialString.$invalid }" >
                                    <label for>Dial string</label>
                                    <input ng-disabled="viewMode" type="text" class="form-control" required name="dialString" data-ng-model="resource.dialString" >
                                </div>

                                <div class="form-group"  ng-class="{ 'has-error' : dialerResource.limit.$invalid }">
                                    <label for>Limit</label>
                                    <input ng-disabled="viewMode" class="form-control" type="number" name="limit" ng-model="resource.limit"
                                           min="0" required>
                                </div>


                            </div>

                            <div class="col-sm-6">

                                <div class="form-group"  ng-class="{ 'has-error' : !resource.callerIdNumber && !resource.callerIdNumbers}">
                                    <label for>Caller number</label>
                                    <input ng-disabled="viewMode" type="text" class="form-control" name="callerIdNumber" data-ng-model="resource.callerIdNumber" >
                                </div>

                                <div class="form-group" >
                                    <label for>Enabled</label>
                                    <label  style="width: 100%;" class="switch switch-success"><input ng-disabled="viewMode" type="checkbox" ng-model="resource.enabled" class="ng-valid ng-dirty"><i></i></label>
                                </div>

                            </div>

                        </div>
                    </tab>

                    <tab>
                        <tab-heading>
                            CallerID Numbers
                        </tab-heading>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">Numbers</label>
                                    <textarea class="form-control" ng-model="resource.callerIdNumbers" rows="10"></textarea>
                                </div>
                            </div>

                        </div>
                    </tab>
                </tabset>
            </div>
        </div>

    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-if="!viewMode" type="button" ng-disabled="dialerResource.$invalid || (!resource.callerIdNumber && !resource.callerIdNumbers)" ng-click="ok()">Save</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">Close</button>
</div>