<div class="row">
    <div class="col-sm-12">
        <div class="no-border pull-left" >
            <div ng-if="canCreate" ng-disabled="!domain" class="btn-group" dropdown="">
                <a aria-haspopup="true" aria-expanded="false" ng-if="canCreate" ng-disabled="!domain" href="javascript:;" style="padding: 0" class="btn btn-icon btn-icon-sm  btn-gap-v btn-success dropdown-toggle">
                    <i class="fa fa-plus"></i>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="javascript:;" ng-click="openSqlTemplate('import', null, false)">Import members SQL</a></li>
                    <li><a href="javascript:;" ng-click="openSqlTemplate('export', null, false)">Export statistics SQL</a></li>
                    <li><a href="javascript:;" ng-click="openCsvTemplate('import', null, false)">Import members CSV</a></li>
                    <li><a href="javascript:;" ng-click="openCsvTemplate('export', null, false)">Export statistics CSV</a></li>
                </ul>
            </div>
            <a ng-click="reloadTemplates()" ng-disabled="!domain" style="padding: 0" class="btn btn-icon btn-icon-sm  btn-gap-v bg-dark">
                <i class="glyphicon glyphicon-refresh"></i>
            </a>
        </div>

        <!--<div class="form-group pull-right">-->
            <!--<div class="col-sm-10">-->
                <!--<input data-ng-model="query"  type="search" class="form-control no-border text-right" placeholder="Search term">-->
                <!--<span class="icon glyphicon glyphicon-search"></span>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</div>

<div class="table-responsive" style="position: relative;">
    <div ng-show="isLoading" class="loading text-center">
                <span>
                    <i class="fa fa-spinner fa-5x fa-spin"></i>
                </span>
    </div>

    <div class="row text-center" ng-if="!templateCollection || templateCollection.length == 0">
        <div class="center-block col-md-4" style="float: none;">
            <h1 aria-hidden="true"><i aria-hidden="true" class="fa fa-meh-o"></i></h1>
            <h2>No results found</h2>
        </div>
    </div>

    <table ng-show="templateCollection.length > 0" st-table="displayedTemplateCollection" st-safe-src="templateCollection" class="table table-hover">
        <thead>
        <tr>
            <th style="width: 20%" st-skip-natural="true" st-sort="name">Name</th>
            <th style="width: 10%" st-skip-natural="true" st-sort="action">Action</th>
            <th style="width: 10%" st-skip-natural="true" st-sort="type">Type</th>
            <th style="width: 15%" st-skip-natural="true" st-sort="process_state">Process state</th>
            <th style="width: 15%" st-skip-natural="true" st-sort="process_start">Start process</th>
            <th style="width: 10%; min-width: 90px; text-align: end;">
                Count: {{displayedTemplateCollection.length}}
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in displayedTemplateCollection">
            <td >
                <a ng-if="canUpdate && row.type === 'CSV'" ng-click="openCsvTemplate(row.action, row, true)">
                    {{row.name}}
                </a>
                <a ng-if="canUpdate && row.type === 'SQL'" ng-click="openSqlTemplate(row.action, row, true)">
                    {{row.name}}
                </a>
                <div ng-if="!canUpdate">
                    {{row.name}}
                </div>
            </td>
            <td >{{row.action}}</td>
            <td >{{row.type}}</td>
            <td >{{row.process_start ? row.process_state : row.last_response_text}}</td>
            <td >{{timeToString(row.process_start*1000)}}</td>
            <td style="text-align: end">
                <a ng-if="row.process_start" ng-click="resetProcess(row)" class="btn-icon btn-icon-sm  btn-gap-v btn-danger"><i class="fa fa-stop"></i></a>
                <a ng-if="row.action === 'export' && row.type === 'SQL' && !hideExecute" ng-click="exportToSql(row)" class="btn-icon btn-icon-sm  btn-gap-v btn-success"><i class="fa fa-upload"></i></a>
                <a ng-if="row.action === 'import' && row.type === 'SQL' && !hideExecute" ng-click="importFromSql(row)" class="btn-icon btn-icon-sm  btn-gap-v btn-success"><i class="fa fa-upload"></i></a>
                <a ng-if="row.action === 'export' && row.type === 'CSV' && !hideExecute" ng-click="getItemForAction(row.id, exportCSV)" class="btn-icon btn-icon-sm  btn-gap-v btn-primary"><i class="fa fa-download"></i></a>
                <a ng-if="row.action === 'import' && row.type === 'CSV' && !hideExecute" ng-click="getItemForAction(row.id, showImportCSVPage)" class="btn-icon btn-icon-sm  btn-gap-v btn-success"><i class="fa fa-upload"></i></a>

                <a ng-click="openCsvTemplate(row.action, row, true)" ng-if="canUpdate && row.type === 'CSV'" class="btn-icon btn-icon-sm  btn-gap-v btn-default"><i class="glyphicon glyphicon-pencil"></i></a>
                <a ng-click="openCsvTemplate(row.action, row, false)" ng-if="viewMode && row.type === 'CSV'" class="btn-icon btn-icon-sm  btn-gap-v btn-default"><i class="glyphicon glyphicon-file"></i></a>

                <a ng-click="openSqlTemplate(row.action, row, true)" ng-if="canUpdate && row.type === 'SQL'" class="btn-icon btn-icon-sm  btn-gap-v btn-default"><i class="glyphicon glyphicon-pencil"></i></a>
                <a ng-click="openSqlTemplate(row.action, row, false)" ng-if="viewMode && row.type === 'SQL'" class="btn-icon btn-icon-sm  btn-gap-v btn-default"><i class="glyphicon glyphicon-file"></i></a>

                <a href="javascript:;" ng-click="removeTemplate(row)" ng-if="canDelete" class="btn-icon btn-icon-sm  btn-gap-v btn-default"><i class="glyphicon glyphicon-remove"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>