<div class="page">
    <div class="panel panel-body">

        <div class="row">
            {{domain}}
            <div class="col-sm-12">
                <div class="no-border pull-left" ng-if="canCreate"  ng-disabled="!domain" >

                    <a href="#/calendars/new" ng-click="" class="btn-icon btn-icon-round btn-icon-sm  btn-gap-v bg-success" ng-disabled="!domain">
                        <i class="fa fa-plus"></i>
                    </a>

                    <a ng-click="reloadData(true)" ng-disabled="!domain" style="padding: 0" class="btn btn-icon btn-icon-round btn-icon-sm  btn-gap-v bg-primary">
                        <i class="glyphicon glyphicon-refresh"></i>
                    </a>
                </div>

                <div class="form-group pull-right">
                    <div class="col-sm-10">
                        <input data-ng-model="query"  type="search" class="form-control no-border text-right" placeholder="Search term">
                        <span class="icon glyphicon glyphicon-search"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive" style="position: relative;">
            <div ng-show="isLoading" class="loading text-center">
                        <span>
                            <i class="fa fa-spinner fa-5x fa-spin"></i>
                        </span>
            </div>

            <div class="row text-center" ng-if="!rowCollection || rowCollection.length == 0">
                <div class="center-block col-md-4" style="float: none;">
                    <h1 aria-hidden="true"><i aria-hidden="true" class="fa fa-meh-o"></i></h1>
                    <h2>No results found</h2>
                </div>
            </div>

            <table ng-show="rowCollection.length > 0" wt-responsive-table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-hover" st-search search-watch-model="query">
                <thead>
                <tr>
                    <th st-skip-natural="true" st-sort="name">Name</th>
                    <th st-skip-natural="true" st-sort="description">Description</th>
                    <th st-skip-natural="true" st-sort="startDate">Start</th>
                    <th st-skip-natural="true" st-sort="endDate">End</th>
                    <th >Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in displayedCollection">
                    <td >
                        <a ng-if="canUpdate" href="#/calendars/{{row._id}}/edit">
                            {{row.name}}
                        </a>
                        <div ng-if="!canUpdate">
                            {{row.name}}
                        </div>
                    </td>
                    <td>{{row.description}}</td>
                    <td >{{getDateFromTimestamp(row.startDate)}}</td>
                    <td >{{getDateFromTimestamp(row.endDate)}}</td>
                    <td >
                        <p>
                            <a href="#/calendars/{{row._id}}/edit" ng-if="canUpdate" class="text-muted"><i class="glyphicon glyphicon-pencil"></i></a>
                            <span class="space space-xs"></span>
                            <a href="javascript:;" ng-click="removeItem(row)" ng-if="canDelete" class="text-muted"><i class="glyphicon glyphicon-remove"></i></a>
                        </p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
