<div class="page">

    <div class="panel">

        <div class="panel-body">

            <div class="row">

                <div class="col-sm-6">
                    <div class="ng-pristine form-validation ng-invalid ng-invalid-required ng-invalid-equal ng-dirty" novalidate role="form">


                        <div class="form-group" >
                            <label for>Name</label>
                            <input type="text" class="form-control ng-animate ng-dirty ng-invalid ng-invalid-required" required data-ng-model="calendar.name" style="">
                        </div>
                        <div class="form-group" >
                            <label for>Description</label>
                            <input type="text" class="form-control ng-animate ng-dirty ng-invalid ng-invalid-required" required data-ng-model="calendar.description" style="">
                        </div>


                    </div>
                </div>

                <div class="col-sm-6">

                    <div class="row">

                        <div class="col-lg-6">

                            <div class="form-group">
                                <label for>Start</label>
                                <div class="input-group ui-datepicker">
                                    <input type="text"
                                           class="form-control"
                                           datepicker-popup="dd.MM.yyyy"
                                           ng-model="calendar._startDate"
                                           is-open="dateOpenedControl.openedDateStart"
                                           datepicker-options="dateOptions"
                                           ng-click="openDate($event, 'openedDateStart')"
                                           ng-change="changeDate('startDate')"
                                            >
                                    <span class="input-group-addon" ng-click="openDate($event)"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">

                                <label for>End</label>
                                <div class="calendar-end-time input-group ui-datepicker">
                                    <input type="text"
                                           class="form-control"
                                           datepicker-popup="dd.MM.yyyy"
                                           ng-model="calendar._endDate"
                                           is-open="dateOpenedControl.openedDateEnd"
                                           datepicker-options="dateOptions"
                                           ng-change="changeDate('endDate')"
                                           ng-click="openDate($event,'openedDateEnd')"
                                            >
                                    <span class="input-group-addon" ng-click="openDate($event)"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' :  !calendar.timeZone}">
                        <label class="control-label">Time zone</label>
                        <input typeahead-editable="false"
                               required
                               typeahead-focus-on-select="true"
                               typeahead-select-on-exact="true"
                               typeahead-on-select="onSelectTimeZone"
                               type="text"
                               class="form-control"
                               placeholder="Time zone"
                               ng-model="calendar.timeZone"
                               typeahead="zone as zone.name for zone in timeZones | filter:{name:$viewValue}" >
                    </div>

                </div>

            </div>

            <div class="row">
                <label style="padding-left: 12px;">Work week</label>
                <table class="table">
                    <thead ng-class="{'bg-danger': _hourError, 'bg-gray':!_hourError}">
                        <tr>
                            <th>
                                <select class="form-control" data-ng-model="newAccept.weekDay">
                                    <option value="{{key}}"  ng-selected="{{key==newAccept.weekDay}}" ng-repeat="(key, day) in mapDays">{{day}}</option>
                                </select>
                            </th>
                            <th class="text-center">
                                <div class="form-inline">
                                    <select class="form-control" data-ng-model="newAccept.startHour">
                                        <option value="{{i}}" ng-selected="{{i==newAccept.startHour}}" ng-repeat="i in getNumber(24) track by $index">{{i}}</option>
                                    </select>
                                    <label>:</label>
                                    <select class="form-control" data-ng-model="newAccept.startMinute">
                                        <option value="{{i}}" ng-selected="{{i==newAccept.startMinute}}" ng-repeat="i in getNumber(60) track by $index">{{i}}</option>
                                    </select>
                                </div>

                            </th>
                            <th class="text-center" style="vertical-align: middle;">
                                to
                            </th>
                            <th class="text-center">
                                <div class="form-inline">
                                    <select class="form-control" ng-model="newAccept.endHour">
                                        <option value="{{i}}" ng-selected="{{i==newAccept.endHour}}" ng-repeat="i in getNumber(24) track by $index">{{i}}</option>
                                    </select>
                                    <label>:</label>
                                    <select class="form-control" data-ng-model="newAccept.endMinute" ng-init="17">
                                        <option value="{{i}}" ng-selected="{{i==newAccept.endMinute}}" ng-repeat="i in getNumber(60) track by $index">{{i}}</option>
                                    </select>
                                </div>
                            </th>

                            <th class="text-center">
                                <button class="btn btn-default" ng-click="addAcceptDay(newAccept)">Add</button>
                            </th>
                        </tr>
                    </thead>

                    <tbody class="text-center">

                        <tr ng-repeat="(key, row) in calendar.accept|orderBy:['weekDay','startTime']" ng-class="{'bg-danger': row._error}">

                            <td  ng-if="editRowWorkWeekKey != key">
                                {{mapDays[row.weekDay]}}
                            </td>
                            <td ng-if="editRowWorkWeekKey == key">
                                <select class="form-control" data-ng-model="editRowWorkWeek.weekDay">
                                    <option value="{{key}}"  ng-selected="{{key==editRowWorkWeek.weekDay}}" ng-repeat="(key, day) in mapDays">{{day}}</option>
                                </select>
                            </td>

                            <td ng-if="editRowWorkWeekKey != key">
                                {{minuteOfDayToString(row.startTime)}}
                            </td>
                            <td ng-if="editRowWorkWeekKey == key">
                                <div class="form-inline">
                                    <select class="form-control" data-ng-model="editRowWorkWeek.startHour">
                                        <option value="{{i}}" ng-selected="{{i==editRowWorkWeek.startHour}}" ng-repeat="i in getNumber(24) track by $index">{{i}}</option>
                                    </select>
                                    <label>:</label>
                                    <select class="form-control" data-ng-model="editRowWorkWeek.startMinute">
                                        <option value="{{i}}" ng-selected="{{i==editRowWorkWeek.startMinute}}" ng-repeat="i in getNumber(60) track by $index">{{i}}</option>
                                    </select>
                                </div>
                            </td>

                            <td>

                            </td>

                            <td ng-if="editRowWorkWeekKey != key">
                                {{minuteOfDayToString(row.endTime)}}
                            </td>
                            <td ng-if="editRowWorkWeekKey == key">
                                <div class="form-inline">
                                    <select class="form-control" data-ng-model="editRowWorkWeek.endHour">
                                        <option value="{{i}}" ng-selected="{{i==editRowWorkWeek.endHour}}" ng-repeat="i in getNumber(24) track by $index">{{i}}</option>
                                    </select>
                                    <label>:</label>
                                    <select class="form-control" data-ng-model="editRowWorkWeek.endMinute">
                                        <option value="{{i}}" ng-selected="{{i==editRowWorkWeek.endMinute}}" ng-repeat="i in getNumber(60) track by $index">{{i}}</option>
                                    </select>
                                </div>
                            </td>


                            <td>
                                <p>
                                    <a ng-if="editRowWorkWeekKey == key" ng-click="saveEditWorkWeekRow(row, key)" class="text-muted ng-scope"><i class="glyphicon glyphicon-save"></i></a>
                                    <a ng-if="editRowWorkWeekKey != key" ng-click="setEditWorkWeekRow(row, key)" class="text-muted ng-scope"><i class="glyphicon glyphicon-pencil"></i></a>
                                    <span class="space space-xs"></span>
                                    <a href="javascript:;" ng-click="removeRowByKey(row, 'accept');" class="text-muted ng-scope"><i class="glyphicon glyphicon-remove"></i></a>
                                </p>

                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>


            <div class="row">
                <label style="padding-left: 12px;">Holidays</label>
                <table class="table">


                    <thead >
                        <tr>
                            <th class="text-center">
                                Name
                            </th>
                            <th class="text-center" style="width: 300px">
                                Date
                            </th>

                            <th class="text-center">
                                Repeat
                            </th>

                            <th class="text-center">

                            </th>
                        </tr>
                    </thead>
                    <tbody class="text-center">

                        <tr ng-class="{'bg-danger': _hourError_, 'bg-gray':!_hourError_}">
                            <td>
                                <input type="text" class="form-control ng-animate ng-dirty ng-invalid ng-invalid-required" required data-ng-model="holiday.name" style="">
                            </td>
                            <td id="test" class="text-center" style="width: 300px">
                                <div class="calendar-popup-top input-group ui-datepicker">
                                    <input type="text"
                                           class="form-control"
                                           datepicker-popup="dd.MM.yyyy"
                                           ng-model="holiday.date"
                                           is-open="dateOpenedControl.openedHolidays"
                                           datepicker-options="dateOptions"
                                           ng-required="true"
                                           ng-click="openDate($event, 'openedHolidays')"
                                           show-button-bar="true"
                                            >
                                    <span class="input-group-addon" ng-click="openDate($event)"><i class="fa fa-calendar"></i></span>
                                </div>
                            </td>

                            <td class="text-center">
                                <select class="form-control" data-ng-model="holiday.repeat" >
                                    <option value="0">Never</option>
                                    <option value="1">Each year</option>
                                </select>
                            </td>

                            <td class="text-center">
                                <button class="btn btn-default" ng-click="addHoliday(holiday)">Add</button>
                            </td>
                        </tr>

                        <tr ng-repeat="(key, row) in calendar.except|orderBy:'date'">

                            <td>
                                {{row.name}}
                            </td>
                            <td>
                                {{getDateFromTimestamp(row.date)}}
                            </td>

                            <td>
                                {{mapRepeat[row.repeat]}}
                            </td>
                            <td>
                                <p>
                                    <!--<a href="javascript:;" ng-click="calendar.except.splice(key, 1)" class="text-muted ng-scope"><i class="glyphicon glyphicon-pencil"></i></a>-->
                                    <!--<span class="space space-xs"></span>-->
                                    <a href="javascript:;" ng-click="removeExcept(row)" class="text-muted ng-scope"><i class="glyphicon glyphicon-remove"></i></a>
                                </p>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <div class="panel-footer">
            <!--<btn-save-exit save="save" save-exit="save"></btn-save-exit>-->
            <button ng-show="isEdit" type="button" ng-click="save()" class="btn btn-w-md btn-gap-v btn-success">Save</button>
            <button ng-show="isEdit && !isNew"  ng-click="cancel()" type="button" class="btn btn-w-md btn-gap-v btn-primary">Cancel</button>
            <button  type="button" ng-click="closePage()" class="btn btn-w-md btn-gap-v btn-default">Close</button>
        </div>

    </div>

</div>
