<div class="page" >
	<div class="panel">

		<div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <div class="no-border pull-left">
                        <a  ng-if="canCreate" href="#/queue/acd/new?domain={{domain}}" style="padding: 0;" ng-disabled="!domain" class="btn btn-icon btn-icon-sm  btn-gap-v btn-success">
                            <i class="fa fa-plus"></i>
                        </a>

                        <a href="" ng-click="reloadData()" ng-disabled="!domain" style="padding: 0;" class="btn btn-icon btn-icon-sm btn-gap-v btn-dark">
                            <i class="glyphicon glyphicon-refresh"></i>
                        </a>
                    </div>


                    <div class="form-group pull-right ">
                        <div class="col-sm-10">
                            <input  data-ng-model="query"  type="search" class="form-control no-border text-right" placeholder="Search term">
                            <span class="icon glyphicon glyphicon-search"></span>
                        </div>
                    </div>

                    <div class="row text-center" ng-if="!rowCollection || rowCollection.length == 0">
                        <div class="center-block col-md-4" style="float: none;">
                            <h1 aria-hidden="true"><i aria-hidden="true" class="fa fa-meh-o"></i></h1>
                            <h2>No results found</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-responsive" ng-show="rowCollection.length > 0" style="position: relative;">

			    <table  ng-show="rowCollection.length > 0" wt-responsive-table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-hover" st-search search-watch-model="query">
                <thead>
                    <tr ng-show="rowCollection.length > 0">
                        <th style="width: 40%" st-skip-natural="true" st-sort="name" >Name</th>
                        <th style="width: 20%" st-skip-natural="true" st-sort="strategy" >Strategy</th>
                        <th style="width: 20%" st-skip-natural="true" st-sort="enable" >Enable</th>
                        <th style="width: 10%; min-width: 83px; text-align: end;">
                            Count: {{displayedCollection.length}}
                        </th>
                    </tr>
				</thead>

				<tbody ng-show="rowCollection.length > 0 ">
					<tr ng-repeat="row in displayedCollection">
						<td>
                            <a ng-if="canUpdate" href="#/queue/acd/{{row.name}}/edit?domain={{domain}}">
                                {{row.name}}
                            </a>
                            <span ng-if="!canUpdate">
                                {{row.name}}
                            </span>
                        </td>
						<td>{{row.strategy}}</td>
						<td>
							<span class="input-group-addon" style="width: 50px;background-color: transparent;border: 0;">
								<label class="switch switch-small switch-success"><input ng-disabled="!canUpdate" type="checkbox" ng-change="toggleQueueStatus(row)" ng-model="row.enable"><i></i></label>
							</span>
						</td>
						<td style="text-align: end">
                            <a href="#/queue/acd/{{row.name}}/edit?domain={{domain}}" ng-if="canUpdate" class="btn-icon btn-icon-sm  btn-gap-v btn-default"><i class="glyphicon glyphicon-pencil"></i></a>
                            <a href="#/queue/acd/{{row.name}}/view?domain={{domain}}" ng-if="viewMode" class="btn-icon btn-icon-sm  btn-gap-v btn-default"><i class="glyphicon glyphicon-file"></i></a>

                            <a href="javascript:;" ng-click="removeItem(row)" ng-if="canDelete" class="btn-icon btn-icon-sm  btn-gap-v btn-default"><i class="glyphicon glyphicon-remove"></i></a>
						</td>
					</tr>
				</tbody>
			</table>

            </div>
		</div>
	</div>
</div>
