<div class="page">
    <form name="acdForm" class="panel">
        <div class="panel-body">
            <div class="row">

                <div class="col-sm-5">
                    <div class="form-group" ng-class="{ 'has-error' : acdForm.name.$invalid }">
                        <label class="control-label">Name</label>
                        <input type="text" name="name" class="form-control" required ng-disabled="!queue._new || viewMode" data-ng-model="queue.id" style="">
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : acdForm.strategy.$invalid }">
                        <label class="control-label">Strategy</label>
                        <select ng-disabled="viewMode" class="form-control" required name="strategy" ng-model="queue.strategy">
                            <option value="longest-idle-agent">Longest-idle-agent</option>
                            <option value="ring-all">Ring-all</option>
                            <option value="round-robin">Round-robin</option>
                            <option value="top-down">Top-down</option>
                            <option value="agent-with-least-talk-time">Agent-with-least-talk-time</option>
                            <option value="agent-with-fewest-calls">Agent-with-fewest-calls</option>
                            <option value="sequentially-by-agent-order">Sequentially-by-agent-order</option>
                            <option value="random">Random</option>
                            <option value="ring-progressively">Ring-progressively</option>
                        </select>
                    </div>

                    <div class="form-group" >
                        <label class="control-label">Description</label>
                        <input ng-disabled="viewMode" type="text" class="form-control"  data-ng-model="queue.description" style="">
                    </div>

                    <div ng-if="!queue._new" class="form-group" >
                        <label for>Enabled</label>
                        <label style="width: 100%;" class="switch switch-success"><input ng-disabled="viewMode" type="checkbox" ng-change="toggleQueueStatus(queue, queue.id)" ng-model="queue.enable" class="ng-valid ng-dirty"><i></i></label>
                    </div>

                </div>
                <div class="col-sm-7">
                    <div class="ui-tab-container ui-tab-dark">
                        <div class="ui-tab">
                            <tabset>
                                <tab>
                                    <tab-heading>
                                        <span>Options</span>
                                    </tab-heading>
                                    <div class="form-group" >
                                        <label class="control-label">Moh sound</label>
                                        <input ng-disabled="viewMode" type="text" class="form-control" data-ng-model="queue['moh-sound']"  typeahead-on-select="onSelectMedia($item, $model, $label, $event)" typeahead="itm as itm.name for itm in getMedia($viewValue) | filter:$viewValue | limitTo:8">
                                    </div>
                                    <div class="form-group" >
                                        <label class="control-label">Time base score</label>
                                        <select ng-disabled="viewMode" class="form-control" required ng-model="queue['time-base-score']">
                                            <option value="system">System</option>
                                            <option value="queue">Queue</option>
                                        </select>
                                    </div>

                                    <div class="container-fluid" style="padding: 0;">
                                        <div class="row">
                                            <div class="col-sm-6" ng-class="{ 'has-error' : acdForm.discard.$invalid }">
                                                <label class="control-label">Discard abandoned after</label>
                                                <input ng-disabled="viewMode" class="form-control" type="number" name="discard" ng-model="queue['discard-abandoned-after']"
                                                       min="0" max="999" required>
                                            </div>

                                            <div class="col-sm-6" >
                                                <label for>Abandoned resume allowed</label>
                                                <label style="width: 100%;"  class="switch switch-success"><input ng-disabled="viewMode" type="checkbox" ng-model="queue['abandoned-resume-allowed']"><i></i></label>
                                            </div>
                                        </div>
                                    </div>


                                </tab>
                                <tab>
                                    <tab-heading>
                                        <span>Times</span>
                                    </tab-heading>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group" ng-class="{ 'has-error' : acdForm.maxWaitTime.$invalid }">
                                                <label class="control-label">Max wait time</label>
                                                <input ng-disabled="viewMode" class="form-control" type="number" name="maxWaitTime" ng-model="queue['max-wait-time']"
                                                       min="0" max="999999" required>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group" ng-class="{ 'has-error' : acdForm.maxWaitNoAgent.$invalid }">
                                                <label class="control-label">Max wait time with no agent</label>
                                                <input ng-disabled="viewMode" class="form-control" type="number" name="maxWaitNoAgent" ng-model="queue['max-wait-time-with-no-agent']"
                                                       min="0" max="999999" required>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group" ng-class="{ 'has-error' : acdForm.maxWaitNoAgentReached.$invalid }">
                                                <label class="control-label">Max wait time with no agent time reached</label>
                                                <input ng-disabled="viewMode" class="form-control" type="number" name="maxWaitNoAgentReached" ng-model="queue['max-wait-time-with-no-agent-time-reached']"
                                                       min="0" max="999999" required>
                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group" ng-class="{ 'has-error' : acdForm.ringProgressive.$invalid }">
                                                <label class="control-label">Ring progressively delay</label>
                                                <input ng-disabled="viewMode" class="form-control" type="number" name="ringProgressive" ng-model="queue['ring-progressively-delay']"
                                                       min="0" max="999999" required>
                                            </div>
                                        </div>

                                    </div>

                                </tab>
                            </tabset>
                        </div>
                    </div>
                </div>

            </div>
            <!--{{agents}}-->
            <div class="row" ng-if="canReadTiers && !queue._new">
                <div class="panel">
                    <div class="panel-body" style="position: relative;">

                        <div ng-if="progress" class="" style="position: absolute; width: 100%; height: 100%; margin:auto; z-index: 3;">
                            <div  class="loading text-center">
                                <span style="top: 50%;">
                                    Please wait {{progress}}
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-7">
                                <div class="form-group" >
                                    <div class="form-group-sm">
                                        <label>Tiers</label>
                                    </div>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-search text-muted"></i></span>
                                        <input ng-model="searchTextTiers" type="text" class="form-control" placeholder="Search...">

                                        <span ng-disabled="!canDeleteTiers" ng-click="removeTiers()" class="btn input-group-addon">
                                            <i class="glyphicon glyphicon-chevron-right"></i>
                                        </span>
                                        <span ng-disabled="!canDeleteTiers" ng-click="removeTiers(true)" class="btn input-group-addon">
                                             <i class="glyphicon glyphicon-forward"></i>
                                        </span>
                                    </div>


                                    <ul ng-init="getTiers()" class="list-group" style="max-height:250px; overflow-y:auto; padding: 0;">
                                        <li class="list-group-item clearfix" ng-repeat="(key, value) in tiersListFiltered = (tiers | filter:searchTextTiers | orderBy: ['level', 'position'] )"
                                            ng-click="selTiers[value.agent]=!selTiers[value.agent]"
                                            ng-class="{'bg-info': selTiers[value.agent]}">

                                        <span>
                                            {{value.agent.split('@')[0]}} ({{value.name}})
                                        </span>

                                        <span ng-if="canUpdateTiers">
                                            Pos:
                                            <span ng-click="setTierPos(value, true, $event)" style="padding: 0;" class="btn">
                                                <i style="line-height: 0;" class="glyphicon glyphicon-chevron-up"></i>
                                            </span>
                                            <span>{{value.position}}</span>
                                            <span ng-click="setTierPos(value, false, $event)" style="padding: 0;" class="btn">
                                                <i style="line-height: 0;" class="glyphicon glyphicon-chevron-down"></i>
                                            </span>
                                        </span>

                                        <span ng-if="canUpdateTiers">
                                            Lvl:
                                            <span ng-click="setTierLvl(value, true, $event)" style="line-height: 0; padding: 0;" class="btn">
                                                <i style="line-height: 0;" class="glyphicon glyphicon-plus"></i>
                                            </span>
                                            <span>{{value.level}}</span>
                                            <span ng-click="setTierLvl(value, false, $event)" style="line-height: 0; padding: 0;" class="btn">
                                                <i style="line-height: 0;" class="glyphicon glyphicon-minus"></i>
                                            </span>
                                        </span>

                                            <span class="pull-right">{{value.state}}/{{value.status}}</span>
                                        </li>

                                        <li class="list-group-item" ng-hide="tiersListFiltered.length">
                                            <p>
                                                Not found tiers
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-group" >
                                    <div class="form-group-sm">
                                        <label>Agents</label>
                                    </div>
                                    <div class="input-group">
                                        <span ng-disabled="!canCreateTiers" ng-click="addTiers(true)" class="btn input-group-addon">
                                            <i class="glyphicon glyphicon-backward"></i>
                                        </span>
                                        <span ng-disabled="!canCreateTiers" ng-click="addTiers()" class="btn input-group-addon">
                                            <i class="glyphicon glyphicon-chevron-left"></i>
                                        </span>

                                        <input ng-model="searchTextAgents" type="text" class="form-control" placeholder="Search...">
                                        <span class="input-group-addon"><i class="fa fa-search text-muted"></i></span>
                                    </div>

                                    <ul  ng-init="getAgents()" class="list-group" style="max-height:250px;  overflow-y:auto; padding: 0; line-height: 0">
                                        <li  class="list-group-item" ng-repeat="(key, value) in agentsListFiltered = (agents | filter:searchTextAgents)"
                                             ng-click="selAgents[value.id]=!selAgents[value.id]"
                                             ng-class="{'bg-info': selAgents[value.id]}">

                                            <span class="media">{{value.id}}</span>
                                            <span class="space space-xs"></span>
                                            <span class="media">{{value.name}}</span>
                                        <span class="pull-right text-muted">
                                            <span>{{value.state}}/</span>
                                            <span>{{value.status}}</span>
                                        </span>
                                        </li>

                                        <li class="list-group-item" ng-hide="agentsListFiltered.length">
                                            <p>
                                                Not found agents
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-footer">
            <button ng-show="isEdit && !viewMode" type="button" ng-disabled="acdForm.$invalid" ng-click="save()" class="btn btn-w-md btn-gap-v btn-success">Save</button>
            <button ng-show="isEdit && !isNew && !viewMode"  ng-click="cancel()" type="button" class="btn btn-w-md btn-gap-v btn-primary">Cancel</button>
            <button  type="button" ng-click="closePage()" class="btn btn-w-md btn-gap-v btn-default">Close</button>
        </div>

    </form>
</div>