
<div class="page page-profile">

    <div class="row">
        <div class="page">

            <div class="panel panel-box">
                <div class="panel-top bg-primary">
                    <div class="text-center">
                        <h3>{{main.name}}</h3>
                        <p>Role: {{main.roleName}}</p> 
                    </div>
                    <div class="divider divider-lg"></div>
                    <div class="divider divider-lg"></div>
                </div>
  
                {{main.acl}}
            </div>

        </div>
    </div>

</div>