<div class="page" style="min-height: 390px">

    <div class="panel panel-default">
        <div class="panel-heading">
            Remove non-existent files
        </div>
        <div class="panel-body">
            <div class="col-sm-3">
                <div class="form-group" style="padding-top: 5px;">
                    <label></label>
                    <button style="width: 100%" type="button" ng-disabled="!removeNonExistentFile.from || !removeNonExistentFile.to" ng-click="runDelNonExistentFile(removeNonExistentFile)" class="btn btn-success">Run</button>
                </div>
            </div>

            <div class="col-sm-5">
                <div class="form-group">
                    <label for>From</label>
                    <div class="input-group ui-datepicker">
                        <input type="text"
                               class="form-control"
                               datepicker-popup="dd.MM.yyyy"
                               ng-model="removeNonExistentFile.from"
                               is-open="dateOpenedControl.from"
                               datepicker-options="dateOptions"
                               ng-required="true"
                               show-button-bar="false"
                        >
                        <span class="btn input-group-addon" ng-click="openDate($event, 'from')"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="form-group">
                    <label for>To</label>
                    <div class="input-group ui-datepicker">
                        <input type="text"
                               class="form-control"
                               datepicker-popup="dd.MM.yyyy"
                               ng-model="removeNonExistentFile.to"
                               is-open="dateOpenedControl.to"
                               datepicker-options="dateOptions"
                               ng-required="true"
                               show-button-bar="false"
                        >
                        <span class="btn input-group-addon" ng-click="openDate($event, 'to')"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Reload module
                </div>
                <div class="panel-body">
                    <div class="col-sm-4">
                        <div class="form-group" style="padding-top: 5px;">
                            <label></label>
                            <button ng-disabled="!reload.module || reloadProcess" style="width: 100%" ng-click="reload(reload.module)" type="button" class="btn btn-warning">Reload</button>
                        </div>
                    </div>

                    <div class="col-sm-8">
                        <div class="form-group">
                            <label class="control-label">Module</label>
                            <select class="form-control"  data-ng-model="reload.module" ng-options="module for module in fsModules">
                                <option value="">-- choose module --</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Reload XML
                </div>
                <div class="panel-body">
                    <div class="form-group" style="padding-top: 5px;">
                        <label></label>
                        <button style="width: 100%" ng-disabled="reloadProcess" type="button" ng-click="reload('xml')" class="btn btn-warning">XML</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>