<div class="page">

    <section class="panel">
        <!--<div class="panel-heading"><strong>Domain: {{domain.name}}</strong></div>-->
        <form class="panel-body" name="gatewayForm">

            <div class="row">
                <div class="col-sm-4">

                    <div class="form-group" ng-class="{ 'has-error' : gatewayForm.name.$invalid }">
                        <label class="control-label">Name</label>
                        <input type="text" class="form-control" name="name" required data-ng-model="gateway.name"  ng-disabled="gateway.id || viewMode">
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : gatewayForm.type.$invalid }">
                        <label class="control-label">Type</label>
                        <select class="form-control" required name="type" ng-model="gateway.type" ng-disabled="viewMode">
                            <!-- TODO queue get roles -->
                            <option value="sipTrunk">SIP trunk</option>
                            <option value="sipProvider">SIP provider</option>
                            <!--<option value="skype">Skype connect</option>-->
                        </select>
                    </div>

                    <div class="form-group" ng-if="!gateway.id">
                        <label class="control-label">Profile</label>
                        <select class="form-control" ng-model="gateway.profile" >
                            <option value="">None</option>
                            <option value="external">External</option>
                            <option value="nonreg">Nonreg</option>
                        </select>
                    </div>

                    <div class="form-group" ng-if="isRoot && !gateway.id">
                        <label class="control-label">Domain</label>
                        <select class="form-control"  data-ng-model="gateway.domain" ng-options="domain for domain in domains" ng-init="getDomains()">
                            <option value="">-- choose domain --</option>
                        </select>
                    </div>

                </div>

                <div class="col-sm-8">
                    <div class="ui-tab-container ui-tab-dark">
                        <div class="ui-tab ng-isolate-scope">
                            <tabset>
                                <tab heading="General">
                                    <div class="panel-body">

                                        <div class="form-group" ng-class="{ 'has-error' : !gateway.attr[row.fieldName] }" ng-repeat="(key, row) in sortPositionFiled(template[gateway.type].fields)">
                                            <label class="control-label">{{row.caption}}</label>
                                            <input ng-disabled="viewMode" ng-if="row.type != 'password'" type="text" name="{{row.fieldName}}"  class="form-control" ng-model="gateway.attr[row.fieldName]" required>
                                            <!--<input ng-if="row.type == 'password'" type="password" name="{{row.fieldName}}"  class="form-control" ng-model="gateway.attr[row.fieldName]" required>-->

                                            <div class="input-group" ng-if="row.type == 'password'" >
                                                <input  ng-disabled="viewMode" name="{{row.fieldName}}"  class="form-control" ng-model="gateway.attr[row.fieldName]" type="{{!viewPassword ? 'password' : 'text'}}" required>
                                                <span class="input-group-btn">
                                                    <button ng-show="!viewPassword" ng-click="toggleViewPassword()" class="btn btn-default" type="button">
                                                        <i class="glyphicon glyphicon-eye-open"></i>
                                                    </button>
                                                    <button ng-show="viewPassword" ng-click="toggleViewPassword()" class="btn btn-default" type="button">
                                                        <i class="glyphicon glyphicon-eye-close"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>

                                    </div>
                                </tab>
                                <tab heading="Parameters">

                                    <div class="panel-body">
                                        <webitel-variables
                                                collection = "gateway.params"
                                                dictionary="dictionary"
                                                remvar="remParams"
                                                >

                                        </webitel-variables>
                                    </div>

                                </tab>

                                <tab heading="Variables" ng-if="false"  select="selectTab('var')">

                                    <div class="panel-body">
                                        <webitel-variables
                                                collection = "gateway.var"
                                                dictionary="dictionary"
                                                remvar="remVar"
                                                >

                                        </webitel-variables>
                                    </div>

                                </tab>

                                <tab heading="Inbound variables"  ng-if="false"  select="selectTab('ivar')">

                                    <div class="panel-body">
                                        <webitel-variables
                                                collection = "gateway.ivar"
                                                dictionary="dictionary"
                                                remvar="remIVar"
                                                >

                                        </webitel-variables>
                                    </div>

                                </tab>

                                <tab heading="Outbound variables" ng-if="false"  select="selectTab('ovar')">

                                    <div class="panel-body">
                                        <webitel-variables
                                                collection = "gateway.ovar"
                                                dictionary="dictionary"
                                                remvar="remOVar"
                                                >

                                        </webitel-variables>
                                    </div>

                                </tab>

                            </tabset>
                        </div>
                    </div>
                </div>

            </div>

        </form>

        <div class="panel-footer">
            <button ng-show="isEdit && !viewMode" type="button" ng-disabled="gatewayForm.$invalid" ng-click="save()" class="btn btn-w-md btn-gap-v btn-success">Save</button>
            <button ng-show="isEdit && !isNew && !viewMode"  ng-click="cancel()" type="button" class="btn btn-w-md btn-gap-v btn-primary">Cancel</button>
            <button  type="button" ng-click="closePage()" class="btn btn-w-md btn-gap-v btn-default">Close</button>
        </div>
    </section>

</div>