<div class="page">
    <div class="panel panel-body">

        <div class="no-border pull-left">
            <a  ng-if="canCreate" ng-click="add()" style="padding: 0" class="btn btn-icon btn-icon-round btn-icon-sm  btn-gap-v bg-success">
                <i class="fa fa-plus"></i>
            </a>

            <a ng-click="reloadData()" style="padding: 0" class="btn btn-icon btn-icon-round btn-icon-sm  btn-gap-v bg-primary">
                <i class="glyphicon glyphicon-refresh"></i>
            </a>

            <a ng-click="genLicense()" style="padding: 0" class="btn btn-icon btn-icon-round btn-icon-sm  btn-gap-v bg-primary">
                <i class="glyphicon glyphicon-barcode"></i>
            </a>


        </div>


        <div class="form-group pull-right ">

            <div class="col-sm-10">
                <input  data-ng-model="query"  type="search" class="form-control no-border text-right" placeholder="Search term">
                <span class="icon glyphicon glyphicon-search"></span>
            </div>
        </div>

        <!--<div class="form-group pull-right ">-->
            <!--<div class="col-sm-12">-->
                <!--<span class="">Server id:  {{sid}}</span>-->
            <!--</div>-->

        <!--</div>-->

        <div class="row text-center" ng-if="!rowCollection || rowCollection.length == 0">
            <div class="center-block col-md-4" style="float: none;">
                <h1 aria-hidden="true"><i aria-hidden="true" class="fa fa-meh-o"></i></h1>
                <h2>No results found</h2>
            </div>
        </div>


        <table wt-responsive-table st-table="displayedCollection" st-safe-src="rowCollection" class="table " search-watch-model="query">
            <thead>
                <tr ng-show="rowCollection.length > 0">
                    <th st-sort="customer" >Customer</th>
                    <th st-sort="'users/limit'" >Users/Limit</th>
                    <th st-sort="issued" >Issued</th>
                    <th st-sort="expire" >Expire</th>

                    <th style="text-align: end;">
                        Count: {{displayedCollection.length}}
                    </th>
                </tr>
            </thead>
            <tbody ng-show="rowCollection.length > 0">
            <tr ng-repeat="row in displayedCollection" ng-class="getClass(row)">
                <td >{{row.customer}}</td>
                <td >{{row['users/limit']}}</td>
                <td >{{row.issued}}</td>
                <td >{{row.expire}}</td>
                <td style="text-align: end">
                    <a href="javascript:;" ng-click="_genLicense(row.customer, sid)" ng-if="canUpdate" class="btn-icon btn-icon-round btn-icon-sm  btn-gap-v btn-default"><i class="glyphicon glyphicon-barcode"></i></a>
                    <a href="#/license/{{sid}}/{{row.customer}}?domain={{domain}}" class="btn-icon btn-icon-round btn-icon-sm  btn-gap-v btn-default"><i class="glyphicon glyphicon-file"></i></a>
                    <a href="javascript:;" ng-click="removeItem(row)" ng-if="canDelete" class="btn-icon btn-icon-round btn-icon-sm  btn-gap-v btn-default"><i class="glyphicon glyphicon-remove"></i></a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>



</div>
