<div class="page">
    <div class="panel">
        <div class="panel-body">
            <!--<div style="margin-bottom: 5px;" ng-if="canCreate" nv-file-over="" uploader="uploader" class="drop-box">Drag and drop files here</div>-->
            <div ng-hide="!domain || !uploader.isHTML5" nv-file-drop="" nv-file-over=""  uploader="uploader"  over-class="other-over-zone" class="drop-box other-drop-zone zone" >
                Drag and drop files here.
            </div>

            <div class="row">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="file in uploadFiles">
                        <a ng-click="file.upload()"  class="pull-left" style="padding: 0" class="btn btn-icon btn-icon-round btn-icon-sm  btn-gap-v bg-primary">
                            <i class="glyphicon glyphicon-cloud-upload"></i>
                        </a>
                        <progressbar style="background-color: #34323A;" max="100" value="file.progress" type="success"><span style="white-space:nowrap;">{{file.file.name}} {{progress}} / 100</span></progressbar>
                    </li>
                </ul>

            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="no-border pull-left">

                        <a ng-click="reloadData()" ng-disabled="!domain" style="padding: 0" class="btn btn-icon btn-icon-round btn-icon-sm  btn-gap-v bg-primary">
                            <i class="glyphicon glyphicon-refresh"></i>
                        </a>

                <span class="btn btn-icon btn-icon-round btn-icon-sm  btn-gap-v bg-primary  btn-file"  ng-disabled="!domain" style="padding: 0">
                    <i class="glyphicon glyphicon-cloud-upload"></i>
                    <input type="file" nv-file-select="" uploader="uploader" multiple>
                </span>

                    </div>


                    <div class="form-group pull-right ">
                        <div class="col-sm-10">
                            <input  data-ng-model="query"  type="search" class="form-control no-border text-right" placeholder="Search term">
                            <span class="icon glyphicon glyphicon-search"></span>
                        </div>
                    </div>

                    <div class="row text-center" ng-if="!rowCollection || rowCollection.length == 0">
                        <div class="center-block col-md-4" style="float: none;">
                            <h1 aria-hidden="true"><i aria-hidden="true" class="fa fa-meh-o"></i></h1>
                            <h2>No results found</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-responsive" ng-show="rowCollection.length > 0" style="position: relative;">
                <div ng-show="isLoading" class="loading text-center">
                        <span>
                            <i class="fa fa-spinner fa-5x fa-spin"></i>
                        </span>
                </div>

                <table  ng-show="rowCollection.length > 0" wt-responsive-table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-hover" search-watch-model="query">
                <thead>

                <tr >
                    <th style="width: 40%" st-skip-natural="true" st-sort="name" >Name</th>
                    <th style="width: 15%" st-skip-natural="true" st-sort="format" >Format</th>
                    <th style="width: 15%" st-skip-natural="true" st-sort="type" >Type</th>
                    <th style="width: 15%" st-skip-natural="true" st-sort="size" >Size</th>
                    <!--<th>Play</th>-->
                    <th style="width: 15%; min-width: 116px;">Action</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in displayedCollection">
                        <td >{{row.name}}</td>
                        <td >{{row.format}}</td>
                        <td >{{row.type}}</td>
                        <td >{{row.size}}</td>
                        <!--<td>-->
                            <!--<div webitel-audio resource="row._href"></div>-->
                        <!--</td>-->
                        <td style="text-align: end">
                            <a href="javascript:;" ng-click="removeItem(row)" ng-if="canDelete" class="btn-icon btn-icon-round btn-icon-sm  btn-gap-v btn-default"><i class="glyphicon glyphicon-remove"></i></a>
                            <a href="{{row._href}}" target="_self" download="{{row.name}}" class="btn-icon btn-icon-round btn-icon-sm  btn-gap-v btn-default"><i class="glyphicon glyphicon-cloud-download"></i></a>
                            <a ng-class="{'btn-success': activePlayRowName == row.name, 'btn-default': activePlayRowName != row.name}" class="btn-icon btn-icon-round btn-icon-sm  btn-gap-v" ng-click="playRow(row)" ><i class="glyphicon glyphicon-play"></i></a>
                            <!--<progressbar ng-show="10 > 0" max="100" value="50" type="success"><span style="color:white; white-space:nowrap;">{{progress}} / 100</span></progressbar>-->
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>

        </div>

    </div>

</div>


<div webitel-audio set-source="setSource" on-close="onClosePlayer">

</div>