<div class="modal-header">
    <h3 class="modal-title">Text-To-Speech</h3>
</div>
<div class="modal-body">
    <form name="ttsForm">
        <div class="ui-tab-container ui-tab-dark">
            <div class="ui-tab">
                <tabset>
                    <tab>
                        <tab-heading>
                            <span>Text</span>
                        </tab-heading>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group" ng-class="{ 'has-error' : ttsForm.text.$invalid }">
                                    <!--<label class="control-label">Text</label>-->
                                    <textarea type="text" class="form-control" name="text" required ng-model="props.text" style="max-width: 536px;"> </textarea>
                                </div>
                                <div class="form-group" ng-class="{ 'has-error' : ttsForm.name.$invalid }">
                                    <label class="control-label">Name</label>
                                    <input type="text" class="form-control" name="name" required ng-model="props.name"> </input>
                                </div>
                            </div>
                        </div>
                    </tab>
                    <tab>
                        <tab-heading>
                            <span>Settings</span>
                        </tab-heading>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group" ng-class="{ 'has-error' : ttsForm.provider.$invalid }">
                                    <label class="control-label" for>Provider</label>
                                    <select class="form-control" name="provider" required ng-model="props.provider"
                                            ng-init="getProviders()"
                                            ng-change="getLanguages()">
                                        <option ng-repeat="p in providers" ng-selected="{{p==props.provider}}" value="{{p}}">{{p}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group" ng-class="{ 'has-error' : ttsForm.language.$invalid  }">
                                    <label class="control-label" for>Language</label>
                                    <select class="form-control" name="language" required ng-model="props.language"
                                            ng-init="getLanguages()"
                                            ng-change="getVoices()">
                                        <option ng-repeat="l in languages" ng-selected="{{l==props.language}}" value="{{l}}">{{l}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group" ng-class="{ 'has-error' : ttsForm.voice.$invalid }">
                                    <label class="control-label">Voice</label>
                                    <select class="form-control" name="voice" required ng-model="props.voice">
                                        <option ng-repeat="v in voices" ng-selected="{{v==props.voice}}" value="{{v.value}}">{{v.value}} ({{v.gender}})</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group" ng-class="{ 'has-error' : ttsForm.token.$invalid }">
                                    <label class="control-label">Token</label>
                                    <input type="text" class="form-control" name="token" ng-model="props.token"> </input>
                                </div>
                                <div class="form-group" ng-class="{ 'has-error' : ttsForm.key.$invalid }">
                                    <label class="control-label">Key</label>
                                    <input type="text" class="form-control" name="key" ng-model="props.key"> </input>
                                </div>
                            </div>
                        </div>
                    </tab>
                </tabset>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-disabled="ttsForm.$invalid" ng-click="ok()">OK</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
</div>