<div class="modal-header">
    <h3 class="modal-title">Text-To-Speech</h3>
</div>
<div class="modal-body">
    <form name="ttsForm">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group" ng-class="{ 'has-error' : ttsForm.provider.$invalid }">
                    <label class="control-label" for>Provider</label>
                    <select class="form-control" name="provider" required ng-model="provider"
                            ng-init="getProviders()">
                        <option ng-repeat="p in providers" ng-selected="{{p==provider}}" value="{{p}}">{{p}}</option>
                    </select>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : ttsForm.language.$invalid  }">
                    <label class="control-label" for>Language</label>
                    <select class="form-control" name="language" required ng-model="language"
                            ng-init="getLanguages()">
                        <option ng-repeat="l in languages" ng-selected="{{l==language}}" value="{{l}}">{{l}}</option>
                    </select>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : ttsForm.voice.$invalid }">
                    <label class="control-label">Voice</label>
                    <select class="form-control" name="voice" required ng-model="voice"
                            ng-init="getVoices()">
                        <option ng-repeat="v in voices" ng-selected="{{v==voice}}" value="{{v}}">{{v}}</option>
                    </select>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : ttsForm.text.$invalid }">
                    <label class="control-label">Text</label>
                    <input type="text" class="form-control" name="text" required ng-model="text"> </input>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : ttsForm.token.$invalid }">
                    <label class="control-label">Token</label>
                    <input type="text" class="form-control" name="token" ng-model="token"> </input>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : ttsForm.key.$invalid }">
                    <label class="control-label">Key</label>
                    <input type="text" class="form-control" name="key" ng-model="key"> </input>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-disabled="ttsForm.$invalid" ng-click="ok()">OK</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
</div>