.account-state .onhook{
    color: #fff;
    background-color: #309570;
}
.account-state .isbusy{
    background-color: #e9422e;
    color: #fff;
}
.account-state .nonreg{
    background-color: #c5d0d0;
    color: #fff;
}

.account-status span{
    background-color: #e9422e;
}

.account-status .none{
    background-color: #c5d0d0;
    color: #fff;
}

.account-status .none{
    background-color: #c5d0d0;
    color: #fff;
}

.account-status .dnd{
    background-color: #e9422e;
    color: #fff;
}

.account-status .callforward{
    background-color: #fac552;
    color: #fff;
}

.account-status .onbreak{
    background-color: #fac552;
    color: #fff;
}

.account-agent .false{
    color: #c5d0d0;
}

.account-agent .true{
    color: #309570
}

.account-online .true{
    color: #309570
}

.account-online .false{
    color: #e9422e;
}

table td .account-skills {
    width: 70px;
}