<div class="modal-header">
    <h5 class="modal-title">Change status: {{accountId}}</h5>
</div>
<div class="modal-body">
    <div class="ui-tab-container ui-tab-dark">
        <div class="ui-tab">
            <tabset>
                <tab>
                    <tab-heading>
                        <span>User</span>
                    </tab-heading>
                    <form class="form-horizontal" name="agentForm">
                        <div class="form-group"  ng-class="{ 'has-error' : !ac.state }">
                            <label class="col-sm-2 control-label">State</label>
                            <ui-select class="col-sm-10" ng-disabled="isNonReg" required="true" name="state" data-ng-model="ac.state" theme="bootstrap"  title="Choose a state">
                                <ui-select-match placeholder="Select or search state...">{{$select.selected}}</ui-select-match>
                                <ui-select-choices repeat="st in states | filter: $select.search">
                                    <span ng-bind-html="st | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="form-group" ng-show="ac.state == states[1]" ng-class="{ 'has-error' : !ac.status }">
                            <label class="col-sm-2 control-label">State</label>
                            <ui-select class="col-sm-10" ng-required="ac.state == states[1]" name="status" data-ng-model="ac.status" theme="bootstrap"  title="Choose a status">
                                <ui-select-match placeholder="Select or search status...">{{$select.selected}}</ui-select-match>
                                <ui-select-choices repeat="ss in statuses | filter: $select.search">
                                    <span ng-bind-html="ss | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pull-right">
                                    <button ng-disabled="agentForm.$invalid || ac.state == 'NONREG'" data-ng-click="changeUser()" class="btn btn-default">Change user</button>
                                </div>
                            </div>
                        </div>
                    </form>

                </tab>
                <tab ng-if="isAgent" ng-init="initAgent()">
                    <tab-heading>
                        <span>Agent</span>
                    </tab-heading>
                    <div class="form-horizontal">

                        <div class="form-group"  ng-class="{ 'has-error' : !ac.agent.status }">
                            <label class="col-sm-2 control-label">Status</label>
                            <ui-select class="col-sm-10" required="true" name="status" data-ng-model="ac.agent.status" theme="bootstrap"  title="Choose a status">
                                <ui-select-match placeholder="Select or search status...">{{$select.selected}}</ui-select-match>
                                <ui-select-choices repeat="ss in agentStatuses | filter: $select.search">
                                    <span ng-bind-html="ss | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>

                        <div class="form-group"  ng-class="{ 'has-error' : !ac.agent.state }">
                            <label class="col-sm-2 control-label">State</label>
                            <ui-select class="col-sm-10"  required="true" name="state" data-ng-model="ac.agent.state" theme="bootstrap"  title="Choose a state">
                                <ui-select-match placeholder="Select or search state...">{{$select.selected}}</ui-select-match>
                                <ui-select-choices repeat="st in agentStates | filter: $select.search">
                                    <span ng-bind-html="st | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="pull-right">
                                    <button data-ng-click="changeAgent()" class="btn btn-default">Change agent</button>
                                </div>
                            </div>
                        </div>
                    </div>


                </tab>
            </tabset>
        </div>
    </div>


</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="cancel()">Close</button>
</div>


