table>tbody>tr.cdr-detail {
    border-left: 4px solid #e9422e;
}


table>tbody>tr.cdr-row{
    border-top-width: 1px;
    border-top-style: solid;
}

table>tbody>tr.cdr-detail>td{
    border: 0;
    /*background-color: red;*/
}
table>tbody>tr.cdr-detail.cdr-detail-last{
    border-bottom-style: solid;
    /*border-top-width: 0px;*/
    border-bottom-width: 1px;
    /*border-right-style: solid;*/
    /*border-right-width: 3px;*/
    /*border-left-style: solid;*/
    /*border-left-width: 3px;*/
}

table.cdr-grid>tbody>tr>td.cdr-actions {
    padding: 3px;
    position: relative;
    text-align: right;
}
table.cdr-grid>tbody>tr>td.cdr-actions .cdr-btn {
    font-size: 10px;
}
table.cdr-grid>tbody>tr>td.cdr-actions .btn {
    font-size: 10px;
}

.cdr-pinned {
    background-color: #f9b42094;
}

.cdr-pinned .cdr-pinned-btn {
    transform: rotate(90deg);
}

.cdr-pinned-btn {
    transform: unset;
}

.cdr-selected-file {
    background-color: #0bb64496;
}