<div class="row" ng-show="exportProcessExcel">
    <div class="col-sm-12">
        <span class="space space-xs"></span>
        <progressbar class="progressbar-sm progress-rounded progress-striped progress" max="100" value="progressExport" type="success"><span style="white-space:nowrap;">Export: {{progressExport}} / 100</span></progressbar>
    </div>
</div>


<div class="table-responsive"  style="position: relative; word-break: break-word;">

    <div class="row text-center" ng-if="!rowCollection || rowCollection.length == 0">
        <div class="center-block col-md-4" style="float: none;">
            <h1 aria-hidden="true"><i aria-hidden="true" class="fa fa-meh-o"></i></h1>
            <h2>No results found</h2>
        </div>
    </div>

    <table ng-show="rowCollection.length > 0" wt-responsive-table infinite-scroll-disabled="isLoading"
           style="table-layout: fixed;"
           st-table="rowCollection" infinite-scroll="callServer"  st-pipe="callServer" class="table table-bordered">
        <thead>
        <tr>
            <th st-skip-natural="true" st-sort="'{{item}}'" ng-if="!mapColumns[item].noRender && !mapColumns[item].options.detail" ng-repeat="(item, key) in columns">
                {{mapColumns[item].caption}}
            </th>
        </tr>
        </thead>

        <tbody style="font-size: 11px;">

        <tr ng-repeat-start="(k, row) in rowCollection" ng-click="selectRow(row)" ng-class="{'bg-gray': row == activeRow, 'call-parent-queue': activeRow['variables.cc_member_uuid'] && (row['variables.cc_member_uuid'] === activeRow['variables.cc_member_uuid'])}">
            <td style="word-break: break-word;" ng-if="!mapColumns[item].noRender && !mapColumns[item].options.detail" ng-repeat="(item, key) in columns">
                {{renderCell(row[item], mapColumns[item])}}
                <!--{{row[item]}}-->
            </td>
        </tr>

        <tr ng-repeat-end="" class="bg-gray" ng-show="row == activeRow">
            <td colspan="{{_countColumns}}" class="row">
                <div class="col-sm-8">
                    <dl class="dl-horizontal" ng-repeat="name in detailtColumns">
                        <dt>{{mapColumns[name].caption}}</dt>
                        <dd>{{renderCell(activeRow[name], mapColumns[name])}}</dd>
                    </dl>
                </div>
                <div class="col-sm-4 ">
                    <div class="col-sm-12" ng-repeat="file in row._files" >
                        <div class="row pull-right">
                            <button ng-click="fileAction(file)"  ng-class="file.btnClass ? file.btnClass : 'btn btn-default btn-sm'" >
                                <i ng-if="file.private" class="color-info fa fa-asterisk" aria-hidden="true"></i>
                                {{file.name}}
                                <i ng-class="file.class"></i>
                            </button>

                            <button ng-repeat="btn in file.buttons" ng-class="{{btn.ngClass}}" ng-click="fileAction(btn, file, row._files)"  class="btn btn-default btn-sm " >
                                <i ng-class="btn.class"></i>
                            </button>
                        </div>

                    </div>
                    <span class="pull-right">{{detailLoadingText}}</span>

                    <!--<button ng-click="playRow(row)" ><i class="fa fa-file-pdf-o"></i></button>-->
                </div>

            </td>

        </tr>

        </tbody>
    </table>
</div>