<div class="row" ng-show="exportProcessExcel">
    <div class="col-sm-12">
        <span class="space space-xs"></span>
        <progressbar class="progressbar-sm progress-rounded progress-striped progress" max="100" value="progressExport" type="success"><span style="white-space:nowrap;">Export: {{progressExport}} / 100</span></progressbar>
    </div>
</div>

<div class="table-responsive"  style="position: relative; word-break: break-word;">
    <div class="row text-center" ng-if="!rowCollection || rowCollection.length == 0">
        <div class="center-block col-md-4" style="float: none;">
            <h1 aria-hidden="true"><i aria-hidden="true" class="fa fa-meh-o"></i></h1>
            <h2>No results found</h2>
        </div>
    </div>

    <table ng-show="rowCollection.length > 0" wt-responsive-table infinite-scroll-disabled="isLoading"
           style="table-layout: fixed;"
           st-table="rowCollection" infinite-scroll="callServer"  st-pipe="callServer"
           class="table table-hover cdr-grid">
        <thead>
        <tr>
            <th st-skip-natural="true" st-sort="'{{item.name}}'" ng-if="!item.noRender && !item.options.detail" ng-repeat="(key, item) in mapColumns">
                {{item.caption}}
            </th>

            <th style="width: 142px;">

            </th>
        </tr>
        </thead>

        <tbody style="font-size: 11px;">

        <tr ng-repeat-start="(k, row) in rowCollection" ng-class="{'cdr-detail': row.legs_b.length > 0, 'cdr-pinned': row.pinned_items.length}" class="cdr-row">
            <td style="word-break: break-word;" ng-if="!item.noRender && !item.options.detail" ng-repeat="(key, item) in mapColumns">
                {{renderCell(row[item.name], item)}}
                <!--{{row}}-->
            </td>

            <td class="cdr-actions">
                <div class="btn-group dropup cdr-btn" dropdown="" ng-show="row.recordings.length">
                    <button ng-click="openFile(row.recordings[row._selectedRecordings])" class="btn btn-default">
                        <i class="glyphicon glyphicon-play"></i>
                    </button>
                    <button class="btn btn-default dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right pull-right">
                        <li ng-disabled="true" ng-repeat="(i, f) in row.recordings" ng-class="{'cdr-selected-file': row._selectedRecordings === i}">
                            <a ng-click="setActiveFile(row, i)">
                                {{f.name}}
                            </a>
                        </li>
                        <li>
                            <a ng-click="downloadFile(row.recordings[row._selectedRecordings])">
                                <i class="fa fa-download"></i>
                                Download
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;">
                                <i class="fa fa-lock"></i>
                                Lock
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a ng-click="deleteResource(row.recordings[row._selectedRecordings], row.recordings)">
                                <i class="fa fa-trash-o"></i>
                                Remove
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="btn-group dropup " dropdown="">
                    <button class="btn btn-default dropdown-toggle cdr-btn" aria-haspopup="true" aria-expanded="false">...</button>
                    <ul class="dropdown-menu dropdown-menu-right pull-right">
                        <li>
                            <a ng-click="openCdr(row)">
                                <i class="fa fa-file-code-o"></i>
                                Open
                            </a>
                        </li>
                        <li>
                            <a ng-click="pinItem(row)">
                                <i class="fa fa-thumb-tack cdr-pinned-btn"></i>
                                {{row.pinned_items.length ? 'Unpin' : 'Pin' }}
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a ng-click="deleteCdr(row.uuid)">
                                <i class="fa fa-trash-o"></i>
                                Remove
                            </a>
                        </li>
                    </ul>
                </div>

                <!--<button class="btn btn-default cdr-btn" >...</button>-->

                <button ng-disabled="row._loadB" class="btn btn-default cdr-btn" ng-click="loadLegsB(row, false)">
                    <i  ng-class="{'glyphicon glyphicon-repeat fa-spin': !!row._loadB, 'glyphicon glyphicon-minus': !row._loadB && !!row.legs_b, 'glyphicon glyphicon-plus': !row._loadB && !row.legs_b}" ></i>
                </button>
                <!--<span class="cdr-info-text">-->
                        <!---->
                <!--</span>-->
            </td>
        </tr>

        <tr ng-repeat-end class="cdr-detail" ng-repeat="(k, v) in row.legs_b" ng-class="{'cdr-detail-last': $last}" >
            <td ng-if="!item.noRender && !item.options.detail" ng-repeat="(key, item) in mapColumns">
                {{renderCell(v[item.name], item)}}
            </td>
            <td class="cdr-actions">
                <button class="btn btn-default cdr-btn" ng-click="openCdr(v, true)">
                    <i  class="fa fa-file-code-o" ></i>
                </button>
            </td>
        </tr>

        </tbody>
    </table>
</div>