<div class="col-sm-12">
    <div  class="form-group">
        <label class="control-label">Default language</label>
        <select ng-model="widget.language" ng-change="changeLanguage()" class="form-control ui-select-toggle" >
            <option ng-repeat="option in languages" value="{{option.value}}">{{option.displayedValue}}</option>
        </select>
    </div>
</div>
<div class="col-sm-12">
    <tabset>
        <tab>
            <tab-heading>
                <span>Work time</span>
            </tab-heading>

            <div class="row">
                <div class="col-sm-12">

                    <div  class="form-group">
                        <label class="control-label">Hook title</label>
                        <input  ng-model="widget.config.lang.hookTitle" type="text"  class="form-control" />
                    </div>
                    <div  class="form-group">
                        <label class="control-label">Hook text</label>
                        <input  ng-model="widget.config.lang.hookText" type="text"  class="form-control" />
                    </div>
                    <div  class="form-group">
                        <label class="control-label">Hook waiting title</label>
                        <input  ng-model="widget.config.lang.hookWaitingTitle" type="text"  class="form-control" />
                    </div>
                    <div  class="form-group">
                        <label class="control-label">Work time button text </label>
                        <input  ng-model="widget.config.lang.btnCallWork" type="text"  class="form-control" />
                    </div>
                    <div  class="form-group">
                        <label class="control-label">Invalid number text</label>
                        <input  ng-model="widget.config.lang.invalidNumberMessage" type="text"  class="form-control" />
                    </div>
                    <div  class="form-group">
                        <label class="control-label">On error text</label>
                        <input  ng-model="widget.config.lang.serverErrorMessage" type="text"  class="form-control" />
                    </div>
                </div>
            </div>
        </tab>
        <tab>
            <tab-heading>
                <span>Scheduled call</span>
            </tab-heading>

            <div class="row">
                <div class="col-sm-12">

                    <div  class="form-group">
                        <label class="control-label">After request title</label>
                        <input  ng-model="widget.config.lang.showDeferredTitle" type="text"  class="form-control" />
                    </div>
                    <div  class="form-group">
                        <label class="control-label">After request text</label>
                        <input  ng-model="widget.config.lang.showDeferredText" type="text"  class="form-control" />
                    </div>
                    <div  class="form-group">
                        <label class="control-label">Scheduled call link text</label>
                        <input  ng-model="widget.config.lang.deferredLinkName" type="text"  class="form-control" />
                    </div>
                    <div  class="form-group">
                        <label class="control-label">Scheduled call title</label>
                        <input  ng-model="widget.config.lang.deferredTitle" type="text"  class="form-control" />
                    </div>
                    <div  class="form-group">
                        <label class="control-label">Scheduled call text</label>
                        <input  ng-model="widget.config.lang.deferredText" type="text"  class="form-control" />
                    </div>
                    <div  class="form-group">
                        <label class="control-label">Return from scheduled call link text</label>
                        <input  ng-model="widget.config.lang.workLinkName" type="text"  class="form-control" />
                    </div>
                    <div  class="form-group">
                        <label class="control-label">Scheduled call button text</label>
                        <input  ng-model="widget.config.lang.btnCallDeferred" type="text"  class="form-control" />
                    </div>

                </div>
            </div>
        </tab>
        <tab>
            <tab-heading>
                <span>WebRTC</span>
            </tab-heading>

            <div class="row">
                <div class="col-sm-12">

                    <div  class="form-group">
                        <label class="control-label">Hangup button text</label>
                        <input  ng-model="widget.config.lang.hangup" type="text"  class="form-control" />
                    </div>
                    <div  class="form-group">
                        <label class="control-label">Hold button text</label>
                        <input  ng-model="widget.config.lang.hold" type="text"  class="form-control" />
                    </div>
                    <div  class="form-group">
                        <label class="control-label">Unhold button text</label>
                        <input  ng-model="widget.config.lang.unhold" type="text"  class="form-control" />
                    </div>
                    <div  class="form-group">
                        <label class="control-label">Return from WebRtc link text</label>
                        <input  ng-model="widget.config.lang.returnFromWebrtc" type="text"  class="form-control" />
                    </div>
                    <div  class="form-group">
                        <label class="control-label">Cancel button text</label>
                        <input  ng-model="widget.config.lang.cancelWebrtc" type="text"  class="form-control" />
                    </div>
                    <div  class="form-group">
                        <label class="control-label">WebRtc link text</label>
                        <input  ng-model="widget.config.lang.webRtcLinkName" type="text"  class="form-control" />
                    </div>

                </div>
            </div>
        </tab>
        <tab>
            <tab-heading>
                <span>Not work time</span>
            </tab-heading>

            <div class="row">
                <div class="col-sm-12">

                    <div  class="form-group">
                        <label class="control-label">Not work title</label>
                        <input  ng-model="widget.config.lang.notWorkTitle" type="text"  class="form-control" />
                    </div>
                    <div  class="form-group">
                        <label class="control-label">Not work text</label>
                        <input  ng-model="widget.config.lang.notWorkText" type="text"  class="form-control" />
                    </div>

                </div>
            </div>
        </tab>
    </tabset>
</div>