<div class="page">
    <form name="widgetForm" class="panel">
        <div class="panel-body">

            <div class="row">
                <div class="col-sm-12">
                    <div class="ui-tab-container ui-tab-dark">
                        <div class="ui-tab">
                            <tabset>
                                <tab>
                                    <tab-heading>
                                        <span>General</span>
                                    </tab-heading>
                                    <div class="row">
                                        <div class="col-sm-3">

                                            <div  class="form-group has-error" ng-class="{'has-error': widgetForm.name.$invalid}">
                                                <label class="control-label">Name</label>
                                                <input  required ng-model="widget.name" name="name" type="text"  class="form-control ng-invalid ng-invalid-required" />
                                            </div>
                                            <div class="form-group" ng-class="{ 'has-error' : !widget.queue_id }">
                                                <label class="control-label">Queue</label>
                                                <ui-select name="queue"  ng-model="widget.queue_id" theme="bootstrap"  title="Choose a queue">
                                                    <ui-select-match placeholder="Select or search queue...">{{$select.selected.name}}</ui-select-match>
                                                    <ui-select-choices refresh="initCallbacks()" repeat="c.id as c in queues | filter: $select.search">
                                                        <span ng-bind-html="c.name | highlight: $select.search"></span>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                            <div class="form-group" ng-class="{ 'has-error' : !widget.config.calendar.id }">
                                                <label class="control-label">Calendar</label>
                                                <ui-select ng-change="getCalendar()" name="calendar"  ng-model="widget.config.calendar.id" theme="bootstrap"  title="Choose a calendar">
                                                    <ui-select-match placeholder="Select or search calendar...">{{$select.selected.name}}</ui-select-match>
                                                    <ui-select-choices refresh="initCalendars()" repeat="c.id as c in calendars | filter: $select.search">
                                                        <span ng-bind-html="c.name | highlight: $select.search"></span>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                            <div class="form-group" ng-class="{ 'has-error' : !callflow.value }">
                                                <label class="control-label">Number</label>
                                                <ui-select name="number"  ng-model="callflow.value" theme="bootstrap"  title="Choose a number">
                                                    <ui-select-match placeholder="Select or search number...">{{$select.selected.number}}</ui-select-match>
                                                    <ui-select-choices refresh="initCallflows()" repeat="c in publics | filter: $select.search">
                                                        <span ng-bind-html="c.number | highlight: $select.search"></span>
                                                    </ui-select-choices>
                                                </ui-select>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div  class="form-group">
                                                <label class="control-label">Hook count down seconds</label>
                                                <input  ng-model="widget.config.hookCountDown" type="text"  class="form-control" />
                                            </div>
                                            <div  class="form-group">
                                                <label class="control-label">Get country url</label>
                                                <input  ng-disabled="true" ng-model="widget.config.getCountryUrl" type="text"  class="form-control" />
                                            </div>
                                            <div  class="form-group">
                                                <label class="control-label">Requests limit by IP</label>
                                                <input  ng-model="widget.limit_by_ip" type="number"  class="form-control" />
                                            </div>
                                            <div class="col-sm-6">
                                                <div  class="form-group">
                                                    <label class="control-label">Requests limit by number</label>
                                                    <label style="width: 100%;" class="switch switch-success"><input type="checkbox" ng-model="widget.limit_by_number" class="ng-pristine ng-valid"><i></i></label>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div  class="form-group">
                                                    <label class="control-label">Use WebRTC</label>
                                                    <label style="width: 100%;" class="switch switch-success"><input type="checkbox" ng-model="widget.config.useWebRtc" class="ng-pristine ng-valid"><i></i></label>
                                                </div>
                                            </div>
                                            <div ng-if="false" class="col-sm-6">
                                                <div  class="form-group">
                                                    <label class="control-label">Use video</label>
                                                    <label style="width: 100%;" class="switch switch-success"><input type="checkbox" ng-model="widget.config.useVideo" class="ng-pristine ng-valid"><i></i></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <tabset>
                                                <tab>
                                                    <tab-heading>
                                                        <span>Countries</span>
                                                    </tab-heading>
                                                    <div class="col-sm-12">
                                                        <div class="input-group">
                                                            <div  class="form-group">
                                                                <label class="control-label" style="vertical-align: 50%;">{{widget.config.showInCountry.acceptCountries ? "Accept countries" : "Except countries"}}</label>
                                                                <label style="margin-left: 10px;" class="switch switch-success"><input type="checkbox" ng-model="widget.config.showInCountry.acceptCountries" class="ng-pristine ng-valid"><i></i></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="input-group">
                                                            <select ng-model="country.value" ng-options="selected.name for selected in countries" class="form-control"/>
                                                            <span class=" btn input-group-addon" ng-click="addCountry()">
                                                                <i class="fa fa-plus"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="table-responsive" >

                                                        <div class="row text-center" ng-if="!widget.config.showInCountry.countries || widget.config.showInCountry.countries.length == 0">
                                                            <div class="center-block col-md-4" style="float: none;">
                                                                <h1 aria-hidden="true"><i aria-hidden="true" class="fa fa-meh-o"></i></h1>
                                                                <h2>No results found</h2>
                                                            </div>
                                                        </div>
                                                        <table style="width: 100%; display:block;" ng-show="widget.config.showInCountry.countries.length > 0" st-safe-src="widget.config.showInCountry.countries" class="table table-hover">
                                                            <thead>
                                                            <tr>
                                                                <th style="width: 50%" st-skip-natural="true">Name</th>
                                                                <th style="width: 50%" st-skip-natural="true">Code</th>
                                                                <th></th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr ng-repeat="row in widget.config.showInCountry.countries track by $index">
                                                                <td style="width: 55%">
                                                                    <span>{{row.name}}</span>
                                                                </td>
                                                                <td style="width: 45%">
                                                                    <span>{{row.code}}</span>
                                                                </td>
                                                                <td style="width: 10%; min-width: 83px; text-align: end;">
                                                                    <a href="javascript:;" ng-click="deleteCountry($index)" class="btn-icon btn-icon-sm  btn-gap-v btn-default"><i class="glyphicon glyphicon-remove"></i></a>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>

                                                </tab>
                                                <tab>
                                                    <tab-heading>
                                                        <span>Validate numbers</span>
                                                    </tab-heading>
                                                    <div class="col-sm-12">
                                                        <div class="input-group">
                                                            <input ng-keyup="$event.keyCode == 13 && addValidate()" ng-model="validate.value" type="text"  class="form-control pull-left"/>
                                                            <span class=" btn input-group-addon" ng-click="addValidate()">
                                                                <i class="fa fa-plus"></i>
                                                            </span>
                                                        </div>

                                                    </div>
                                                    <div class="table-responsive">
                                                        <div class="row text-center" ng-if="!widget.config.validateNumbers || widget.config.validateNumbers.length == 0">
                                                            <div class="center-block col-md-4" style="float: none;">
                                                                <h1 aria-hidden="true"><i aria-hidden="true" class="fa fa-meh-o"></i></h1>
                                                                <h2>No results found</h2>
                                                            </div>
                                                        </div>
                                                        <table ng-show="widget.config.validateNumbers.length > 0" st-safe-src="widget.config.validateNumbers" class="table table-hover">
                                                            <thead>
                                                            <tr>
                                                                <th st-skip-natural="true">Validate number</th>
                                                                <th></th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr ng-repeat="row in widget.config.validateNumbers track by $index">
                                                                <td>
                                                                    <span>{{row}}</span>
                                                                </td>
                                                                <td style="width: 10%; min-width: 83px; text-align: end;">
                                                                    <a href="javascript:;" ng-click="deleteValidate($index)" class="btn-icon btn-icon-sm  btn-gap-v btn-default"><i class="glyphicon glyphicon-remove"></i></a>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </tab>
                                                <tab>
                                                    <tab-heading>
                                                        <span>Blacklist</span>
                                                    </tab-heading>
                                                    <div class="col-sm-12">
                                                        <div class="input-group">
                                                            <input ng-keyup="$event.keyCode == 13 && addToBlacklist()" ng-model="blackIp.value" type="text"  class="form-control pull-left"/>
                                                            <span class=" btn input-group-addon" ng-click="addToBlacklist()">
                                                                <i class="fa fa-plus"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="table-responsive">
                                                        <div class="row text-center" ng-if="!widget.blacklist || widget.blacklist.length == 0">
                                                            <div class="center-block col-md-4" style="float: none;">
                                                                <h1 aria-hidden="true"><i aria-hidden="true" class="fa fa-meh-o"></i></h1>
                                                                <h2>No results found</h2>
                                                            </div>
                                                        </div>
                                                        <table ng-show="widget.blacklist.length > 0" st-safe-src="widget.blacklist" class="table table-hover">
                                                            <thead>
                                                            <tr>
                                                                <th st-skip-natural="true">IP address</th>
                                                                <th></th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr ng-repeat="row in widget.blacklist track by $index">
                                                                <td>
                                                                    <span>{{row}}</span>
                                                                </td>
                                                                <td style="width: 10%; min-width: 83px; text-align: end;">
                                                                    <a href="javascript:;" ng-click="deleteFromBlacklist($index)" class="btn-icon btn-icon-sm  btn-gap-v btn-default"><i class="glyphicon glyphicon-remove"></i></a>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </tab>
                                                <tab ng-hide="widget._new">
                                                    <tab-heading>
                                                        <span>Script</span>
                                                    </tab-heading>
                                                    <div class="form-group">
                                                        <textarea ng-disabled="true" class="form-control" ng-model="script" rows="10"></textarea>
                                                        <span style="min-width: 100%;" class="btn input-group-addon" clipboard="" text="script" on-copied="onCopied()" on-error="onCopiedFail(err)">
                                                            <i class="fa fa-files-o"></i>
                                                        </span>
                                                    </div>
                                                </tab>
                                                <tab>
                                                    <tab-heading>
                                                        <span>Description</span>
                                                    </tab-heading>
                                                    <div class="form-group" >
                                                        <textarea class="form-control ng-valid ng-dirty" ng-model="widget.description" rows="4"></textarea>
                                                    </div>
                                                </tab>
                                            </tabset>
                                        </div>
                                    </div>
                                </tab>
                                <tab>
                                    <tab-heading>
                                        <span>Texts</span>
                                    </tab-heading>
                                    <div class="row">
                                         <div data-ng-include="'modules/widget/widgetTextPage.html'"></div>
                                    </div>
                                </tab>
                                <tab>
                                    <tab-heading>
                                        <span>Styles</span>
                                    </tab-heading>
                                    <div class="row">
                                        <div data-ng-include="'modules/widget/widgetStylePage.html'"></div>
                                    </div>
                                </tab>
                            </tabset>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        <div class="panel-footer">
            <button ng-show="isEdit && !viewMode" type="button" ng-disabled="extensionForm.$invalid" ng-click="save()" class="btn btn-w-md btn-gap-v btn-success">Save</button>
            <button ng-show="isEdit && !isNew && !viewMode"  ng-click="cancel()" type="button" class="btn btn-w-md btn-gap-v btn-primary">Cancel</button>
            <button  type="button" ng-click="closePage()" class="btn btn-w-md btn-gap-v btn-default">Close</button>
            <!--<button  type="button" ng-show="isReviewMode" ng-click="refreshButton()" class="btn btn-w-md btn-gap-v btn-primary pull-right">Refresh button</button>-->
            <button ng-show="widget.id" type="button" ng-click="reviewButton()" class="btn btn-w-md btn-gap-v btn-primary pull-right">{{isReviewMode ? "Hide" : "Review"}}</button>
        </div>
    </form>
</div>
