<div class="page">
    <section class="panel">
        <form class="panel-body" name="contactEditForm">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group" ng-class="{ 'has-error' : contactEditForm.name.$invalid }">
                        <label class="control-label">Name</label>
                        <input type="text" class="form-control" name="name" required data-ng-model="property.name"  ng-disabled="viewMode">
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : contactEditForm.company_name.$invalid }">
                        <label class="control-label">Type</label>
                        <select ng-disabled="viewMode" class="form-control" data-ng-model="property.type" name="type">
                            <option value="{{i}}" ng-repeat="i in types">{{i}}</option>
                        </select>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : contactEditForm.name.$invalid }">
                        <label class="control-label">Name</label>
                        <input type="text" class="form-control" name="index" required data-ng-model="property.index"  ng-disabled="viewMode">
                    </div>

                    <button type="button" ng-disabled="name.$invalid" ng-click="addProperty()" class="btn btn-w-md btn-gap-v btn-success">Add</button>


                    <div class="table-responsive" >

                        <div class="row text-center" ng-if="!properties || properties.length == 0">
                            <div class="center-block col-md-4" style="float: none;">
                                <h1 aria-hidden="true"><i aria-hidden="true" class="fa fa-meh-o"></i></h1>
                                <h2>No results found</h2>
                            </div>
                        </div>
                        <table style="width: 100%; display:block;" ng-show="properties.length > 0" st-safe-src="properties" class="table table-hover">
                            <thead>
                            <tr>
                                <th style="width: 30%" st-skip-natural="true">Name</th>
                                <th style="width: 30%" st-skip-natural="true">Type</th>
                                <th style="width: 30%" st-skip-natural="true">Index</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="row in properties track by $index">
                                <td style="width: 55%">
                                    <span>{{row.name}}</span>
                                </td>
                                <td style="width: 45%">
                                    <span>{{row.type}}</span>
                                </td>
                                <td style="width: 45%">
                                    <span>{{row.index}}</span>
                                </td>
                                <td style="width: 10%; min-width: 83px; text-align: end;">
                                    <a href="javascript:;" ng-click="deleteProperty($index)" class="btn-icon btn-icon-sm  btn-gap-v btn-default"><i class="glyphicon glyphicon-remove"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>

        </form>

        <div class="panel-footer">
            <button ng-show="isEdit && !viewMode" type="button" ng-disabled="contactEditForm.$invalid" ng-click="saveProperties()" class="btn btn-w-md btn-gap-v btn-success">Save</button>
            <button ng-show="isEdit && !isNew && !viewMode"  ng-click="cancelProperties()" type="button" class="btn btn-w-md btn-gap-v btn-primary">Cancel</button>
            <button  type="button" ng-click="closePage()" class="btn btn-w-md btn-gap-v btn-default">Close</button>
        </div>
    </section>
</div>