<div class="modal-header">
    <h3 class="modal-title">Create contact</h3>
</div>
<div class="modal-body">
    <form name="contactForm">
        <div class="row">
            <div class="col-sm-12">
                <div style="text-align: center;">
                    <img id="avatar" class="img-circle mini-avatar" src="/modules/contacts/profile-user.svg">
                    <a href="javascript:;" ng-click="deleteImg()" class="btn-icon btn-icon-sm  btn-gap-v btn-default clear-button mini-clear">
                        <i class="fa fa-times" style="vertical-align: text-top; font-weight: 600;"></i>
                    </a>
                    <span class="btn btn-icon btn-icon-sm  btn-gap-v btn-info btn-file upload-button mini-upload">
                            <i class="fa fa-upload" style="vertical-align: text-top;"></i>
                            <input type="file" nv-file-select="" uploader="uploader" accept="image/*">
                        </span>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : contactForm.name.$invalid }">
                    <label class="control-label">Name</label>
                    <input type="text" class="form-control" name="name" required ng-model="contact.name"> </input>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group" ng-class="{ 'has-error' : contactForm.company_name.$invalid }">
                    <label class="control-label" for>Company name</label>
                    <input type="text" class="form-control" name="company_name" ng-model="contact.company_name"> </input>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group" ng-class="{ 'has-error' : contactForm.job_name.$invalid }">
                    <label class="control-label" for>Job title</label>
                    <input  type="text" class="form-control" name="job_name" ng-model="contact.job_name"> </input>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="row" style="margin-left: -10px">
                    <label style="padding-left: 12px;">Communications</label>
                    <table class="table">
                        <thead >
                        <tr>
                            <th class="text-center" style="border-bottom: unset">
                                <input type="text" class="form-control" name="number" ng-model="number"> </input>
                            </th>
                            <th style="border-bottom: unset">
                                <ui-select name="communication_type"  ng-model="communication_type.value" theme="bootstrap"  title="Choose a communication type">
                                    <ui-select-match placeholder="Select or search type...">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices refresh="getCommunications()" repeat="c in communication_types | filter: $select.search">
                                        <span ng-bind-html="c.name | highlight: $select.search"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </th>
                            <th class="text-center" style="border-bottom: unset">
                                <button class="btn btn-default" ng-click="addCommunication()">Add</button>
                            </th>
                        </tr>
                        </thead>

                        <tbody class="text-center">

                        <tr ng-repeat="row in communications">
                            <td style="text-align: left;">
                                <span style="margin-left: 12px;">{{row.number}}</span>
                            </td>
                            <td style="text-align: left;">
                                <span style="margin-left: 12px;">{{row.type_name}}</span>
                            </td>
                            <td>
                                <a href="javascript:;" ng-disabled="viewMode" ng-click="removeComm(row);" class="btn-icon btn-icon-sm  btn-gap-v btn-default"><i class="glyphicon glyphicon-remove"></i></a>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="form-group">
                    <label class="control-label" for>Description</label>
                    <textarea class="form-control" name="description" ng-model="contact.description" style="max-width: 568px;"> </textarea>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-success" ng-disabled="contactForm.$invalid" type="button" ng-click="ok()">Save</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
</div>