<div class="page">
	<div class="panel">

		<div class="panel-body">

            <div class="row">
                <div class="col-sm-12">
                    <div class="no-border pull-left">
                        <a  ng-if="canCreate" ng-disabled="!domain" href="javascript:;" ng-click="create()" style="padding: 0" class="btn btn-icon btn-icon-sm  btn-gap-v btn-success">
                            <i class="fa fa-plus"></i>
                        </a>

                        <a ng-click="reloadData()" ng-disabled="!domain" href="" style="padding: 0" class="btn btn-icon btn-icon-sm  btn-gap-v btn-dark">
                            <i class="glyphicon glyphicon-refresh"></i>
                        </a>

                        <span class="btn btn-icon btn-icon-sm  btn-gap-v btn-dark btn-file"  ng-disabled="!domain" ng-if="canCreate" style="padding: 0">
                            <i class="glyphicon glyphicon-cloud-upload"></i>
                            <input type="file" nv-file-select="" uploader="uploaderImport" accept=".vcf">
                        </span>

                        <a href="#/contactEditor?domain={{domain}}" ng-disabled="!domain" style="padding: 0" class="btn btn-icon btn-icon-sm  btn-gap-v btn-info">
                            <i class="glyphicon glyphicon-cog"></i>
                        </a>
                    </div>


                    <div class="form-group pull-right ">
                        <div class="col-sm-10">
                            <input  data-ng-model="query"  type="search" class="form-control no-border text-right" placeholder="Search term">
                            <span class="icon glyphicon glyphicon-search"></span>
                        </div>
                    </div>

                </div>
            </div>

            <div class="table-responsive"  style="position: relative;">
                <div class="row text-center" ng-if="!rowCollection || rowCollection.length == 0">
                    <div class="center-block col-md-4" style="float: none;">
                        <h1 aria-hidden="true"><i aria-hidden="true" class="fa fa-meh-o"></i></h1>
                        <h2>No results found</h2>
                    </div>
                </div>

                <table ng-show="rowCollection.length > 0" wt-responsive-table st-table="rowCollection" infinite-scroll-disabled="isLoading"
                       infinite-scroll="callServer" st-pipe="callServer" class="table">
                    <thead>
                        <tr ng-show="rowCollection.length > 0">
                            <th style="width: 20%" st-skip-natural="true" st-sort="name" >Name</th>
                            <th style="width: 20%" st-skip-natural="true" st-sort="company_name" >Company</th>
                            <th style="width: 20%" st-skip-natural="true" st-sort="job_name" >Job</th>
                            <th style="width: 10%" st-skip-natural="true" st-sort="description" >Description</th>
                            <th style="width: 10%; min-width: 116px; text-align: end;">
                                Count: {{rowCollection.length}}
                            </th>
                        </tr>
                    </thead>
                    <tbody ng-show="rowCollection.length > 0">
                        <tr ng-repeat="row in rowCollection">
                            <td >
                                <a ng-if="canUpdate" href="#/contacts/{{row.id}}/edit">
                                    {{row.name}}
                                </a>
                                <div ng-if="!canUpdate">
                                    {{row.name}}
                                </div>
                            </td>
                            <td >{{row.company_name}}</td>
                            <td >{{row.job_name}}</td>
                            <td >{{row.description}}</td>
                            <td style="text-align: end">
                                <a href="javascript:;" ng-click="createVCard(row)" class="btn-icon btn-icon-sm  btn-gap-v btn-default"><i class="glyphicon glyphicon-cloud-download"></i></a>
                                <a href="#/contacts/{{row.id}}/edit?domain={{domain}}" ng-if="canUpdate" class="btn-icon btn-icon-sm  btn-gap-v btn-default"><i class="glyphicon glyphicon-pencil"></i></a>
                                <a href="#/contacts/{{row.id}}/view?domain={{domain}}" ng-if="viewMode" class="btn-icon btn-icon-sm  btn-gap-v btn-default"><i class="glyphicon glyphicon-file"></i></a>
                                <a href="javascript:;" ng-click="delete(row)" ng-if="canDelete" class="btn-icon btn-icon-sm  btn-gap-v btn-default"><i class="glyphicon glyphicon-remove"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
		</div>
	</div>
</div>
