<div class="row">
    <div class="col-sm-10">
        <div class="form-group" ng-class="{ 'has-error' : isNew && !number}">
            <label class="control-label">Number</label>
            <input ng-disabled="viewMode" ng-keyup="changeNumberCtrl($event.keyCode, number)" class="form-control" type="text" ng-model="number" >
        </div>
    </div>
    <div class="col-sm-2">
        <div class="no-border pull-left">
            <label class="control-label">Actions</label>
            <br>
            <a   ng-click="addNumber(number)" ng-disabled="!domain || viewMode" style="padding: 0" class="btn btn-icon btn-icon-sm  btn-gap-v btn-dark">
                <i class="fa fa-plus"></i>
            </a>

            <a ng-click="reloadData()" ng-disabled="!domain || viewMode" style="padding: 0" class="btn btn-icon btn-icon-sm  btn-gap-v btn-dark">
                <i class="glyphicon glyphicon-refresh"></i>
            </a>

        </div>
    </div>
</div>

<div ng-if="!isNew" class="table-responsive" style="position: relative;">
    <div ng-show="isLoading || processImport" class="loading text-center">
        <span>
            <i class="fa fa-spinner fa-5x fa-spin"></i>
        </span>
    </div>

    <div class="row text-center" ng-if="!numbersRowCollection || numbersRowCollection.length == 0">
        <div class="center-block col-md-4" style="float: none;">
            <h1 aria-hidden="true"><i aria-hidden="true" class="fa fa-meh-o"></i></h1>
            <h2>No results found</h2>
        </div>
    </div>

    <table class="table table-hover table-condensed" ng-show="numbersRowCollection.length > 0"
           wt-responsive-table infinite-scroll-disabled="isLoading"
           style="table-layout: fixed;"
           st-table="numbersRowCollection" infinite-scroll="callServer"  st-pipe="callServer">
        <thead>
        <tr style="font-weight: bold">
            <th colspan="2">
                Number
            </th>
        </tr>
        </thead>

        <tbody style="word-break: break-word;">
        <tr ng-repeat="row in numbersRowCollection" >
            <td style="width: 70%" rowspan="{{$odd ? 1 : 2}}">
                <span ng-disabled="viewMode" editable-text="row.number" required  e-name="number" e-form="rowform">
                    {{ row.number }}
                </span>

                <div class="pull-right">
                    <form  name="rowform" editable-form ng-show="rowform.$visible" class="form-buttons form-inline" >
                        <button type="submit" value="Submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
                            <i class="glyphicon glyphicon-save"></i>
                        </button>
                        <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default">
                            <i class="glyphicon glyphicon-repeat"></i>
                        </button>
                    </form>
                    <div class="buttons pull-right" ng-show="!rowform.$visible">
                        <!--<button class="btn btn-default" ng-click="rowform.$show()">-->
                        <!--<i class="glyphicon glyphicon-pencil"></i>-->
                        <!--</button>-->
                        <button ng-disabled="viewMode" class="btn btn-sm btn-default" ng-click="removeNumber(row.number)">
                            <i class="glyphicon glyphicon-remove"></i>
                        </button>
                    </div>
                </div>
            </td>

            <!--<td style="width: 30%"  rowspan="{{$odd ? 1 : 2}}" style="white-space: nowrap">-->
                <!--&lt;!&ndash; form &ndash;&gt;-->
                <!---->
            <!--</td>-->
        </tr>
        </tbody>
    </table>

</div>