<div class="page">

    <form class="panel" name="defaultForm">
    	<!-- {{default}} -->
        <!--<div class="panel-heading"><strong>Domain: {{domain.name}}</strong></div>-->
		<div class="panel-body" ng-show="diagramOpened" style="position: relative; padding: 0;">
			<div class="row" style="height: -webkit-fill-available; height: -moz-available; margin-bottom: -10px;">
				<div id='root'></div>
			</div>
			<div class="row" style="position: absolute; bottom: 10px; left: 40%;">
				<button ng-show="!viewMode" type="button" ng-click="saveDiagram()" class="btn btn-w-md btn-gap-v btn-success">Save</button>
				<button ng-click="openDiagram(false)" type="button" class="btn btn-w-md btn-gap-v btn-primary">Back</button>
			</div>
		</div>
        <div class="panel-body" ng-hide="diagramOpened" style="position: relative;">

            <div class="row">

            	<div class="col-sm-12">

					<div class="col-sm-4">
						<div class="form-group" ng-class="{ 'has-error' : defaultForm.name.$invalid }">
							<label class="control-label">Name</label>
							<input ng-disabled="viewMode" type="text" required class="form-control" name="name"  placeholder="Name" ng-model="default.name">
						</div>
					</div>

					<div class="col-sm-4">
						<div class="form-group" ng-class="{ 'has-error' : defaultForm.number.$invalid }">
							<label class="control-label">Number</label>
							<input ng-disabled="viewMode" type="text" required class="form-control" name="number" placeholder="Number" ng-model="default.destination_number">
						</div>
					</div>

					<div class="col-sm-3">
						<div class="form-group" ng-class="{ 'has-error' : defaultForm.timezone.$invalid }">
							<label class="control-label">Time zone</label>
							<input ng-disabled="viewMode" required name="timezone" typeahead-editable="false" typeahead-focus-on-select="true" typeahead-select-on-exact="true" typeahead-on-select="onSelectTimeZone" type="text" class="form-control"  placeholder="Time zone" ng-model="default.fs_timezone"  typeahead="zone as zone.name for zone in timeZones | filter:{name:$viewValue}" >
						</div>
					</div>
					<div class="col-sm-1">
						<div class="form-group" >
							<label class="control-label">Disabled</label>
							<label style="width: 100%;" class="switch switch-danger"><input ng-disabled="viewMode" type="checkbox" ng-model="default.disabled"><i></i></label>
						</div>
					</div>

					<div class="form-group" >

					</div>

            	</div>

            </div>
			<div class="row">
				<div class="col-md-12">
					<div class="ui-tab-container ui-tab-dark">
					<div class="ui-tab">
						<tabset>
							<tab select="changeTab(true)">
								<tab-heading>
									<span>Callflow</span>
								</tab-heading>
								<div class="form-group">
									<div ng-readonly="viewMode||visualCfEnabled" ng-model="$parent.cf" ui-ace="{
									  onLoad: aceLoaded,
									  onChange: aceChanged,
									  useWrapMode : true,
									  showGutter: true,
									  theme:'github',
									  mode: 'json',

									  require: ['ace/ext/language_tools'],
									  advanced: {
										  enableSnippets: true,
										  enableBasicAutocompletion: true,
										  enableLiveAutocompletion: true
									  }
									}" class="json-control">

									</div>
								</div>
							</tab>

							<tab select="changeTab(false)">
								<tab-heading>
									<span>On disconnect</span>
								</tab-heading>
								<div class="form-group">
									<div ng-readonly="viewMode||visualOnDiscEnabled" data-ng-model="$parent.cfOnDisconnect" ui-ace="{
									  useWrapMode : true,
									  showGutter: true,
									  theme:'github',
									  mode: 'json',
									  onLoad: aceLoaded,
									  onChange: aceChanged,
									  require: ['ace/ext/language_tools'],
									  advanced: {
										  enableSnippets: true,
										  enableBasicAutocompletion: true,
										  enableLiveAutocompletion: true
									  }
									}" class="json-control">

									</div>
								</div>
							</tab>
						</tabset>
					</div>
				</div>
				</div>
			</div>

        </div>

        <div class="panel-footer" ng-hide="diagramOpened">
            <button ng-show="isEdit && !viewMode" type="button" ng-disabled="defaultForm.$invalid" ng-click="save()" class="btn btn-w-md btn-gap-v btn-success">Save</button>
            <button ng-show="isEdit && !isNew && !viewMode"  ng-click="cancel()" type="button" class="btn btn-w-md btn-gap-v btn-primary">Cancel</button>
            <button  type="button" ng-click="closePage()" class="btn btn-w-md btn-gap-v btn-default">Close</button>
			<button ng-click="openDiagram(true)" type="button" class="btn btn-w-md btn-gap-v btn-dark">Visual designer</button>
			<button ng-click="disableVisual()" ng-show="(visualCfEnabled && isCf) || (visualOnDiscEnabled && !isCf)" type="button" class="btn btn-w-md btn-gap-v btn-danger pull-right">Disable visual</button>
        </div>
    </form>
</div>