<section  class="panel panel-box">
    <div class="panel-top bg-dark">
        <i class="fa fa-sitemap text-large"></i>
    </div>
    <div class="panel-bottom bg-reverse ">

        <div class="row">
            <div class="col-sm-3">
                <a href="/#/callflows/default">
                    <span class="size-h3 text-muted" data-i18n="Default"></span>
                </a>
            </div>

            <div class="col-sm-3">
                <a href="/#/callflows/public">
                    <span class="size-h3 text-muted" data-i18n="Public"></span>
                </a>
            </div>

            <div class="col-sm-3">
                <a href="/#/callflows/extension">
                    <span class="size-h3 text-muted" data-i18n="Extension"></span>
                </a>
            </div>

            <div class="col-sm-3">
                <a href="/#/callflows/blacklists">
                    <span class="size-h3 text-muted" data-i18n="Blacklist">Blacklist</span>
                </a>
            </div>
        </div>
    </div>
</section>