<section  class="panel panel-box">
    <div class="panel-top bg-dark">
        <i class="fa fa-sitemap text-large"></i>
    </div>
    <div class="panel-bottom bg-reverse ">


        <div class="col-sm-4">
            <a href="/#/callflows/default">
                <p class="size-h1 text-muted">Default</p>
            </a>
            <p class="text-muted"></p>
        </div>

        <div class="col-sm-4">
            <a href="/#/callflows/public">
                <p class="size-h1 text-muted">Public</p>
            </a>
            <p class="text-muted"></p>
        </div>

        <div class="col-sm-4 ">
            <a href="/#/callflows/extension">
                <p class="size-h1 text-muted">Extension</p>
            </a>
            <p class="text-muted"></p>
        </div>
    </div>
</section>