<section  class="panel panel-box">
    <div class="panel-top bg-dark">
        <i class="fa fa-tasks text-large"></i>
    </div>
    <div class="panel-bottom bg-reverse ">

        <div class="row">
            <div class="col-sm-4">
                <a href="/#/directory/contacts">
                    <span class="size-h3" style="color:#767676;" data-i18n="Contacts">Contacts</span>
                </a>
            </div>

            <div class="col-sm-4">
                <a href="/#/directory/accounts">
                    <span class="size-h3 " style="color:#767676;" data-i18n="Accounts">Accounts</span>
                </a>
            </div>

            <div class="col-sm-4">
                <a href="/#/directory/vmail">
                    <span class="size-h3" style="color:#767676;" data-i18n="Voice mail">Voice mail</span>
                </a>
            </div>
        </div>
    </div>
</section>