<section  class="panel panel-box">
    <div class="panel-top bg-dark">
        <i class="fa fa-tasks text-large"></i>
    </div>
    <div class="panel-bottom bg-reverse ">

        <div class="row">
            <div class="col-sm-4">
                <a href="/#/queue/acd">
                    <span class="size-h3" style="color:#767676;" data-i18n="ACD"></span>
                </a>
            </div>

            <div class="col-sm-4">
                <a href="/#/queue/dialer">
                    <span class="size-h3 " style="color:#767676;" data-i18n="Dialer">Dialer</span>
                </a>
            </div>

            <div class="col-sm-4">
                <a href="/#/queue/callback">
                    <span class="size-h3" style="color:#767676;" data-i18n="Callback">Callback</span>
                </a>
            </div>
        </div>
    </div>
</section>