<div class="row">
    <div class="col-sm-6">

        <a ng-disabled="disableAction" ng-click="add()" style="padding: 0" class="btn btn-icon btn-icon-round btn-icon-sm  btn-gap-v bg-success">
            <i class="fa fa-plus"></i>
        </a>

        <a ng-disabled="disableAction" ng-if="onSave" ng-click="onSave(collection)" style="padding: 0" class="btn btn-icon btn-icon-round btn-icon-sm  btn-gap-v bg-success">
            <i class="fa fa-save"></i>
        </a>
        <a ng-disabled="disableAction" ng-if="onReload" ng-click="onReload(collection)" style="padding: 0" class="btn btn-icon btn-icon-round btn-icon-sm  btn-gap-v bg-primary">
            <i class="glyphicon glyphicon-refresh"></i>
        </a>
    </div>
</div>

<div class="row text-center ng-scope" ng-if="!collection || collection.length == 0">
    <div class="center-block col-md-4" style="float: none;">
        <h1 aria-hidden="true"><i aria-hidden="true" class="fa fa-meh-o"></i></h1>
        <h2>No results found</h2>
    </div>
</div>

<div class="row"  ng-if="collection.length > 0">
    <div class="col-sm-12">
        <table class="table table-hover table-condensed" style="table-layout: fixed; word-wrap: break-word;">
            <thead>
            <tr>
                <th style="width:39%;">Key </th>
                <th style="width:40%;">Value</th>
                <th style="width:21%;"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="(key, row) in collection">

                <td ng-hide="row._new && editingData[key]">
                    <span >{{row.key}}</span>
                </td>
                <td ng-show="row._new && editingData[key]">
                    <input type="text" class="form-control" ng-model="row.key" typeahead="itm for itm in dictionary | filter:$viewValue | limitTo:8">
                </td>

                <td ng-if="!editingData[key]">
                    <span >{{row.value}}</span>

                </td>
                <td ng-if="!!editingData[key]">
                    <input  type="text" class="form-control" ng-model="row.value">
                </td>
                <td >
                    <a ng-click="edit(key, row)" ng-show="!editingData[key]" class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i></a>

                    <a ng-click="save(key, row)" ng-show="editingData[key]" class="btn btn-primary"><i class="glyphicon glyphicon-save"></i></a>

                    <a ng-click="remove(key, row)" class="btn btn-default"><i class="glyphicon glyphicon-remove"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>